/*- General Styles -----------------------------------------------------------*/
body {
	background: url('../images3/bg.jpg') repeat 0 0;
	color: #616161;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
}
.wrapper {
	width: 960px;
	margin: 0 auto;
}
.clear {
	clear: both;
	text-indent: -9999px;
}
html, body {
   margin:0;
   padding:0;
   height:100%;
}
/*- End of General Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Main Styles -----------------------------------------------------------*/

#main {
	background: url("../images3/main.png") repeat-x scroll 0 -4px transparent;
	min-height:100%;
   position:relative;
}

#main > .wrapper {
	position: relative;
	padding-bottom:300px;
}
#main > .wrapper > img.bg {
	left: -127px;
	position: absolute;
	top: 6px;
}
#main .wrapper .left {
	float: left;
	text-align: center;
	width: 480px;
	margin-top:3px;
}
#main .wrapper .left .bg_stars {
	background:url("../images3/bg.png") no-repeat scroll -20px -70px;
}
#main .wrapper .left img.icon {
	margin: 50px 0 20px;
	position: relative;
	z-index: 100;
}

#main .wrapper .right {
	float: right;
	text-align: center;
	text-shadow: 0 1px 0 #ffffff;
	width: 422px;
	padding-top: 111px;
}

#main .wrapper .right p {
	font-size: 35px;
	font-weight: bold;
	color: #0a3b62;
	margin-top: 45px;
}

#main .wrapper .right p span {
	color: #1e74bb;
	display:block;
}

.form-wrapper {
	background: url("../images3/email_bg.png") no-repeat scroll center top transparent;
	position: relative;
	height:128px;
}

.form-wrapper .w3 {
	padding:40px 0 50px;
}
.text {
	padding: 0 40px;
	text-align: center;
	text-shadow: none;
	line-height: normal;
}
.text strong {
	display: block;
	color: #41759f;
	margin-bottom: 4px;
	font-size: 12px;
	cursor: pointer;
}

.text em {
	color: #073153;
	display: block;
	font-size: 11px;
	font-style: normal;
}

.form-wrapper input[type="text"] {
	background: url(../images3/bg-input.png) no-repeat scroll -1px 0 ;
	border:none;
	height: 39px;
	padding: 0 5px 0 37px;
	width: 216px;
	font: 13px helvetica;
	color: #afafaf;
	border-radius:3px;
	margin-top: 2px;
}

.form-wrapper input[type="text"].error {
	border-color: red;
}
.form-wrapper input[type="text"]:focus {
	box-shadow: 0 0 10px #FFFFFF;
}
.form-wrapper input[type="submit"] {
	background: url("../images3/submit.png") no-repeat scroll 0 0 transparent;	
	border:none;
	width: 113px;
	height: 39px;
	cursor: pointer;
	margin-left:5px;
}
.form-wrapper input[type="submit"]:hover {
	background-position:bottom left;
}
.form-wrapper img.curiousity {
	left: -75px;
	position: absolute;
	top: 20px;
}

.form-wrapper label.error {    
	color: red;
    font-size: 12px;
    left: 100px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 35px;
    width: 100%;
}
.message {
	font-size: 16px;
	font-weight: bold;	
	color: #4a7eac;
	text-shadow: 0 1px 0 #fff;
}
.message img {
	vertical-align: middle;
	margin-right: 5px;
}
.social {
	overflow: hidden;
	padding-bottom: 200px;	
}
.w2 {
   float:left;
   width:100%;
   overflow:hidden;
   position:relative;
   margin-top: 50px;
}

.w2 > ul {
	list-style: none;
	clear:left;
	float:left;
	margin:0;
	padding:0;
	position:relative;
	left:50%;
	text-align:center;
}

.w2 > ul li {
	line-height: 23px;
	margin: 0 14px;
	float:left;
	padding:0;
	position:relative;
	right:50%;
}

.w2 > ul li a {
	text-decoration: none;
	line-height: 23px;
	color: #4a7eac;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 0 1px 0 #fff;
}

.w2 > ul li a:hover {
	color: #2d5e8a;
}

.w2 > ul li a img {
	vertical-align: middle;
	margin-right: 10px;
}

/*- End of Main Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Facebook App Styles -----------------------------------------------------------*/

.facebook .wrapper {
	width: 760px;
}

.facebook #main .wrapper .left {
	width: auto;
	float: none;
}

.facebook #main .wrapper .left img {
	margin-top: 6px;
}

.facebook #main .wrapper .left img + img {
	margin-top: 0;
}

.facebook #main .wrapper .right {
	float: none;
	padding: 0;
	width: auto;
}

.facebook #main .wrapper .right .form-wrapper {
	margin: 10px auto 0;
	width: 422px;
}

.facebook #main .wrapper .right p {
	margin-bottom: 10px;
}

/*- End of Facebook App Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Footer Styles -----------------------------------------------------------*/
.facebook #footer {
	display: none;
}

#footer {
	color: #73a8d4;
	font-size: 11px;
	text-align: center;
	text-shadow: 0 1px 0 #FFFFFF;
	line-height: 20px;
	height:82px;
	position:absolute;
	   bottom:0;
	   width:100%;
}

#footer img {
	margin:0 10px 5px 0;
}
#footer .w1 {

}
#footer p {
	float:left;
	color:#c2c2c2;
	text-shadow:none;
	font:bold 12px/18px Helvetica, Arial, sans-serif;
}
#footer p span {
	color:#C2C2C2;
	display:block;
	font:normal 11px/18px Helvetica, Arial, sans-serif;
	text-align:left;
}
#footer p img {
	float:left;
}
#footer ul {
	float:right;
	overflow:hidden;
	list-style:none;
}
#footer ul li {
	float:left;
	margin-left:10px;	
}
#footer ul li a {
	color:#c2c2c2;
	text-shadow:none;
	font:bold 11px/14px Helvetica, Arial, sans-serif;
	text-decoration:none;
}
#footer ul li a:hover {
	color:#60B5F7;}
#footer .bg_mail {
	background:url(../images3/email_bg.png) no-repeat center top;
	position:absolute;	
	height:40px;
	width:100%;
	margin:0 auto;
}	
#footer .bottom {
	background: url(../images3/transparency-2.png) no-repeat top center #2a2a2a;
	background-color:#2a2a2a;
	height:62px;
	padding-top:20px;
}
.email-form {
	width:960px;
	margin:0 auto;
	position:relative;
}
.email-form label {
	float:left;
	display:inline-block;
	margin-left: 170px;
	margin-right: 18px;
	padding-top: 7px;
}
.popUp {
	background: url("../images3/white-box.png") no-repeat scroll 0 0 transparent;
    height: 113px;
	left: -200px;
    position: absolute;
    top: -116px;
    width: 249px;
	display:none;
}
.popUp h4 {
	font:bold 12px/18px Helvetica, Arial, sans-serif;
	color:#303030;
	padding: 20px 0 4px;
	text-align: center;
}
.popUp p {
	color:#707070;
	font:normal 12px/15px Helvetica, Arial, sans-serif;
	text-align:center;
	padding:0 10px;
}
.message-sent{
	margin: 0 auto;
    position: relative;
    width: 375px;
	font:bold 16px/18px Helvetica, Arial, sans-serif;
	color:#215681;
	text-align:center;
	padding-top:20px;
	display:none;
}
<strong>.message-sent h4</strong> {
	background:url(../images3/ico-5.png) no-repeat left 50%;
}

















#main .cont {
	width: 960px;
	margin: 0 auto;
	padding-bottom: 82px;
}

#main .cont .top{
	background: url(https://developer.tripfab.com/images3/cmsn-top.png) no-repeat  center top;
	height: 218px;
	padding-top: 44px;
}
#main .cont .top h1 {
	background: url(https://developer.tripfab.com/images3/cmsn-logo.png) no-repeat 0 0 ;
	display: block;
	width: 219px;
	height: 57px;
	margin: 0 auto 37px !important;
	text-indent: -99999px;
	margin-bottom: 20px; 
}
#main .cont .top h2 {
	font: bold 32px/42px Helvetica;
	text-align: center;
	color: #073153;
	text-shadow: 0px 1px 0px #FFF;
}
#main .cont .mid {
	background: url(https://developer.tripfab.com/images3/cmsn-countBG.png) no-repeat 0 0;
	height: 186px;
}
#main .cont .mid h3 {
	font: bold 13px Helvetica;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-align: center;
	padding-top: 21px;
	color: #457db0;
	text-shadow: 0px 1px 0px #FFF;
	margin-bottom: 14px;
}
#main .cont .inner {
	padding-left: 239px;
	    padding-top: 6px;
	    background: url(https://developer.tripfab.com/images3/countBG.png) 240px 0 no-repeat;
	    height: 104px !important;
}
#main .cont .counter {
	padding-left: 7px;
}
#main .cont .counter > .cntSeparator {
	display: none;
}
#main .cont .counter #cnt_1,
#main .cont .counter #cnt_4,
#main .cont .counter #cnt_7 {
	margin-right: 14px;
}
/*#main .cont .mid .each {
	background: url(https://developer.tripfab.com/images3/cmsn-count.png) no-repeat 0 0;
	width: 116px;
	height: 105px;
	margin-right: 5px;
	float: left;
	padding-top: 5px;
}

#main .cont .mid .each .num {
	width: 53px;
	height: 78px;
	background-color: red;
	margin-left: 3px;
	float: left;
	margin-bottom: 5px;
}*/
#main .cont .mid .each em {
	text-align: center;
	color: #303030;
	font: bold 13px Helvetica;
	text-transform: uppercase;
	display: block;
	clear: both;
}
#main .cont .features {
	overflow: hidden;
	padding-top: 46px;
	padding-bottom: 43px;
}
#main .cont .features .single{
	width: 294px;
	margin-left:8px;
	float: left;
	margin-right: 34px;
}
#main .cont .features .single.last {
	margin: 0;
	width: 284px;
}
#main .cont .features .single h4 {
	color: #073153;
	text-transform: uppercase;
	height: 34px;
	font: bold 14px/34px Helvetica;
	margin-bottom: 7px;
}
#main .cont .features .single h4 span {
	display: block;
	float: left;
	background: url(https://developer.tripfab.com/images3/cmsn-icons.png) no-repeat;
	height: 34px;
	width: 42px;
	margin-right: 10px;
}
#main .cont .features .single h4 .location {
	background-position:0 0 ;
}
#main .cont .features .single h4 .create {
	background-position: 0 -48px;
}
#main .cont .features .single h4 .commission {
	background-position: 0 -97px;	
}
#main .cont .features .single p {
	color: #3e82b9;
	font: normal 13px/19px Helvetica;
	margin-left: 51px;
}







/*- End of Footer Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/