#header.in2 {
	height: 62px;
}
#header.in2 .logo {
	padding-top: 5px;
}
#header.in2 .contact {
	float: right;
	width: 430px;
	padding-top: 13px;
}
#header.in2 .contact a{
	color: #17520f;
	font: bold 14px/32px Helvetica;
	height: 32px;
	width: 114px;
	padding: 0;
	float: right;
	text-shadow: 0 1px 0 #bddf8f;
}
#header.in2 .contact p {
	color: #FFF;
	float: left;
	text-align: right;
	width: 300px;
	height: 22px;
	font: bold 14px/22px Helvetica;
	margin-top: 8px;
}
#header.in2 .contact p strong {
	background: url("https://static.tripfab.com/images6/trip2All1.png") no-repeat -19px 0;
	display: inline-block;
	height: 22px;
	padding-left: 35px;
	margin-left: 10px;
}
.subHeader {
	background-color: #FFF;
    box-shadow: 0 1px 0px 0 #d8d8d8;
    height: 29px;
    position: relative;
    width: 100%;
    z-index: 900;
}
.subHeader .cntrl {
    height: 18px;
    margin: 0 auto;
    padding-top: 9px;
    width: 960px;
}
.subHeader .cntrl .home {
	background: url("https://static.tripfab.com/images6/icons-llt.png") no-repeat scroll -346px -5px transparent;
    display: block;
    height: 11px;
    width: 14px;
} 
.subHeader ul {
	float: left;
}
.subHeader ul li {
	background: url("https://static.tripfab.com/images6/slash.png") no-repeat scroll right 50% transparent;
	float: left;
	font: 11px Helvetica;
	padding-left: 12px;
	padding-right: 16px;
}
.subHeader ul li.first {
	padding-left: 0;
	padding-right: 14px;
}
.subHeader ul li a {
	color: #959595 ;
}
.subHeader ul li a:hover {
	color: #60B5F7;
}
.subHeader .link1 {
	float: right;
	font-size: 11px;
}
#trip_all2 #content {
	width: 960px;
	margin: 0 auto;
	padding-top: 20px;
}
#trip_all2 #content > .left {
	width: 650px;
	float: left;
}
#trip_all2 .left .offer {
	width: 650px;
	height: 64px;
	background-color: #fefbce;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow: 0px 1px 0px 0 #cfcfcf;
	border-bottom: 1px solid #fefde5;
	position: relative;
	margin-bottom: 15px;
}
#trip_all2 .left .offer .hurry {
	display: block;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
	background: url(https://static.tripfab.com/images6/trip2All1.png) no-repeat 0 -58px;
}
#trip_all2 .left .offer .text {
	float: left;
	width: 230px;
	padding: 14px 0 0 50px;
}
#trip_all2 .left .offer h2 {
	font: bold 20px Helvetica;
	color: #303030;
	margin-bottom: 2px;
}
#trip_all2 .left .offer h3 {
	font: bold 14px Helvetica;
	color: #303030;
}
#trip_all2 .left .offer .counter {
	float: right;
}
#trip_all2 .left .offer .each {
	width: 86px;
	height: 56px;
	float: left;
	text-align: center;
	margin-top: 6px;
	border-right: 1px solid #f6f090;
	border-left: 1px solid #fffef3;
}
#trip_all2 .left .offer .each.first {
	border-left: none;
}
#trip_all2 .left .offer .each.last {
	border-right: none;
}
#trip_all2 .left .offer .each strong {
	color: #f26522;
	font: bold 28px/35px Helvetica;
	display: block;
	height: 35px;
	width: 86px;
}
#trip_all2 .left .offer .each span {
	font: 100 12px Helvetica;
	color: #303030;
	display: block;
	text-transform: uppercase;
}
#trip_all2 .left .picture {
	width: 650px;
	height: 350px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	box-shadow: 0px 0px 2px 0px #a1a1a1;
	position: relative;
	margin-bottom: 30px;
}
#trip_all2 .left .image {
	position: relative;
	width: 650px;
	height: 285px;
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-o-border-radius: 4px 4px 0 0;
	overflow: hidden;
	display: none;
}
#trip_all2 .left .image.show {
	display: block;
}
#trip_all2 .left .image .title {
	height: 48px;
	background: url(https://static.tripfab.com/images6/trip2All2.png) repeat 0 0;
	position: absolute;
	width: 650px;
	top: 0;
	left: 0;
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-o-border-radius: 4px 4px 0 0;
}
#trip_all2 .left .image .title h2 {
	color: #FFF;
	font: 100 24px/48px Helvetica;
	text-indent: 20px;
	float: left;
	width: 500px;
}
#trip_all2 .left .image .title h3 {
	background: url(https://static.tripfab.com/images6/trip2All1.png) no-repeat -14px -134px;
	height: 48px;
	width: 105px;
	float: right;
	color: #FFF;
	font: 500 12px/48px Helvetica;
	padding-left: 40px;
	text-transform: uppercase;
}
#trip_all2 .left .image .descrip {
	height: 40px;
	background: url(https://static.tripfab.com/images6/trip2All2.png) repeat 0 0;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 650px;
	color: #FFF;
	font: normal 13px/40px Helvetica;
	text-indent: 20px;
}
#trip_all2 .left .image .descrip a {
	display: block;
	width: 23px;
	height: 23px;
	float: right;
	background: url(https://static.tripfab.com/images6/trip2All1.png) no-repeat -19px -216px;
	margin: 9px 10px 0 0;	
}
#trip_all2 .left .carousel {
	background: url(https://static.tripfab.com/images6/trip2All3.png) repeat-x 0 0;
	width: 650px;
	height: 61px;
	border-bottom: 1px solid #bcbcbc;
	border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	-o-border-radius: 0 0 4px 4px;
	position: absolute;
	bottom: 0;
	left: 0;
}
#trip_all2 .left .carousel .prev {
	width: 30px;
	height: 60px;
	background: url(https://static.tripfab.com/images6/trip2All4.png) no-repeat 5px 17px;
	float: left;
}
#trip_all2 .left .carousel .prev:hover {
	background-position: 5px -28px;
}
#trip_all2 .left .carousel .next {
	width: 30px;
	height: 60px;
	background: url(https://static.tripfab.com/images6/trip2All4.png) no-repeat 7px -72px;
	float: right;
}
#trip_all2 .left .carousel .next:hover {
	background-position: 7px -117px;
}
#trip_all2 .left .carousel ul li {
	float: left;
	width: 59px;
	height: 59px;
	background-color: #000;
}
#trip_all2 .left .carousel ul li img {
	display: block;
	width: 59px;
	height: 59px;
	opacity: 0.6;
}
#trip_all2 .left .carousel ul li:hover img {
	opacity: 1;
}
#trip_all2 .left .features {
	margin-bottom: 20px;
} 
#trip_all2 .left .features h4{
	font: bold 13px Helvetica;
	color: #303030;
	margin-bottom: 8px;
}
#trip_all2 .left .features ul {
	float: left;
	width: 290px;
}
#trip_all2 .left .features ul li {
	padding-left: 20px;
	background: url(https://static.tripfab.com/images6/trip2All1.png) no-repeat -20px -289px;
	margin: 0 0 8px 0;
	font: normal 12px/16px Helvetica;
}
#trip_all2 .left .other {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	box-shadow: 0px 0px 2px 0px #d2d2d2;
	position: relative;
	margin-bottom: 30px;
	background-color: #FFF;
	padding: 30px 28px 0;
}
#trip_all2 .left .other h5 {
	font: bold 14px Helvetica;
	color: #303030;
	margin-bottom: 10px;
}
#trip_all2 .left .other p {
	font: normal 13px/20px Helvetica;
	color: #303030;
	padding-bottom: 15px;
}
#trip_all2 .left .other .single {
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
#trip_all2 .left .other .single.last {
	border: none;
}
#trip_all2 .left .other dt {
	font: bold 13px Helvetica;
}
#trip_all2 .left .other dd {
	font: normal 13px/20px Helvetica;
	color: #303030;
	margin-bottom: 5px;
}
#trip_all2 .left .other ul {
	width: 250px;
	float: left;
	margin-right: 20px;
}
#trip_all2 .left .other ul li {
	padding-left: 20px;
	background: url(https://static.tripfab.com/images6/trip2All1.png) no-repeat -20px -289px;
	margin: 0 0 10px 0;
	font: normal 12px/16px Helvetica;
}
#trip_all2 #content > .right {
	width: 290px;
	float: right;
}
#trip_all2 #content .right .price {
	width: 290px;
	background-color: #fefbce;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow: 0px 1px 0px 0 #cfcfcf;
	position: relative;
	margin-bottom: 20px;
}
#trip_all2 #content .right .price .left {
	float: left;
	width: auto;
	margin: 15px 0 0 20px;
}
#trip_all2 #content .right .price .left .top{
	display: block;
	font: 100 13px Helvetica;
	color: #303030;
}
#trip_all2 #content .right .price .left .mid {
	color: #303030;
	font: bold 49px/49px Helvetica;
	height: 49px;
	display: block;
}
#trip_all2 #content .right .price .left .mid sup{
	font-size: 33px;
	vertical-align: text-top;
}
#trip_all2 #content .right .price .left .mid sup{
	font-size: 33px;
}
#trip_all2 #content .right .price .left .mid sub{
	font-size: 25px;
}
#trip_all2 #content .right .price .left .mid p {
	font:100 13px Helvetica;
}
#trip_all2 #content .right .price .left span.bot {
	margin-bottom: 10px;
	display: block;
}
#trip_all2 #content .right .price .right {
	float: left;
	color: #f26522;
	text-decoration: line-through;
	font: bold 24px Helvetica;
	margin: 48px 0 0 15px;
}
#trip_all2 #content .right .price .right sup {
	font-size: 16px;
	vertical-align: text-top;
}
#trip_all2 #content .right .price .right sub {
	font-size: 16px;
}
#trip_all2 #content .right .price div.bot {
	width: 290px;
	height: 32px;
	background-color: #fff568;
	border-radius:0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	text-align: center;
	color: #f26522;
	font: 100 14px/32px Helvetica;
	text-shadow: 0 1px 0 #fffbc0;
	clear: both;
}
#trip_all2 #content .right .price .bot strong {
	font: bold 17px/32px Helvetica;
}

#trip_all2 #content .right .customize {
	background-color: #FFF;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	box-shadow: 0px 0px 2px 0px #d2d2d2;
	position: relative;
	margin-bottom: 20px;
	padding-top: 1px;
}
#trip_all2 #content .right .customize h5 {
	font: bold 14px/35px Helvetica;
	color: #303030;
	color: #303030;
	text-indent: 22px;
	background-color: #e8f5ff;
	margin: 0 1px 10px;
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-o-border-radius: 4px 4px 0 0; 
}
#trip_all2 #content .right .customize .fields {
	margin: 0;
}
#trip_all2 .customize .accordion {
	width: 272px;
	margin: 0 auto;
}
#trip_all2 .customize .block1 {
	width: 248px;
	margin: 0 auto;
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
#trip_all2 .customize .block1 .date {
	width: 120px;
	float: left;
}
#trip_all2 .customize .block1 .date input[type="text"] {
	width: 70px;
	height: 27px;
	font: normal 12px/27px Helvetica;
	color: #303030;
	float: left;
}
#trip_all2 .customize .block1 .date span {
	display: block;
	height: 24px;
	width: 24px;
	float: left;
	margin-left: 5px;
	background: url("https://static.tripfab.com/images6/trip2All1.png") no-repeat -16px -351px;
}
#trip_all2 .customize .block1 label {
	display: block;
	font: 100 13px Helvetica;
	margin-bottom: 5px;
}
#trip_all2 .customize .block1 .select {
	float: right;
	width: 60px;
}
#trip_all2 .customize .block1 .select select {
	margin-top: 5px;
	height: 18px;
}
#trip_all2 .accordion h6 {
	width: 236px;
	margin: 0 auto;
	height: 32px;
	font: bold 13px/32px Helvetica;
	background: url(https://static.tripfab.com/images6/tripAll7.png) no-repeat left -16px;
	padding-left: 12px;
} 
#trip_all2 .accordion .block2 {
	position: relative;
}
#trip_all2 .accordion h6.ui-state-active {
	background-position: left 13px;
}
#trip_all2 .accordion .block2 .room_tip {
    background-color: #303030;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0 ,0.5);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    display: none;
    left: -380px;
    padding: 10px 20px 20px;
    position: absolute;
    top: -48px;
    width: 350px;
    z-index: 100;
}
#trip_all2 .accordion .block2 tr:hover .room_tip {
    display: block;
}
#trip_all2 .accordion .block2 .room_tip .rw {
    background: url("https://static.tripfab.com/images6/lstng_htl.png") no-repeat scroll -210px -72px transparent;
    display: block;
    height: 16px;
    position: absolute;
    right: -6px;
    top: 53px;
    width: 6px;
}
#trip_all2 .accordion .block2 .room_tip h4 {
    border-bottom: 1px solid #1A1A1A;
    font: bold 13px/18px Helvetica;
    padding: 8px 0;
}
#trip_all2 .accordion .block2 .room_tip .text {
    border-top: 1px solid #404040;
    font: 11px/16px Helvetica;
    padding-top: 10px;
}
#trip_all2 .accordion .block2 .room_tip p {
    margin-bottom: 15px;
}

#trip_all2 .accordion .block2 table tr {
	position: relative;
	display: block;
}
#trip_all2 .accordion .block2 {
	margin-bottom: 10px;
}
#trip_all2 .accordion .block2 label {
	display: block;
	float: left;
	/*width: 150px;*/
	font-size: 12px;
}
#trip_all2 .accordion .block2 label input {
	margin: 0 8px 0 10px;
	width: 13px;
	height: 13px;
}
#trip_all2 .accordion .block2 tr:hover {
	background-color: #e8f5ff;
}
#trip_all2 .accordion .block2 td {
	padding: 4px 0;
	vertical-align: middle;
}
#trip_all2 .accordion .block2 .line {
	border-bottom: 1px solid #e0e0e0;
	height: 10px;
	display: block;
	width: 248px;
	margin: 0 auto;
}
#trip_all2 .accordion .block2 input[type="checkbox"] {
	float: left;
	margin: 1px 8px 0 10px;
}
#trip_all2 .accordion .block2 select {
	margin: 1px 8px 0 10px;
}
#trip_all2 .accordion .block2 .rg {
	text-align: right;
	padding-right: 10px;
	width: 82px;
}
#trip_all2 #content .right .total {
	width: 290px;
	background-color: #fefbce;
	box-shadow: 0px 1px 0px 0 #cfcfcf;
	position: relative;
	padding-bottom: 50px;
	border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	-o-border-radius: 0 0 4px 4px;
}
#trip_all2 #content .right .total .left {
	float: left;
	width: auto;
	margin: 15px 0 0 20px;
}
#trip_all2 #content .right .total .left .top{
	display: block;
	font: bold 17px Helvetica;
	color: #303030;
	margin-bottom: 10px;
}
#trip_all2 #content .right .total .left .mid {
	color: #303030;
	font: bold 40px/40px Helvetica;
	height: 40px;
	display: block;
	margin-bottom: 10px;
}
#trip_all2 #content .right .total .left .mid sup{
	font-size: 27px;
	vertical-align: text-top;
}
#trip_all2 #content .right .total .left .mid sup{
	font-size: 33px;
}
#trip_all2 #content .right .total .left .mid sub{
	font-size: 20px;
}
#trip_all2 #content .right .total .left .mid p {
	font:100 13px Helvetica;
}
#trip_all2 #content .right .total .right {
	float: left;
	color: #f26522;
	text-decoration: line-through;
	font: bold 23px Helvetica;
	margin: 55px 0 10px 15px;
}
#trip_all2 #content .right .total .right sup {
	font-size: 15px;
	vertical-align: text-top;
}
#trip_all2 #content .right .total .right sub {
	font-size: 15px;
}
#trip_all2 #content .right .total .bot {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 290px;
	height: 32px;
	background-color: #fff568;
	border-radius:0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	text-align: center;
	color: #f26522;
	font: bold 16px/32px Helvetica;
	text-shadow: 0 1px 0 #fffbc0;
}
#trip_all2 #content .right .total .bot strong {
	font: bold 17px/32px Helvetica;
}
#trip_all2 #content .right .total .warning {
	background-color: #303030;
    box-shadow: 0 1px 2px 0 #DDDDDD;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
    left: 15px;
    padding: 10px;
    position: absolute;
    top: 145px;
    width: 245px;
    display: block;
    z-index: 10;
}
#trip_all2 #content .right .total .warning .arrow{
	border-bottom: 5px solid #2F2F2F;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display: block;
    height: 0;
    left: 127px;
    position: absolute;
    top: -5px;
    width: 0;
}
#trip_all2 #content .right .total .btn-1 {
	height: 42px;
	font: bold 18px/42px Helvetica;
	color: #17520f;
	text-shadow: 0 1px 0 #bddf8f;
	clear: both;
	margin: 0 20px;
	width: 252px;
	padding: 0;
}
#trip_all2 .talk {
	padding-bottom: 30px;
}
#trip_all2 .talk strong {
	display: block;
	font: bold 14px Helvetica;
	margin-bottom: 10px;
	color: #303030;
	border-bottom: 1px solid #e1e1e1;
	box-shadow: 0 1px 0 0 #FFF;
	padding-bottom: 10px;
}
#trip_all2 .talk span {
	display: block;
	padding-left: 40px;
	font: bold 20px Helvetica;
	background: url(https://static.tripfab.com/images6/trip2All1.png) no-repeat -13px -424px;
	height: 24px;
	font: bold 20px/24px Helvetica;
}
#trip_all2 #checkout {
	width: 960px;
	margin: 20px auto;
}
#trip_all2 #checkout .left {
	width: 650px;
	float: left;
}
#trip_all2 #checkout .right {
	width: 290px;
	float: right;
}
#trip_all2 .resume {
	width: 630px;
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border:1px solid #e7e7e7;
	box-shadow: 0px 0px 2px 0px #e7e7e7;
	padding: 10px 10px 10px;
	position: relative;
	margin-bottom: 20px;
}
#trip_all2 .resume img{
	display: block;
	float: left;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	box-shadow: 0px 1px 2px 0 #9f9f9f;
	margin-right: 20px;
}
#trip_all2 .resume .text {
	float: left;
	width: 510px;
	float: left;
}
#trip_all2 .resume h2 {
	color: #303030;
	font: 100 20px Helvetica;
	margin-bottom: 5px;
}
#trip_all2 .resume ul li {
	float: left;
	margin-right: 5px;
}
#trip_all2 .resume ul li em {
	background: url(https://static.tripfab.com/images6/trip2All5.png) no-repeat 0 0;
	width: 17px;
	height: 17px;
	display: block;
	float: left;
} 
#trip_all2 .resume .specs {
	width: 495px;
	background-color: #f3f3f3;
	padding: 12px 0 10px 15px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	clear: both;
}
#trip_all2 .resume .specs li {
	margin-right: 30px;
}
#trip_all2 .resume .specs strong{
	display: block;
	background: url(https://static.tripfab.com/images6/trip2All5.png) no-repeat 0 0;
	height: 17px;
	padding-left: 20px;
}
#trip_all2 .resume .ico1 {
	background-position: 0 1px;
}
#trip_all2 .resume .ico2 {
	background-position: 0 -45px;
}
#trip_all2 .resume .ico3 {
	background-position: 0 -93px;
}
#trip_all2 .resume .specs .ico4 {
	background-position: 0 -140px;
}
#trip_all2 .resume .specs .ico5 {
	background-position: 0 -188px;
}
#trip_all2 .resume .specs .ico6 {
	background-position: 0 -234px;
}
#trip_all2 .resume h3 {
	background: url("https://static.tripfab.com/images6/trip2All7.png") no-repeat left 50%;
    color: #303030;
    float: right;
    font: 500 12px/48px Helvetica;
    height: 48px;
    padding-left: 30px;
    text-transform: uppercase;
    width: 105px;
    position: absolute;
    top: 0;
    right: 0;
}
#trip_all2 .main {
	background-color: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-shadow: 0 0 2px 0 #E7E7E7;
    margin-bottom: 20px;
    position: relative;
    width: 650px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}
#trip_all2 .main .errors {
	background-color: #fff1ea;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	margin: 1px 1px 0;
	padding: 23px 23px 10px;
}
#trip_all2 .main .errors h6 {
	color: #f26522;
	font: bold 12px/16px Helvetica;
	margin-bottom: 6px;
	background: url(https://static.tripfab.com/images2/alert.png) no-repeat left 50% ;
	padding-left: 25px;
	height: 16px;
}
#trip_all2 .main .errors li {
	color: #f26522;
	font: normal 12px Helvetica;
	margin:0 0 5px 30px;
}
#trip_all2 .main .top {
	background-color: #fefbce;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	margin: 1px;
	padding: 23px;
	margin-bottom: 10px;
}
#trip_all2 .main .top h3 {
	font: bold 15px Helvetica;
	color: #303030;
	margin-bottom: 10px;
}
#trip_all2 .main .top p {
	font: normal 12px/18px Helvetica;
}
#trip_all2 .main .step {
	padding: 0 50px 30px 23px;
	margin-bottom: 10px;
	background: url(https://static.tripfab.com/images6/trip2All6.png) repeat-x 0 bottom ;
}
#trip_all2 .main .step.last {
	background: none;
	padding-bottom: 10px;
}
#trip_all2 .main .step h4 {
	font: bold 15px/21px Helvetica;
	height: 21px;
}
#trip_all2 .main .step h4 span {
	background: url("https://static.tripfab.com/images2/checkout-circle.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    float: left;
    font: 500 15px/21px Helvetica;
    height: 21px;
    text-align: center;
    width: 21px;
    margin-right: 9px;
}
#trip_all2 .main .fields {
	width: 550px;
	padding-left: 30px;
}
#trip_all2 .main .single {
	border-bottom: 1px solid #dbdbdb;
	padding: 10px 0;
	position: relative;
}
#trip_all2 .main .single.last {
	border: none;
}
#trip_all2 .main .single label {
	display: block;
	float: left;
	width: 230px;
}
#trip_all2 .main .single label strong {
	display: block;
}
#trip_all2 .main .single input[type="text"] {
	width: 235px;
	float: right;
}
#trip_all2 .main .single.error input {
	border-color: #f26522;
}
#trip_all2 .main .single select {
	width: 245px;
	float: right;
	margin-top: 5px;
}
#trip_all2 .main .step h5 {
	font: bold 12px Helvetica;
	padding:4px 0 10px 30px;
}
#trip_all2 .main .step .newCard2 .each {
	border: none;
}
#trip_all2 .main .step .newCard2 .item {
	margin: 0 0 0 30px;
	width: 550px;
}
#trip_all2 .main .step .each {
	width: 550px;
	margin-left: 30px;
	border-top: 1px solid #dbdbdb;
	padding: 5px 0;
}
#trip_all2 .main .step .each label {
	display: block;
	float: left;
}
#trip_all2 .main .step .each label img{
	display: block;
	float: left;
	margin-right: 10px;
}
#trip_all2 .main .step .each label input{
	display: block;
	float: left;
	margin: 9px 10px 0 0;
}
#trip_all2 .main .step .each label span{
	display: block;
	float: left;
	margin: 8px 10px 0 0;
	font: bold 12px Helvetica;
}
#trip_all2 .main .step .each .saveNumber{
	display: block;
	float: right;
	margin: 8px 10px 0 0;
	font: bold 12px Helvetica;
}
#trip_all2 .main .step .cards {
	float: right;
}
#trip_all2 .main .step .cards li {
	float: left;
}
#trip_all2 .main .item {
	width: 515px;
	margin-left: 65px;
	border-top: 1px solid #DBDBDB;
	padding: 10px 0;
	position: relative;
}
#trip_all2 .main .item input[type="text"] {
	width: 235px;
	height: 30px;
	float: right;
	display: block;
}
#trip_all2 .main .item.error input{
	border-color: #f26522;
}
#trip_all2 .main .item .icnError {
	display: none;
}
#trip_all2 .main .single.error .icnError,
#trip_all2 .main .item.error .icnError {
	background: url("https://static.tripfab.com/images2/alert.png") no-repeat scroll left 50% transparent;
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    right: -25px;
    top: 20px;
}
#trip_all2 .main .item input.code {
	width: 65px;
}
#trip_all2 .main .item label {
	float: left;
	width: 230px;
	display: block;
}
#trip_all2 .main .item label strong{
	display: block;
}
#trip_all2 .main .item select {
	float: right;
	margin-left: 20px;
}
#trip_all2 .main .tip {
	background-color: #303030;
	color: white;
	left: 88px;
	padding: 10px;
	position: absolute;
	top: 12px;
	width: 191px;
	-webkit-box-shadow: 0px 1px 2px 0px #DDD;
	-moz-box-shadow: 0px 1px 2px 0px #DDD;
	-o-box-shadow: 0px 1px 2px 0px #DDD;
	box-shadow: 0px 1px 2px 0px #DDD;
}
#trip_all2 .main .tip span {
	display: block;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #303030;
	position: absolute;
	top: 15px;
	left: -6px;
}
#trip_all2 .main .restriction {
	padding: 10px 0;
	width: 550px;
	margin: 0 0 0 30px;
	border-bottom: 1px solid #dbdbdb;
}
#trip_all2 .main .restriction.last {
	border: none;
}
#trip_all2 .main .restriction strong {
	display: block;
	float: left;
}
#trip_all2 .main .restriction > a {
	display: block;
	float: right;
}
#trip_all2 .main .restriction > a {
	color: #60b5f7;
}
#trip_all2 .main .restriction > a:hover {
	color: #9BD2FC;
}
#trip_all2 .main .bottom {
	background: url("https://static.tripfab.com/images2/g-4.png") repeat-x scroll 0 0 transparent;
    border-top: 1px solid #D0D0D0;
    height: 55px;
    overflow: hidden;
    padding-top: 20px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
    behavior: url(/PIE.htc);
    clear: both;
}
#trip_all2 .main .bottom span {
	display: block;
	text-align: center;
	color: #ffffff;
	font: bold 19px/38px Helvetica;
	float: left;
	text-indent: 30px;
}
#trip_all2 .main.bottom span strong {
	font-size: 21px;
	vertical-align: middle;
	margin-left: 15px;
}
#trip_all2 .main .bottom .btn-1 {
	float: right;
	margin-right: 26px;
	font: bold 15px/40px Helvetica;
	padding: 0 23px;
	height: 40px;
	color: #17520f;
	text-shadow: 0 1px 0 #bddf8f;
}
#trip_all2 .main .bottom .btn-1:hover {
	-webkit-box-shadow: 0px 1px 2px 0px #000000;
	-moz-box-shadow: 0px 1px 2px 0px #000000;
	box-shadow: 0px 1px 2px 0px #000000;
}
#trip_all2 .main .all {
	padding-top: 10px;
	position: relative;
} 
#trip_all2 .widget {
	border: 1px solid #E7E7E7;
	width: 290px;
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow: 0px 0px 2px 0px #e7e7e7; 
	-o-box-shadow: 0px 0px 2px 0px #e7e7e7;
	-moz-box-shadow: 0px 0px 2px 0px #e7e7e7;
	-webkit-box-shadow: 0px 0px 2px 0px #e7e7e7;
	margin-bottom: 20px;
}
#trip_all2 .widget h6 {
	height: 35px;
	margin: 1px;
	background-color: #e8f5ff;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	font: bold 13px/35px Helvetica;
	padding-left: 20px;
	margin-bottom: 10px;
}
#trip_all2 .widget table {
	width: 265px;
	margin: 0 auto;
}
#trip_all2 .easyBooking .before {
	color: #EA7806;
    text-decoration: line-through;
}
#trip_all2 .easyBooking .rg {
    padding: 0 15px 0 0;
    text-align: right;
}
#trip_all2 .widget td {
    font: 13px/16px Helvetica;
    height: 25px;
    padding: 0 10px 0 15px;
    vertical-align: middle;
}
#trip_all2 .easyBooking .save {
	color: #EA7806;
}
#trip_all2 .easyBooking .total td{
	color: #303030;
    font: bold 18px Helvetica;
    height: 35px;
}
#trip_all2 .easyBooking .btn {
	background-color: #fefbce;
	padding: 15px 20px;
}
#trip_all2 .easyBooking .btn-1 {
	width: 100%;
	margin: 0;
	height: 39px;
	color: #17520f;
	text-shadow: 0 1px 0 #d4eab7;
	padding: 0;
	font-size: 17px;
}
#trip_all2 .easyBooking .bot {
	background-color: #fff568;
	height: 32px;
	font: bold 16px/32px Helvetica;
	color: #f26522;
	text-align: center;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	text-shadow: 0 1px 0 #fcf8c0;
}
#trip_all2 .widget .fr {
	color: #8dc63f;
}  
#trip_all2 .widget .fr {
	color: #8dc63f;
}  	
#trip_all2 .summary td {
	font-size: 12px;
}
#trip_all2 .summary table {
	margin-bottom: 15px;
}

#trip_all2 .step.last .restricction_tip {
    background-color: #303030;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 4px 0 #606060;
    color: #FFFFFF;
    padding: 25px 25px 10px;
    position: absolute;
    right: -183px;
    top: -210px;
    width: 430px;
}
#trip_all2 .step.last .restricction_tip span {
    background: url("https://static.tripfab.com/images2/aw_tooltip.png") no-repeat scroll 0 0 transparent;
    bottom: -11px;
    display: block;
    height: 11px;
    left: 232px;
    position: absolute;
    width: 20px;
}
#trip_all2 .step.last .restricction_tip strong {
    display: block;
    font-size: 13px;
    margin-bottom: 10px;
}
#trip_all2 .step.last .restricction_tip ul li {
    font-size: 12px;
    list-style: none outside none;
    margin-bottom: 7px;
}

.cancel_policy {
    width: 960px;
}
.cancel_policy .top {
    color: #FFFFFF;
    font: bold 13px/42px Helvetica,sans-serif;
    height: 42px;
    padding-left: 20px;
}
.cancel_policy .mid {
    background-color: #FFFFFF;
    padding: 20px;
}
.cancel_policy .mid h3 {
    font-size: 13px;
    margin-bottom: 15px;
}
.cancel_policy .mid ul {
    padding-bottom: 29px;
}
.cancel_policy .mid ul li {
    color: #303030;
    font: 12px/16px Helvetica,sans-serif;
    list-style: none outside none;
}
.cancel_policy .mid .inner {
    background-color: #F3F3F3;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 3px 2px #B4B4B4 inset;
}
.cancel_policy .mid .inner img {
    padding: 16px 0 16px 33px;
}
.cancel_policy .mid .specs {
    background: url("https://static.tripfab.com/images2/cancellations_policyg.png") repeat-x scroll 0 0 transparent;
    padding-left: 10px;
}
.cancel_policy .mid .column {
    background: url("https://static.tripfab.com/images2/cancellations_policy.png") no-repeat scroll right bottom transparent;
    float: left;
    height: 124px;
    width: 300px;
}
.cancel_policy .mid .column.last {
    background: none repeat scroll 0 0 transparent;
}
.cancel_policy .mid .column p {
    color: #303030;
    font: 12px/18px Helvetica;
    padding: 20px 20px 0;
}

.tripExperience {
	width: 580px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	background-color: #FFF;
	position: relative;
}
.tripExperience h2 {
	font: 100 24px Helvetica;
	margin-bottom: 15px;
	text-align: center;
	padding: 20px 0 0;
}
.tripExperience h3 {
	font: 100 15px Helvetica;
	margin-bottom: 20px;
	text-align: center;
}
.tripExperience .stamp {
	width: 77px;
	height: 79px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: url(https://static.tripfab.com/images6/trip2All8.png) no-repeat 0 0;
}
.tripExperience .single {
	width: 170px;
	height: 247px;
	padding-top: 15px;
	background: url(https://static.tripfab.com/images6/trip2All9.png) repeat-x 0 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	float: left;
	margin:0 0 20px 17px;
}
.tripExperience .single span {
	display: block;
	width: 61px;
	height: 62px;
	background: url(https://static.tripfab.com/images6/trip2All8.png) no-repeat -9px -85px;
	margin: 0 auto 10px;
}
.tripExperience .single .icon1 {
	background-position: -9px -85px;
}
.tripExperience .single .icon2 {
	background-position: -9px -161px;
}
.tripExperience .single .icon3 {
	background-position: -9px -236px;
}
.tripExperience .single h4 {
	text-align: center;
	color: #303030;
	font: bold 12px Helvetica;
	margin-bottom: 10px;
}
.tripExperience .single p {
	text-align: center;
	color: #303030;
	font: 12px/18px Helvetica;
	padding: 0 15px;
}










#trip_all2 #content .right .customize .fields .room_tip {
	display: none;
	background-color: #303030;
	color: #FFF;
	padding: 10px 20px 20px;
	width: 350px;
	position: absolute;
	top: -72px;
	left: -380px;
	z-index: 100;
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0, 0.6);
	-moz-box-shadow: 0px 0px 3px 2px rgba(0,0,0, 0.6);
	box-shadow: 0px 0px 3px 2px rgba(0,0,0, 0.6); 
}
#trip_all2 #content .right .customize .fields tr.hover .room_tip {
	display: block;
}
#trip_all2 #content .right .customize .fields .room_tip .rw {
	display: block;
	background: url(https://static.tripfab.com/images6/lstng_htl.png) no-repeat -210px -72px;
	width: 6px;
	height: 16px;
	position: absolute;
	right: -6px;
	top: 78px;
}
#trip_all2 #content .right .customize .fields .room_tip h3 {
	font: bold 13px/18px Helvetica;
	padding: 8px 0;
	border-bottom: 1px solid #1a1a1a;
}
#trip_all2 #content .right .customize .fields .room_tip .text {
	border-top: 1px solid #404040;
	font: normal 11px/16px Helvetica;
	padding-top: 10px;
}
#trip_all2 #content .right .customize .fields .room_tip p{
	margin-bottom: 15px;
}
#trip_all2 #content .right .customize .fields .room_tip li{
	margin-bottom: 10px;
	font: normal 11px Helvetica
}
#trip_all2 #content .right .customize .fields .room_tip a.details {
	display: block;
	background-color: #60b5f7;
	font: bold 11px/26px Helvetica;
	height: 26px;
	padding: 0 10px;
	color: #FFF;
	position: absolute;
	bottom: 0;
	right: 0;
}
#trip_all2 #content .right .customize .fields .room_tip a.details:hover {
	background-color: #9BD2FC;
}


#fancybox-left-ico, 
#fancybox-right-ico {
    background: url("https://static.tripfab.com/images6/LightboxArrows.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 68px;
    margin: -18px 0 0;
    position: absolute;
    top: 50%;
    width: 64px;
    z-index: 10;
    visibility: visible !important;
}
#fancybox-left-ico {
    background-position: 0 0;
    left: 5px !important;
}
#fancybox-right-ico {
    background-position: 0 -136px;
    left: auto !important;
    right: 5px !important;
}
#fancybox-right:hover #fancybox-right-ico {
    background-position: 0 -204px;
    right: 5px;
}
#fancybox-left:hover #fancybox-left-ico {
    background-position: 0 -68px;
    left: 5px !important;
}


































