#wp_header {
	height: 92px;
}
.logo {
	float: left;
	width: 103px;
	height: 52px;
	margin-top: 20px;
}
.logo a {
	display: block;
	width: 103px;
	height: 52px;
	background: url(https://static.tripfab.com/images6/tripAll3.png) no-repeat 0 0;
	text-indent: -99999px;
}
#trip4 .footer {
	width: 960px;
	margin: 0 auto;
	padding-top: 10px;
}
#trip4 .footer .left {
	background: url(https://static.tripfab.com/images6/tripAll8.png) no-repeat 0 0;
	padding-left: 45px;
	height: 35px;
	width: 450px;
	float: left;
	color: #696969;
}
#trip4 .footer .left h6 {
	font: bold 12px Helvetica;
	margin-bottom: 4px;
}
#trip4 .footer .left span {
	font: normal 11px Helvetica;
	display: block;
}
#trip4 .footer ul {
	float: right;
	width: 400px;
}
#trip4 .footer ul li {
	float: right;
	margin-left: 10px;
}
#trip4 .footer ul li a {
	color: #696969;
	font: bold 11px Helvetica
}
#trip4 .footer ul li a:hover {
	color: #60b5f7;
	text-shadow: 0 1px 0 #FFF;
}
#wp_header .contact {
	width: 379px;
	float: right;
	margin-top: 31px;
}
#wp_header .contact p {
	color: #878787;
	font: bold 11px/15px Helvetica;
	float: right;
	margin:0 0 0 20px;
}
#wp_header .contact p strong {
	display: block;
	color: #303030;
	font: bold 21px Helvetica;
}
#wp_header .contact a {
	height: 32px;
	display: block;
	width: 98px;
	float: right;
	font-size: 13px;
	padding: 0;
	margin-top: 2px;
}
#trip4 #content {
	padding-bottom: 20px;
	width: 960px;
	margin: 0 auto;
}
#trip4 .top {
	width: 960px;
	height: 366px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	background-color: #FFF;
	box-shadow: 0px 0px 2px 0px #e7e7e7; 
	-o-box-shadow: 0px 0px 2px 0px #e7e7e7;
	-moz-box-shadow: 0px 0px 2px 0px #e7e7e7;
	-webkit-box-shadow: 0px 0px 2px 0px #e7e7e7;
	margin-bottom: 20px;
}
#trip4 .top .pic {
	width: 690px;
	height: 366px;
	float: left;
	background: url(https://static.tripfab.com/images6/land4-3.png) no-repeat 0 0;
	border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	-o-border-radius: 5px 0 0 5px;
	}
#trip4 .top .pic h2 {
	text-align: center;
	color: #FFF;
	font: bold 30px Helvetica;
	text-shadow: 0 1px 0 #000;
	padding: 150px 0 10px;
}
#trip4 .top .pic h2 em {
	font: 100 italic 30px Georgia;
}
#trip4 .top .pic h3 {
	font: 500 12px/16px Helvetica;
	text-align: center;
	color: #e4e483;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #000;
}
#trip4 .top .side {
	float: right;
	width: 210px;
	padding: 23px 28px 0;
}
#trip4 .top .side h2 {
	border-bottom: 1px dotted #CCC;
	padding-bottom: 10px;
	font: 100 17px/21px Helvetica;
	color: #303030;
	margin-bottom: 10px;
}
#trip4 .top .side p {
	color: #393939;
	font: normal 13px/20px Helvetica;
	padding-bottom: 10px;
}
#trip4 .top .side label {
	font: bold 13px Helvetica;
	color: #494949;
	display: block;
	margin-bottom: 5px;
}
#trip4 .top .side input[type="text"] {
	width: 198px;
	height: 30px;
	margin-bottom:15px;
	behavior: url(/PIE.htc);
}
#trip4 .top .side .btn-1 {
	float: right;
	font-size: 14px;
	margin: 4px 0 0 0 ;
}
#trip4 .main {
	width: 960px;
	margin: 0 auto;
	background: url(https://static.tripfab.com/images6/land4-4.gif) repeat-y  -11px 0 #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow: 0px 0px 2px 0px #e7e7e7; 
	-o-box-shadow: 0px 0px 2px 0px #e7e7e7;
	-moz-box-shadow: 0px 0px 2px 0px #e7e7e7;
	-webkit-box-shadow: 0px 0px 2px 0px #e7e7e7;
}
#trip4 .main .left {
	width: 654px;
	float: left;
	padding: 20px 18px;
}
#trip4 .main .left .sale {
	border: 1px solid #e0e0e0;
	background-color: #eeeeee;
	padding: 0 10px 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	position: relative;
	margin-bottom: 15px;
}
#trip4 .main .left .sale .stamp {
	display: block;
	background: url(https://static.tripfab.com/images6/land4-1.png) no-repeat -59px 0;
	width: 77px;
	height: 79px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
}
#trip4 .main .left h2 {
	font: bold 18px Helvetica;
	color: #303030;
	float: left;
	width: 293px;
	padding: 15px 0 10px 0;
}
#trip4 .main .left .counter {
	float: left;
	width: 315px;
	overflow: hidden;
	color: #f18207;
	padding-top: 10px;
}
#trip4 .main .left .counter div {
	font: bold 18px Helvetica;
	float: left;
	margin-right: 3px;
	padding-top: 2px;
}
#trip4 .main .left .counter div span {
	font-size: 14px;
}
#trip4 .main .left .trip {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	padding:10px;
}
#trip4 .trip > a{
	display: block;
	width: 210px;
	height: 196px;
	float: left;
	margin-right: 12px;
	overflow: hidden;
	position: relative;
}
#trip4 .trip > a .label {
	display: block;
	width: 26px;
	height: 71px;
	position: absolute;
	top: 0;
	left: 15px;
	background: url(https://static.tripfab.com/images6/land4-1.png) 0 0;
}
#trip4 .sale .inner {
	float: left;
	width: 385px;
}
#trip4 .trip h3 > a {
	background: url(https://static.tripfab.com/images6/land4-2.png) no-repeat 3px 4px;
	display: block;
	color: #60b5f7;
	padding-left: 30px;
	font: bold 20px/24px Helvetica;
	margin-bottom: 5px;
}
#trip4 .trip h3 > a:hover {
	color: #9BD2FC;
}
#trip4 .meta {
	border-bottom: 1px dotted #CCC;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
#trip4 .meta ul {
	float: left;
	margin-right: 8px;
}
#trip4 .meta ul li{
	float: left;
	margin-right:2px;
}
#trip4 .meta ul li a {
	display: block;
	width: 13px;
	height: 13px;
	background: url(https://static.tripfab.com/images6/land4-2.png) no-repeat -3px -100px;
}
#trip4 .meta ul li a.fill {
	background-position: -2px -50px;
}
#trip4 .meta span {
	display: block;
	margin-right: 10px;
	color: #727272;
	float: left;
}
#trip4 .meta .location {
	background: url(https://static.tripfab.com/images6/land4-2.png) no-repeat -4px -149px;
	padding-left: 15px;
}
#trip4 .descrip {
	width: 248px;
	float: left;
}
#trip4 .descrip .count {
	width: 283px;
	color: #f18207;
	font: bold 12px Helvetica;
	overflow: hidden;
}

#trip4 .descrip .count li {
	float: left;
	margin-right: 5px;
}
#trip4 .descrip p {
	font: normal 12px/17px Helvetica;
	color: #303030;
	padding-bottom: 20px;
}
#trip4 .single {
	float: left;
	margin-right: 40px;
}
#trip4 .single strong {
	display: block;
	font: bold 10px Helvetica;
	color: #5c5c5c;
	text-transform: uppercase;
}
#trip4 .single p {
	color: #303030;
	font: bold 13px Helvetica;
}
#trip4 div.price{
	width: 126px;
	color: #303030;
	padding-top: 10px;
	background-color: #EEE;
	border: 1px solid #e0e0e0;
	float: right;
}
#trip4 div.price sup {
	font: bold 15px Helvetica;
	color: #ed7c06;
	text-align: center;
	text-decoration: line-through ;
	display: block;
	margin-bottom: 5px;
}
#trip4 div.price .total {
	font: bold 32px Helvetica;
	color: #303030;
	margin-bottom: 5px;
	display: block;
	text-align: center;
}
#trip4 div.price sub {
	font: normal 13px Helvetica;
	text-align: center;
	display: block;
}
#trip4 div.price .save {
	background: url("https://static.tripfab.com/images6/tripAll2.png") no-repeat scroll 0 0 transparent;
    color: #535353;
    font: bold 12px/20px Helvetica;
    height: 20px;
    padding-right: 4px;
    text-align: right;
    width: 80px;
    margin: 10px auto 10px;
}
#trip4 .paging {
	height: 34px;
	border-top: 1px dotted #CCC;
	border-bottom: 1px dotted #CCC;
	font: normal 12px/34px Helvetica;
	color: #363636;
	margin-bottom: 20px;
}
#trip4 .paging .results {
	display: block;
	float: left;
}
#trip4 .paging ul {
	float: right;
	display: block;
}
#trip4 .paging ul li {
	float: left;
	margin-left: 5px;
	color: #363636;
	border-right: 1px solid #363636;
	height:15px;
	margin-top: 10px;
	padding-right: 5px;
	font: normal 12px/15px Helvetica;
}
#trip4 .paging ul li a {
	color: #363636;
}
#trip4 .paging ul li a:hover {
	color: #a7a7a7;
}
#trip4 .main .left .allTrips .trip {
	padding: 0 0 20px;
	margin-bottom: 20px;
	border-bottom: 1px dotted #CCC;
}
#trip4 .allTrips .inner {
	width: 430px;
	float: left;
}
#trip4 .main .left .allTrips .trip .descrip > p {
	width: 266px;
}
#trip4 .main .left .allTrips .trip.last {
	border: none;
	padding-bottom: 0;
}
#trip4 .allTrips .descrip {
	width: 288px;
}
#trip4 .allTrips .single {
	margin-right: 10px;
	width: 85px;
}










#trip4 .main .right {
	width: 268px;
	float: right;
}
#trip4 .main .right .widget {
	padding: 30px 20px 0 25px;
}
#trip4 .main .right h4 {
	font: bold 15px Helvetica;
	color: #303030;
	margin-bottom: 10px;
}
#trip4 .main .widget > p {
	font: 100 19px Helvetica;
	color: #9e9e9e;
	margin-bottom: 10px;
}
#trip4 .main .right ul li {
	margin-bottom: 20px;
	overflow: hidden;
}
#trip4 .main .right ul li span {
	display: block;
	font: bold 14px Helvetica;
	color: #303030;
	background: url(https://static.tripfab.com/images6/land4-2.png) no-repeat 0 0;
	width: 30px;
	height: 40px;
	float: left;
}
#trip4 .main .right ul li .ico1 {
	background-position: 0 -206px;
}
#trip4 .main .right ul li .ico2 {
	background-position: 0 -258px;
}
#trip4 .main .right ul li .ico3 {
	background-position: 0 -328px;
}
#trip4 .main .right ul li p {
	font: normal 13px/16px Helvetica;
	color: #303030;
	float: left;
	width: 180px;
}
#trip4 .main .right ul li strong {
	display: block;
	font: bold 14px Helvetica;
	margin-bottom: 5px;
}
#trip4 .main .right .talk {
	padding: 30px 25px 0 30px;
	background: url(https://static.tripfab.com/images6/land4-5.png) repeat-x 0 0;
}
#trip4 .main .right .talk h3 {
	font: bold 15px Helvetica;
	margin-bottom: 10px;
}
#trip4 .main .right .talk p {
	color: #a6a6a6;
	font: bold 11px Helvetica;
}
#trip4 .main .right .talk p strong {
	color: #595959;
	font: bold 24px Helvetica;
	display: block;
	margin-top: 6px;
}
#trip4 .main .right .talk a {
	display: block;
	width:100%;
	font-size: 13px;
	margin: 10px 0 0 0;
	padding: 0;
}






