#wp_header {
	height: 92px;
}
.logo {
	float: left;
	width: 103px;
	height: 52px;
	margin-top: 20px;
}
.logo a {
	display: block;
	width: 103px;
	height: 52px;
	background: url(https://static.tripfab.com/images6/tripAll3.png) no-repeat 0 0;
	text-indent: -99999px;
}
#trip5 .footer {
	width: 960px;
	margin: 0 auto;
	padding-top: 10px;
}
#trip5 .footer .left {
	background: url(https://static.tripfab.com/images6/tripAll8.png) no-repeat 0 0;
	padding-left: 45px;
	height: 35px;
	width: 450px;
	float: left;
	color: #696969;
}
#trip5 .footer .left h6 {
	font: bold 12px Helvetica;
	margin-bottom: 4px;
}
#trip5 .footer .left span {
	font: normal 11px Helvetica;
	display: block;
}
#trip5 .footer ul {
	float: right;
	width: 400px;
}
#trip5 .footer ul li {
	float: right;
	margin-left: 10px;
}
#trip5 .footer ul li a {
	color: #696969;
	font: bold 11px Helvetica
}
#trip5 .footer ul li a:hover {
	color: #60b5f7;
	text-shadow: 0 1px 0 #FFF;
}
#wp_header .contact {
	width: 379px;
	float: right;
	margin-top: 31px;
}
#wp_header .contact p {
	color: #878787;
	font: bold 11px/15px Helvetica;
	float: right;
	margin:0 0 0 20px;
}
#wp_header .contact p strong {
	display: block;
	color: #303030;
	font: bold 21px Helvetica;
}
#wp_header .contact a {
	height: 32px;
	display: block;
	width: 98px;
	float: right;
	font-size: 13px;
	padding: 0;
	margin-top: 2px;
}
#trip5 #content {
	padding-bottom: 20px;
	width: 960px;
	margin: 0 auto;
}
#trip5 .top {
	width: 960px;
	height: 366px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	background-color: #FFF;
	box-shadow: 0px 0px 2px 0px #e7e7e7; 
	-o-box-shadow: 0px 0px 2px 0px #e7e7e7;
	-moz-box-shadow: 0px 0px 2px 0px #e7e7e7;
	-webkit-box-shadow: 0px 0px 2px 0px #e7e7e7;
	margin-bottom: 20px;
}
#trip5 .top .pic {
	width: 690px;
	height: 366px;
	float: left;
	background: url(https://static.tripfab.com/images6/land4-3.png) no-repeat 0 0;
}
#trip5 .top .pic h2 {
	text-align: center;
	color: #FFF;
	font: bold 30px Helvetica;
	text-shadow: 0 1px 0 #000;
	padding: 150px 0 10px;
}
#trip5 .top .pic h2 em {
	font: 100 italic 30px Georgia;
}
#trip5 .top .pic h3 {
	font: 500 12px/16px Helvetica;
	text-align: center;
	color: #e4e483;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #000;
}
#trip5 .left .side {
	background-color: #FFF;
	margin-bottom: 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow: 0px 0px 2px 0px #e7e7e7; 
	-o-box-shadow: 0px 0px 2px 0px #e7e7e7;
	-moz-box-shadow: 0px 0px 2px 0px #e7e7e7;
	-webkit-box-shadow: 0px 0px 2px 0px #e7e7e7;
}
#trip5 .left .side > div {
	padding: 12px 20px;
}
#trip5 .left .side h2 {
	padding-bottom: 10px;
	font: bold 18px/21px Helvetica;
	color: #FFF;
	background-color: #303030;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	padding: 12px 0 12px 20px;
	width: auto;
	float: none;
}
#trip5 .left .side p {
	color: #393939;
	font: normal 13px/20px Helvetica;
	padding-bottom: 10px;
	border-bottom: 1px dotted #CCC;
	margin-bottom: 10px;
}
#trip5 .left .side label {
	font: bold 13px Helvetica;
	color: #494949;
	display: block;
	margin-bottom: 5px;
}
#trip5 .left .side input[type="text"] {
	width: 243px;
	height: 30px;
	margin-bottom: 12px;
}
#trip5 .left .side .btn-1 {
	float: right;
	font-size: 14px;
	margin: 4px 0 0 0 ;
}
#trip5 .main {
	width: 960px;
	margin: 0 auto;
	position: relative;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}
#trip5 .main .left{
	width: 295px;
	float: left;
	padding: 20px 0;
}
#trip5 .main .sale {
	border: 1px solid #e0e0e0;
	background-color: #eeeeee;
	padding: 0 10px 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	position: relative;
	margin-bottom: 15px;
}
#trip5 .main .sale .stamp {
	display: block;
	background: url(https://static.tripfab.com/images6/land4-1.png) no-repeat -59px 0;
	width: 77px;
	height: 79px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
}
#trip5 .main h2 {
	font: bold 18px Helvetica;
	color: #303030;
	float: left;
	width: 270px;
	padding: 15px 0 10px 0;
}
#trip5 .main .counter {
	float: left;
	width: 315px;
	overflow: hidden;
	color: #f18207;
	padding-top: 10px;
}
#trip5 .main .counter div {
	font: bold 18px Helvetica;
	float: left;
	margin-right: 3px;
	padding-top: 2px;
}
#trip5 .main .counter div span {
	font-size: 14px;
}
#trip5 .main .trip {
	background-color: #FFF;
	padding:10px;
}
#trip5 .trip > a{
	display: block;
	width: 175px;
	height: 131px;
	float: left;
	margin-right: 12px;
	overflow: hidden;
	position: relative;
}
#trip5 .trip > a .label {
	display: block;
	width: 26px;
	height: 71px;
	position: absolute;
	top: 0;
	left: 15px;
	background: url(https://static.tripfab.com/images6/land4-1.png) 0 0;
}
#trip5 .sale .inner {
	float: left;
	width: 384px;
}
#trip5 .trip h3 > a {
	background: url(https://static.tripfab.com/images6/land4-2.png) no-repeat 3px 4px;
	display: block;
	color: #60b5f7;
	padding-left: 30px;
	font: bold 20px/24px Helvetica;
	margin-bottom: 5px;
}
#trip5 .meta {
	border-bottom: 1px dotted #CCC;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
#trip5 .meta ul {
	float: left;
	margin-right: 8px;
}
#trip5 .meta ul li{
	float: left;
	margin:0 2px 0 0 !important;
}
#trip5 .meta ul li a {
	display: block;
	width: 13px;
	height: 13px;
	background: url(https://static.tripfab.com/images6/land4-2.png) no-repeat -3px -100px;
}
#trip5 .meta ul li a.fill {
	background-position: -2px -50px;
}
#trip5 .meta span {
	display: block;
	margin-right: 10px;
	color: #727272;
	float: left;
}
#trip5 .meta .location {
	background: url(https://static.tripfab.com/images6/land4-2.png) no-repeat -4px -149px;
	padding-left: 15px;
}
#trip5 .descrip {
	width: 248px;
	float: left;
}
#trip5 .descrip .count {
	width: 283px;
	color: #f18207;
	font: bold 12px Helvetica;
	overflow: hidden;
}

#trip5 .descrip .count li {
	float: left;
	margin-right: 5px;
}
#trip5 .descrip p {
	font: normal 12px/17px Helvetica;
	color: #303030;
	padding-bottom: 20px;
}
#trip5 .single {
	float: left;
	margin-right: 40px;
}
#trip5 .single strong {
	display: block;
	font: bold 10px Helvetica;
	color: #5c5c5c;
	text-transform: uppercase;
}
#trip5 .single p {
	color: #303030;
	font: bold 13px Helvetica;
}
#trip5 div.price{
	width: 126px;
	color: #303030;
	padding-top: 10px;
	background-color: #EEE;
	border: 1px solid #e0e0e0;
	float: right;
}
#trip5 div.price sup {
	font: bold 15px Helvetica;
	color: #ed7c06;
	text-align: center;
	text-decoration: line-through ;
	display: block;
	margin-bottom: 5px;
}
#trip5 div.price .total {
	font: bold 32px Helvetica;
	color: #303030;
	margin-bottom: 5px;
	display: block;
	text-align: center;
}
#trip5 div.price sub {
	font: normal 13px Helvetica;
	text-align: center;
	display: block;
}
#trip5 div.price .save {
	background: url("https://static.tripfab.com/images6/tripAll2.png") no-repeat scroll 0 0 transparent;
    color: #535353;
    font: bold 12px/20px Helvetica;
    height: 20px;
    padding-right: 4px;
    text-align: right;
    width: 80px;
    margin: 10px auto 10px;
}
#trip5 .paging {
	height: 34px;
	border-top: 1px dotted #CCC;
	border-bottom: 1px dotted #CCC;
	font: normal 12px/34px Helvetica;
	color: #363636;
	margin-bottom: 20px;
}
#trip5 .paging .results {
	display: block;
	float: left;
}
#trip5 .paging ul {
	float: right;
	display: block;
}
#trip5 .paging ul li {
	float: left;
	margin-left: 5px;
	color: #363636;
	border-right: 1px solid #363636;
	height:15px;
	margin-top: 10px;
	padding-right: 5px;
	font: normal 12px/15px Helvetica;
}
#trip5 .paging ul li a {
	color: #363636;
}
#trip5 .paging ul li a:hover {
	color: #a7a7a7;
}
#trip5 .main .allTrips .trip {
	padding: 0 0 20px;
	margin-bottom: 20px;
	border-bottom: 1px dotted #CCC;
}
#trip5 .allTrips .inner {
	width: 425px;
	float: left;
}
#trip5 .main .allTrips .trip .descrip > p {
	width: 266px;
}
#trip5 .main .allTrips .trip.last {
	border: none;
	padding-bottom: 0;
}
#trip5 .allTrips .descrip {
	width: 288px;
}
#trip5 .allTrips .single {
	margin-right: 10px;
	width: 85px;
}










#trip5 .main .right {
	width: 614px;
	float: right;
	background-color: #FFF;
	margin: -320px 0 0 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow: 0px 0px 2px 0px #e7e7e7; 
	-o-box-shadow: 0px 0px 2px 0px #e7e7e7;
	-moz-box-shadow: 0px 0px 2px 0px #e7e7e7;
	-webkit-box-shadow: 0px 0px 2px 0px #e7e7e7;
	padding: 20px 15px 0;
}
#trip5 .main .right .shadows {
	position: absolute;
    right: -23px;
    top: -166px;
	background: url(https://static.tripfab.com/images6/land5-7.png) no-repeat 0 0;
	width: 691px;
	height: 171px;
}
#trip5 .main .left .widget {
	padding: 0 0 0 0;
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow: 0px 0px 2px 0px #e7e7e7; 
	-o-box-shadow: 0px 0px 2px 0px #e7e7e7;
	-moz-box-shadow: 0px 0px 2px 0px #e7e7e7;
	-webkit-box-shadow: 0px 0px 2px 0px #e7e7e7;
}
#trip5 .main .left h4 {
	background-color: #303030;
    border-radius: 5px 5px 0 0;
    color: #FFFFFF;
    float: none;
    font: 500 15px/21px Helvetica;
    padding: 15px 0 15px 20px;
    width: auto;
}
#trip5 .main .left ul {
	padding: 20px 20px 12px;
}
#trip5 .main .left ul li {
	margin-bottom: 20px;
	overflow: hidden;
}
#trip5 .main .left ul li span {
	display: block;
	font: bold 14px Helvetica;
	color: #303030;
	background: url(https://static.tripfab.com/images6/land4-2.png) no-repeat 0 0;
	width: 30px;
	height: 40px;
	float: left;
}
#trip5 .main .left ul li .ico1 {
	background-position: 0 -206px;
}
#trip5 .main .left ul li .ico2 {
	background-position: 0 -258px;
}
#trip5 .main .left ul li .ico3 {
	background-position: 0 -328px;
}
#trip5 .main ul li p {
	font: normal 13px/16px Helvetica;
	color: #303030;
	float: left;
	width: 220px;
}
#trip5 .main ul li strong {
	display: block;
	font: bold 14px Helvetica;
	margin-bottom: 5px;
}
#trip5 .bg_image {
	position: relative;
	height: 381px;
	width: 100%;
	overflow: hidden;
}
#trip5 .background {
	position: absolute;
	top: 0;
	left: 0;
}
#trip5 .info {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
#trip5 .info div {
	position: absolute;
	top: 131px;
	left: 0;
}
#trip5 .info h2 {
	color: #ffffff;
	font: bold 27px Helvetica;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	margin-bottom: 10px;
}
#trip5 .info p {
	color: #fff0c7;
	font: bold 16px/20px Helvetica;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}











