#mapcanvas {
	width:590px;
	height:350px;
	background:#e5e3df;
}
.listing-gallery > ul {
	background:#000;
	margin-top:5px;
	height:65px;
	overflow:visible;
	width:652px;
}
.listing-gallery > ul li {
	margin-top:-5px;
}
#checkinlabel, #checkoutlabel {
	float:right;}
.right-sidebar .widget.book .summary .btn-1 {
    float: right;
    font-size: 13px;
    line-height: 31px;
	height:31px;
	border:0 none;
}
.hidden { display:none;}