/*- CSS Reset -----------------------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
nav ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

/* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}
input, select {
	vertical-align: middle;
	font-family: helvetica;
}

textarea {
	font-family: helvetica;
}
:focus {
	outline: 0;
}

input[type="text"], input[type="password"], textarea {
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    color: #616161;
    font-size: 12px;
    height: 27px;
    padding: 0 5px;
    resize: none;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus, textarea:hover, input[type="text"]:hover, input[type="password"]:hover {
	border-color: #addeff;
	box-shadow: 0 0 5px #addeff;
	font-weight: bold;
}
/*- End of CSS Reset -----------------------------------------------------------*/

/*- General Styles -----------------------------------------------------------*/

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#container {
   min-height:100%;
   position:relative;
}

body {
	background-color: #f4faff;
	color: #000000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}

.clear {
	clear: both;
	text-indent: -9999px;
}

a {
	cursor: pointer;
}

.btn-1, .btn-2 {
	background: url('../images4/btn-1.png') no-repeat 0 0;
	color: #FFFFFF;
	display: block;	
	font-size: 12px;
	font-weight: bold;
	height: 35px;
	line-height: 35px;
	text-align: center;
	text-shadow: 0 1px 0 #93B036;
	width: 84px;
}

.btn-2 {
	background: url('../images4/btn-2.png') no-repeat 0 0;
	font-size: 18px;
	height: 60px;
	line-height: 60px;
	width: 201px;
}

.btn-1:hover, .btn-2:hover {
	background-position: 0 -35px;
	text-decoration: none;
}

/*- End of General Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Header Styles -----------------------------------------------------------*/
#header-shadow {
	background: url('../images4/bg-3.png') no-repeat 50% 100%;
	padding-bottom: 14px;
	position: relative;
	z-index: 10;
}

#header {
	background: url('../images4/bg-2.png') repeat-x 0 0;
	height: 85px;
}

#header h1.logo {
	float: left;
	margin-top: 25px;
}

#header h1.logo a {
	background: url('../images4/logo.png') no-repeat 0 0;
	display: block;
	height: 36px;
	text-indent: -9999px;
	width: 137px;
}

#header .right {
	float: right;
	margin-top: 25px;
	line-height: 35px;
	color: #073153;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 1px 0 #FFFFFF;
}

#header .right .btn-1 {
	margin-left: 12px;
	float: right;
}
.language {
	margin-left:25px;
	margin-top:4px;
	position:relative;}
.language a.current {
	background:url(../images4/lang-bg.png) no-repeat 0 0;
	width:64px;
	height:27px;
	display:block;
	line-height:27px;
	font-size:10px;
	color:#073153;
	text-decoration:none;
	font-weight:bold;
	font-family:Helvetica;
	text-align:center;
	padding-right:20px;}
	.language a.current:hover {
		background-position:0 -27px;}
	.language a.current.active {
		background-position:0 -54px;}
.language .select {
	background:url(../images4/lang-tooltip-bg.png) no-repeat 0 0;
	width:104px;
	height:70px;
	padding:4px 7px 6px 6px;
	position:absolute;
	right:-17px;
	display:none;}
.language .select.show {
	display:block; }
	.language .select ul {
		list-style:none;
		padding-top:4px;}
		.language .select ul li {}
			.language .select ul li a {
				display:block;
				line-height:25px;
				padding-left:33px;
				color:#303030;
				text-decoration:none;
				font-size:11px;
				font-family:Helvetica;
				font-weight:bold;
				margin-bottom:3px;}
			.language .select ul li.active a,
			.language .select ul li a:hover {
				color:#f7941d;}

#header .wrapper {
	position: relative;
	height:85px;
}

#lang {
	position: absolute;
	top: 5px;
	right: 0;
}

#lang ul {
	list-style: none;
}

#lang ul li {
	float: left;
	margin-left: 20px;
}

#lang ul li a {
	color: #a4c4dd;
	font-size: 10px;
	font-weight: bold;
}

#lang ul li a:hover, #lang ul li.active a {
	color: #598ab2;
	text-decoration: none;
}

/*- End of Header Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Top Styles -----------------------------------------------------------*/

#top {
	background: #FFFFFF url('../images4/bg-1.png') repeat-x 0 0;
	margin-top: -14px;
	padding: 33px 0;
}
#top.signinbg {
	background-position:0 -90px;}

#top .content {
	overflow: hidden;
}

#top .content .video-wrapper {
	background:  url('../images4/shadow-1.png') no-repeat 50% 100%;
	padding-bottom: 18px;
	float: right;
}

#top .content .video-wrapper img {
	display: block;
}

#top .content > h2 {
	color: #073153;
	font-size: 41px;
	margin-bottom: 10px;
	text-shadow: 0 1px 0 #FFFFFF;
}

#top .content > h2 em {
	font-family: Georgia;
	font-weight: normal;
}

#top .content > p {
	color: #1e74bb;
	font-size: 18px;
	text-shadow: 0 1px 0 #FFFFFF;
	line-height: 25px;
	margin: 20px 0;
}

#top .content a.btn-2 {
	float: left;
	margin-right: 20px;
	width: 201px;
	height: 60px;
}

#top .content a.btn-2:hover {
	background-position: 0 -60px;
}

#top .content a.btn-2 + img {
	margin-top: 7px;
}

#top .content > h3 {
	margin-top: 50px;
	text-align: center;
	color: #073153;
	font-size: 19px;
	text-shadow: 0 1px 0 #FFFFFF;
}

#top .content > h4 {
	font-size: 43px;
	text-align: center;
	color: #073153;
	text-shadow: 0 1px 0 #FFFFFF;
}

#top .content > h4 em {
	font-family: Georgia;
	font-weight: normal;
}

#main-features {
	overflow:hidden;
	margin-top: 50px;
}

#main-features .centered {
	float:left;
	margin:0;
	padding:0;
	position:relative;
	left:50%;
}

#main-features .centered div {
	float:left;
	margin:0 20px;
	padding:0;
	position:relative;
	right:50%;
	width: 280px;
}

#main-features .centered div h2 {
	color: #303030;
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 10px;
}

#main-features .centered div h2 span {
	background: url('../images4/g-1.png') repeat-x 0 0;
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: block;
	float: left;
	text-align: center;
	color: #ffffff;
	border-radius: 20px;
	margin-right: 9px;
}

#main-features .centered div p {
	color: #303030;
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 10px;
}

#main-features .centered div p + p {
	margin-bottom: 10px;
}

#main-features .centered div p strong {
	color: #7d7d7d;
}

#menu {
	overflow: hidden;
	padding: 30px 0;
}

#menu ul {
	float:left;
	margin:0;
	padding:0;
	position:relative;
	left:50%;
	list-style: none;
}

#menu ul li:first-child {
	background: none;
}

#menu ul li {
	background:  url('../images4/sep-1.png') no-repeat 0 50%;
	float: left;
	min-height: 139px;
	padding: 0 40px;
	position: relative;
	right: 50%;
	text-align: center;
}

#menu ul li a {
	color: #303030;
	font-size: 13px;
	font-family: Georgia;
	font-style: italic;
}

#menu ul li a img {
	height: 86px;
	width: 75px;
}

#menu ul li.item-1 a img {
	background:  url('../images4/ico-1.png') no-repeat 0 0;
}

#menu ul li.item-2 a img {
	background:  url('../images4/ico-2.png') no-repeat 0 0;
}

#menu ul li.item-3 a img {
	background:  url('../images4/ico-3.png') no-repeat 0 0;
}

#menu ul li a:hover {
	position: relative;
	top: 5px;
	text-decoration: none;
}

#menu ul li a:hover img {
	background-position: 0 -86px;	
}

/*- End of Top Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Main Styles -----------------------------------------------------------*/

#main {
	background: url('../images4/g-2.png') repeat-x 0 0;
}

.container .ttl {
	background:  url('../images4/g-3.png') repeat-x 0 0;
}

.container .ttl:first-child {
	background: none;
}

.ttl {
	color: #303030;	
	padding: 20px 25px;
}

.ttl span {
	font-size: 30px;
	font-family: Georgia;
	font-style: italic;
}

.ttl h2 {
	font-size: 50px;
}

.ttl strong {
	color: #898989;
	font-size: 16px;
}

.container {
	background-color: #FFFFFF;
	border: 1px solid #e5eff8;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 0 2px #eff7fd;
}

.section:first-child {
	border-top: none;
}

.section.s-w {
	border: none;
	padding-top: 0;
}

.section {
	padding: 30px 25px;
	border-top: 1px dotted #aaafb2;
	color: #303030;
	overflow: hidden;
}

.section p {	
	font-size: 13px;
	line-height: 20px;
}

.container.bottom .sub-section p {
	margin-bottom: 15px;
}

.container.bottom .sub-section span{
	display: block;
}

.container.bottom .sub-section {
	border-top: 4px solid #60b5f7;
	padding-top: 15px;
}

.section h3 {
	font-size: 19px;
	margin-bottom: 15px;
}

.section .video {
	background:  url('../images4/shadow-2.png') no-repeat 50% 100%;
	padding-bottom: 16px;
}

.section .video img {
	display: block;
}

.section img.left, .section .video.left {
	float: left;
	margin-right: 67px;
}

.section img.right, .section .video.right {
	float: right;
	margin-left: 67px;
}

.sub-section {
	float: left;
	margin-right: 67px;
	width: 258px;
}

.n-m .sub-section {
	margin-top: 0;
}

.sub-section h4, .squares div h4 {
	margin-bottom: 15px;
	color: #303030;
	font-size: 15px;
}

.sub-section.last {
	margin-right: 0;
}

.sub-section h4 {
	line-height: 35px;
	margin-bottom: 10px;
}

.sub-section h4 img {
	margin-right: 8px;
	vertical-align: middle;
}

.sub-section.sub-1 h4 img {
	background:  url('../images4/ico-4.png') no-repeat 0 0;
	height: 32px;
	width: 32px;	
}

.sub-section.sub-2 h4 img {
	background:  url('../images4/ico-5.png') no-repeat 0 0;
	height: 28px;
	width: 38px;
}

.sub-section.sub-3 h4 img {
	background:  url('../images4/ico-6.png') no-repeat 0 0;
	height: 20px;
	width: 29px;
}

.sub-section.sub-4 h4 img {
	background:  url('../images4/ico-7.png') no-repeat 0 0;
	height: 30px;
	width: 33px;
}
.sub-section.sub-5 h4 img {
	background:  url('../images4/ico-8.png') no-repeat 0 0;
	height: 28px;
	width: 28px;
}
.sub-section.sub-6 h4 img {
	background:  url('../images4/ico-9.png') no-repeat 0 0;
	height: 29px;
	width: 29px;
}
.sub-section.sub-7 h4 img {
	background:  url('../images4/ico-10.png') no-repeat 0 0;
	height: 31px;
	width: 36px;
}
.sub-section.sub-8 h4 img {
	background:  url('../images4/ico-11.png') no-repeat 0 0;
	height: 35px;
	width: 39px;
}
.sub-section.sub-9 h4 img {
	background:  url('../images4/ico-12.png') no-repeat 0 0;
	height: 29px;
	width: 29px;
}

.section a.back {
	background: #FFFFFF url('../images4/arrow-1.png') no-repeat 0 50%;
	padding-left: 15px;
	color: #8dc63f;
	font-size: 12px;
	font-weight: bold;
	float: right;
	margin-top: 20px;
}

.section.s-w a.back {
	margin-top: 0;
}

.squares {
	background:  url('../images4/g-5.png') repeat-x 0 0;
	border-radius: 4px;
	overflow: hidden;
	padding: 30px;
}

#first-square {
	background: url('../images4/bg-4.png') no-repeat 50% 50%;
}

#second-square {
	background: url('../images4/bg-5.png') no-repeat 50% 50%;
	min-height: 340px;
}

.squares div {
	overflow: hidden;
}

.squares div div {
	width: 379px;
	float: left;
}

.squares div.square-1, .squares div.square-3 {
	padding-right: 45px;
}

.squares div.square-2, .squares div.square-4 {
	padding-left: 65px;
	width: 359px;
}

.squares div.square-1, .squares div.square-2 {
	margin-bottom: 40px;
}

.squares.second-square  div.square-1, .squares.second-square div.square-2 {
	margin-bottom: 75px;
}

.section .sub-ttl {
	float: left;
	margin-right: 37px;
	width: 212px;
	color: #303030;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 15px;
}

.section .sub-ttl.last {
	margin-right: 0;
}

.bottom .section .sub-section {
	margin-right: 37px;
	width: 212px;
	margin-top: 0;
}

.sub-section ul {
	list-style: none;
}

.sub-section ul li a {
	font-size: 13px;
	line-height: 20px;
	color: #303030;
}

.sub-section > a {
	background: url('../images4/arrow-2.png') no-repeat 0 50%;
	color: #8dc63f;
	font-weight: bold;
	font-size: 12px;
	margin-top: 10px;
	padding-left: 15px;
	display: block;
}

/*- End of Main Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Other Features Styles -----------------------------------------------------------*/

#other-features {
	background-color: #e3f2fe;
	box-shadow:inset 0 0 5px #cfe6f9;
	border-radius: 4px;
	margin: 20px 0;
	overflow: hidden;
	padding: 25px 52px;
	color: #303030;
	font-size: 12px;
	line-height: 18px;
}

#other-features ul {
	list-style: none;
}

#other-features ul li {
	float: left;
	padding: 0;
	width: 214px;
}

#other-features ul li img {
	float: left;
	margin: 0 10px 0 0;
	padding-bottom: 45px;
}

#other-features ul li h5 {
	font-size: 13px;
	margin-bottom: 5px;
}

#other-features .jcarousel-clip {
	overflow: hidden;
}

#other-features .jcarousel-prev {
	background: url('../images4/btn-3.png') no-repeat 0 0;
	left: -52px;
}

#other-features .jcarousel-prev:hover {
	background-position: 0 -147px;
}

#other-features .jcarousel-next {
	background: url('../images4/btn-3.png') no-repeat 0 -49px;
	right: -52px;
}

#other-features .jcarousel-next:hover {
	background-position: 0 -98px;
}

#other-features .jcarousel-prev, #other-features .jcarousel-next {
	height: 49px;
	width: 39px;
	cursor: pointer;
	position: absolute;
	top: 0;
}

/*- End of Other Features Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Footer Styles -----------------------------------------------------------*/

#footer {	
	background:  url('../images4/img-10.png') no-repeat 50% 0;
	margin-top: 30px;
	padding-top: 3px;
}

#footer img.logo {
	float: left;
	margin-right: 15px;
}

#footer strong {
	display: block;
	margin-bottom: 4px;
}

#footer span {
	font-size: 11px;
	display: block;
	color: #898989;
}

#footer .wrapper img.mobile {
	bottom: -26px;
	position: absolute;
	right: -35px;
}

#footer-gradient {
	background:  url('../images4/g-4.png') repeat-x 0 0;
	color: #C2C2C2;
	font-size: 12px;
	height: 58px;
	padding-top: 34px;
}

.landing #footer .wrapper {
	position: relative;
}

/*- End of Footer Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Home Styles -----------------------------------------------------------*/

.home {
	background-color: #FFFFFF;
}

.first #top {
	padding: 0 0 287px 0;
}

.home #top .content > h2 {
	text-align: center;
}

.first .sticky {
	position:absolute;
	bottom:0;
	width:100%;
	height:287px;
}

#top .content > h6 {
	text-shadow: 0 1px 0 #FFFFFF;
	color: #1e74bb;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

#top .content > h6 em {
	font-weight: normal;
	font-family: Georgia;
}

#shine {
	background: url('../images4/bg-6.png') no-repeat 50% 0;
	min-height: 423px;
	padding: 50px 0;
}
.signinbg #shine {
	background:url(../images4/bg-8.png) no-repeat center 205px;}
.signinbg.signupbg #shine {
	background:url(../images4/bg-9.png) no-repeat center 210px;}
.cycle-wrapper {
	background:  url('../images4/shadow-3.png') no-repeat 0 100%;
	width: 640px;
	margin: 25px auto 0 auto;
	color: #303030;
	padding-bottom: 22px;
}

.cycle-wrapper > img, .cycle-wrapper > iframe {
	display: block;
}

.cycle-wrapper .left {
	width: 205px;
	float: left;
	text-align: right;
	font-weight: bold;
	font-size: 23px;
}

.cycle-wrapper .left em {
	font-weight: normal;
	font-family: Georgia;
}

.cycle-wrapper .left strong {
	font-size: 33px;
}

.cycle-wrapper .right {
	float: right;
	width: 315px;
	font-size: 15px;
	font-weight: bold;
	line-height: 21px;
}

.texture {
	background: url('../images4/bg-7.png') repeat 0 0;
}

#bottom {
	background: url('../images4/shadow-4.png') no-repeat center top;
}

#bottom .wrapper {
	overflow: hidden;
}

#bottom .center {
	float: left;
	overflow: hidden;
	padding: 15px 0;
	position: relative;
	width: 100%;
}

#bottom .center .items-wrapper {
	float:left;
	position:relative;
	left:50%;
}

#bottom .center .items-wrapper div {
	float: left;
	line-height: 162px;
	margin: 0 15px;
	position: relative;
	right: 50%;
}

#bottom .center .items-wrapper div img {
	vertical-align: middle;
}

#bottom .center .items-wrapper div.item-2 a.en-US img {
	background: url('../images4/img-14-en-US.png') no-repeat 0 0;
	height: 53px;
	width: 204px;
}
#bottom .center .items-wrapper div.item-2 a.es-ES img {
	background: url('../images4/img-14-es-ES.png') no-repeat 0 0;
	height: 53px;
	width: 204px;
}

#bottom .center .items-wrapper div.item-4 a.en-US img {
	background: url('../images4/img-16-en-US.png') no-repeat 0 0;
	height: 53px;
	width: 204px;
}
#bottom .center .items-wrapper div.item-4 a.es-ES img {
	background: url('../images4/img-16-es-ES.png') no-repeat 0 0;
	height: 53px;
	width: 204px;
}
#bottom .center .items-wrapper div.item-2 a:hover img, 
#bottom .center .items-wrapper div.item-4 a:hover img {
	background-position: 0 -53px;
}
.home #footer {
	margin-top: 0;
}

.home #footer ul {
	list-style: none;
	float: right;
}

.home #footer ul li {
	float: left;
	margin: 0 7px;
}

.home #footer ul li a {
	font-weight: bold;
	color: #c2c2c2;
	font-size: 11px;
}

.home #footer ul li a:hover {
	text-decoration: none;
	color: #72b9e6;
}

/*- End of Home Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Register Styles -----------------------------------------------------------*/

.register #top, .signin #top {
	padding-bottom: 92px;
	padding-top: 0;
}

.register #top #shine, .signin #top #shine {
	padding-top: 50px;
}

.register #footer, .signin #footer {
	height: 92px;
	position:absolute;
	bottom:0;
	width:100%;
}

#register-wrapper {
	background-color: #FFFFFF;
	border: 1px solid #E5EFF8;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 0 3px #E3E3E3;
	margin: 35px auto 0;
	position: relative;
	width: 580px;
}

#register-wrapper > img {
	bottom: -20px;
	left: 0;
	position: absolute;
}

#register-wrapper img.seal {
	bottom: -47px;
	left: -47px;
}

#register-wrapper form fieldset {
	padding: 30px;
}

#register-wrapper form fieldset > div {
	margin-bottom: 23px;
}

#register-wrapper form fieldset > div:last-child {
	margin-bottom: 0;
}

#register-wrapper form div input, #register-wrapper form div select {
	float: right;
}

#register-wrapper form div input[type="text"], #register-wrapper form div input[type="password"] {
	height: 37px;
	padding: 0 10px;
	width: 293px;
	font-size: 16px;
}

#register-wrapper form div input.code {
	margin-right: 12px;
	width: 68px;
}

#register-wrapper form div input.phone {
	width: 190px;
}

#register-wrapper form div select {
	width: 313px;
	padding: 5px 0;
}

#register-wrapper form div h4 {
	color: #303030;
	font-size: 14px;
}

#register-wrapper form div span {
	color: #303030;
	font-size: 13px;
}

#register-wrapper form fieldset + fieldset {
	background: #fafafa url('../images4/g-8.png') repeat-x 0 0;
	padding: 13px 30px;
}

#register-wrapper form fieldset input[type="submit"] {
	background:  url('../images4/btn-4.png') no-repeat 0 0;
	cursor: pointer;
	height: 49px;
	width: 151px;
	float: right;
	border: none;
}

#register-wrapper form fieldset input[type="submit"]:hover {
	background-position: 0 -49px;
}

.register #top .content > p, .signin #top .content > p {
	text-align: center;
	color: #303030;
	font-size: 17px;
	font-weight: bold;
	margin: 30px 0;
}

.register #top .content > p a, .signin #top .content > p a {
	color: #8dc63f;	
}

.register #top .content > p a:hover, .signin #top .content > p a:hover {
	color: #33b500;
	text-decoration: none;
}

/*- End of Register Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Signin Styles -----------------------------------------------------------*/

.signin #register-wrapper {
	width: 460px;
}

.signin #register-wrapper form div input[type="text"], .signin #register-wrapper form div input[type="password"] {
	height: 40px;
}

.signin #register-wrapper form div input[type="text"], .signin #register-wrapper form div input[type="password"], .signin #register-wrapper form div select {
	width: 100%;
	float: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 30px 0 10px;
}

.signin #register-wrapper form div input[type="text"].email {
	background:  url('../images4/ico-21.png') no-repeat 98% 50%;
}

.signin #register-wrapper form div input[type="password"].pass {
	background:  url('../images4/ico-22.png') no-repeat 98% 50%;
}

.signin #register-wrapper form div input[type="checkbox"] {
	float: none;
}

.signin #register-wrapper form div label {
	color: #303030;
	font-size: 12px;
	font-weight: bold;
}

.signin #register-wrapper form div a {
	float: right;
	font-size: 12px;
	font-weight: bold;
	color: #fbaf5d;
}

.signin #register-wrapper form div a:hover {
	color: #f7941d;
	text-decoration: none;
}

.signin #register-wrapper form fieldset input[type="submit"] {
	background:  url('../images4/btn-5.png') no-repeat 0 0;
	width: 121px;
	height: 49px;
	padding: 0;
}
.signin #register-wrapper form fieldset input[type="submit"].es-ES {
	background:  url('../images4/btn-6.png') no-repeat 0 0;
}
.signin #register-wrapper form fieldset input[type="submit"]:hover {
	background-position: 0 -49px;
}

/*- End of Signin Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Forgot Password Styles -----------------------------------------------------------*/

.lb {
	width: 418px;
	background-color: #FFFFFF;
	border: 1px solid #E5EFF8;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 0 3px #E3E3E3;
}

.lb .ttl {
	background: url('../images4/g-9.png') repeat-x 0 0;
	height: 40px;
	line-height: 40px;
	padding: 0 30px;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	border-radius: 4px 4px 0 0;
}

.lb .content {
	padding: 15px 30px;
	color: #898989;
	font-size: 12px;
	line-height: 16px;
}

.lb .content p {
	margin-bottom: 10px;
}

.lb .content input[type="text"] {
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.lb .bottom {
	background: url("../images4/g-3.png") repeat-x scroll 0 0 #FFFFFF;
	padding: 15px 30px;
	overflow: hidden;
}

.lb .bottom a, .lb .bottom input {
	float: right;
	border-radius: 4px;
	border: 1px solid #d8d8d8;
	height: 28px;
	line-height: 28px;
	padding: 0 15px;
	margin-left: 11px;
	font-size: 12px;
	font-weight: bold;	
}

.lb .bottom a {
	color: #8dc63f;
	background: url('../images4/g-11.png') repeat-x 0 0;
	height: 26px;
	line-height: 26px;
}

.lb .bottom a:hover {
	text-decoration: none;
	background-position: 0 -28px;
}

.lb .bottom input[type="submit"] {
	background: url('../images4/g-10.png') repeat-x 0 0;
	cursor: pointer;
	color: #FFFFFF;
}

.lb .bottom input[type="submit"]:hover {
	background-position: 0 -28px;
}

/*- End of Forgot Password Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Thanks LB Styles -----------------------------------------------------------*/

.lb-thanks {
	width: 388px;
	text-align: center;
}

.lb-thanks > img {
	margin-bottom: -4px;
}

.lb-thanks .lb-content {
	background-color: #FFFFFF;
	border: 1px solid #E5EFF8;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 0 3px #E3E3E3;
	padding: 25px 0;
	color: #303030;
	position: relative;
	z-index: 5;
}

.lb-thanks .lb-content h3 {
	font-size: 16px;
	margin-bottom: 10px;
}

.lb-thanks .lb-content p {
	margin-bottom: 10px;
	line-height: 18px;
	font-size: 12px;
}

/*- End of Thanks LB Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- End of Thanks LB Styles -----------------------------------------------------------*/

.faq-wrapper {
	width: 960px;
	margin: 0 auto 33px auto;
	background-color: #FFFFFF;
	border: 1px solid #E5EFF8;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 0 3px #E3E3E3;
}

.faq-wrapper .ttl {
	font-weight: bold;
	font-size: 18px;
	line-height: 50px;
	padding: 0 30px;
}

.accordion h3 {
	background: url("../images4/g-8.png") repeat-x scroll 0 0 #FAFAFA;
	color: #636363;
	font-size: 12px;
	padding: 0 30px;
	line-height: 55px;
	cursor: pointer;
	overflow: hidden;
}

.accordion h3 img {
	background:  url('../images4/arrow-3.png') no-repeat 0 0;
	float: right;
	vertical-align: middle;
	width: 26px;
	height: 25px;
	margin-top: 15px;
}

.accordion h3.ui-state-active {
	color: #8dc63f;
}

.accordion h3.ui-state-active img {
	display: none;	
}

.accordion h3:hover {
	color: #8dc63f;
}

.accordion h3:hover img {
	background-position: 0 -25px;
}

.accordion > div {
	background-color: #FAFAFA;
	padding: 0 30px 30px;
}

.accordion > div p {
	margin-bottom: 10px;
	line-height: 20px;
	color: #303030;
	font-size: 12px;
}

.accordion > div p:last-child {
	margin-bottom: 0;
}

/*- End of Thanks LB Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/