/*- CSS Reset -----------------------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
nav ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

/* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}
input, select {
	vertical-align: middle;
	font-family: helvetica;
}

textarea {
	font-family: helvetica;
}
:focus {
	outline: 0;
}
/*- End of CSS Reset -----------------------------------------------------------*/

/*- General Styles -----------------------------------------------------------*/

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

body {
	background: url("../images/bg.jpg") repeat scroll 0 0 transparent;
	color: #000000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

/*- Custom Styles -----------------------------------------------------------*/

.wrapper .right {	
	width: 650px;
	float: right;
	margin-top: 90px;
}

.wrapper .right .ttl {
	color: #073153;
	font-size: 15px;
	margin-bottom: 40px;
	position: relative;
	z-index: 1000;
}

.wrapper .right .ttl h2 {	
	font-size: 30px;
}

.wrapper .right .content {
	background-color: #FFFFFF;
	border-radius: 3px 3px 0 0;
	color: #303030;
	font-size: 13px;
	line-height: 21px;
	padding: 30px;
	padding-bottom: 15px;
	position: relative;
}

.wrapper .right .content img.country {
	position: absolute;
	top: 0;
	right: 0;
}

.wrapper .right .content h3 {
	color: #073153;
}

.wrapper .right .content p {
	margin-bottom: 15px;
}

.wrapper .right .content ul {
	list-style: none;
	margin-bottom: 15px;
	margin-left: 13px;
	margin-top: 10px;
}

.wrapper .right .content ul:last-child {
	margin-bottom: 0;
}

.wrapper .right .content ul li {
	background: url(../images/ico-2.png) no-repeat 0 50%;
	padding-left: 18px;
}

.wrapper .right .bottom {
	background-color: #fafafa;
	border-radius: 0 0 3px 3px;
	padding: 30px;
	padding-top: 15px;
	color: #303030;
	font-size: 13px;
	font-weight: bold;
	position: relative;
}

.wrapper .right .bottom h4 {
	color: #073153;
	font-size: 17px;
	margin-bottom: 10px;
}

.wrapper .right .bottom p {
	line-height: 21px;
}

.wrapper .right .bottom a {
	background: url(../images/arrow-1.png) no-repeat;
	color: #FFFFFF;
	display: block;
	font-size: 17px;
	height: 35px;
	line-height: 35px;
	margin-left: -30px;
	margin-top: 10px;
	text-align: center;
	width: 344px;
}

.wrapper .right .bottom a:hover {
	text-decoration: none;
}

.wrapper .right .bottom a span {
	color: #f7941d;
}

.wrapper .right > p {
	color: #7ab0d2;
	font-size: 11px;
	line-height: 40px;
}

.wrapper .left {
	float: left;
	text-align: center;
	width: 310px;
}

.wrapper .left img.icon {
	margin-top: 40px;
	position: relative;
	z-index: 100;
}

.wrapper img.bg {
    left: -127px;
    position: absolute;
    top: 0;
}

.wrapper .right .bottom img.seal {
	bottom: -33px;
	position: absolute;
	right: -26px;
}