.card-details.hidden { display:none;}
.checkout-wrapper .checkout-item .bottom .btn-2 { height:37px;}
label.error { 
	color:#F00;
	float:right;
	clear:both;}
input.error, textarea.error, select.error { background:#FCC;}