.wrap {
	margin: 0 auto;
	width: 960px;	
}
#header {
	background-color: #FFF;
}
#content {
	width: 960px;
	margin: 0 auto;
}
#header .wrap {
	height: 60px;
}
#header .cont h1 {
	float: left;
	background-color: gray;
	width: 114px;
	height: 29px;
	margin: 15px 0 0 0;
}
#header .cont ul {
	float: right;
	margin: 20px 0 0 0;
}
#header .cont ul li {
	float: right;
	margin:0 0 0 20px;
}
#admin1 #header .sub {
	background-color: #e2e2e2;
	height: 60px;
}
#admin1 .sub h2 {
	width: 450px;
	float: left;
	font: bold 24px Helvetica;
	color: #303030;
}
#admin1 .sub .btn-1 {
	float: right;
	margin: 10px 0 0 0;
}
#admin1 #content .top {
	height: 60px;
	margin: 15px 0;
}
#admin1 #content .top .lf {
	width: 480px;
	float: left;
}
#admin1 #content .top input[type="text"] {
	width: 330px;
	float: left;
	margin: 0 20px 0 0;
	height: 36px;
}
#admin1 #content .top .rg {
	width: 300px;
	float: right;
}
#admin1 #content .top .rg a {
	float: right;
}
#admin1 #content .top .rg p {
	float: right;
	margin: 0 20px 0 0;
	font: bold 14px/36px Helvetica;
}
#admin1 #content table td {
	padding: 10px;
	border: 1px solid #d2d2d2;
}
#admin1 #content table th {
	text-align: left;
	padding: 10px;
	border: 1px solid #d2d2d2;
}


















































































































