input[type="text"]:focus, input[type="password"]:focus, textarea:focus, textarea:hover, input[type="text"]:hover, input[type="password"]:hover {
	border-color: #addeff!important;
	box-shadow: none;	
	behavior: url(/PIE.htc);
}
/*HOME---------------------------------------------------------------------*/
#newsletter input.btn-1 {
	width: 100px;
}

#wrapper-top .main h2 {
	filter: progid:DXImageTransform.Microsoft.Chroma(Color=#000000)
		    progid:DXImageTransform.Microsoft.DropShadow(OffX=0, OffY=1, Color=#000000);
}
#search-box {
	border-color: #FFFFFF;
	
	padding-bottom: 0;
}
#search-box input[type="text"] {
	text-shadow: none;
	filter: none;
	text-shadow: none !important;
	filter: none;
}
#wrapper-top .main h4 span {
	filter: progid:DXImageTransform.Microsoft.Chroma(Color=#000000)
		    progid:DXImageTransform.Microsoft.DropShadow(OffX=0, OffY=2, Color=#3D3D3D);
}
/*END HOME-----------------------------------------------------------------*/
/*HEADER-------------------------------------------------------------------*/
#header {
	position: relative;
	z-index: 0;
}
#header .header-search input {
	position: relative;
	z-index: 1;
}
#header .header-search input:hover{
	background: #777777 url(../images2/ico-1.png) no-repeat 100% 50% ;
	
}
/*END HEADER---------------------------------------------------------------*/
/*RESULT PAGE--------------------------------------------------------------*/
#search_result ul.cat-menu li a {
	text-shadow: none;
	fiter: dropshadow(none);
}
.header-login .dd.login .facebook {
	padding-bottom: 10px;
}

/*END RESULT PAGE----------------------------------------------------------*/


.lb-forgot .bottom {
	position: relative;
	z-index: 0;
}
.small-wrapper {
	margin-bottom: 30px;
}
.small-wrapper .sign-box {
	position: relative;
	top: 20px;
	margin: 0;
}
.small-wrapper .sign-box .foot {
	padding-top: 10px;
}
.small-wrapper .sign-box.last {
	margin: 20px 0;
}
.sign-box > p {
	line-height: 115px;
}






























































