
/*SEARCH ALL---------------------------------------------------------------*/
.search_box {
	padding: 14px 0 0 5px;
	background-color: #FFF;
	border-bottom: 1px solid #e0e0e0;
	overflow: hidden;
}
.search_box .standard {
	height: 38px;
	background-color: #303030;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 15px 0 15px 22px;
	position: relative;
	z-index: 2;
}
.search_box .standard input[type="text"] {
	background: url(../images2/ico-23.png) no-repeat 10px 50% #FFF;
	padding-left: 47px;
	height: 35px;
	font: bold 16px/45px Helvetica;
	color: #303030;
	width: 580px;
	float: left;
}
.search_box .standard .btn-1 {
	height: 35px;
	font: bold 14px/35px Helvetica;
	float: left;
	margin-left: 20px;
	-webkit-box-shadow: 0px 1px 1px 0px #202020;
	-moz-box-shadow: 0px 1px 1px 0px #202020;
	box-shadow: 0px 1px 1px 0px #202020;
}
.search_box .standard .btn-1:hover {
	-webkit-box-shadow: 0px 1px 1px 0px #000000;
	-moz-box-shadow: 0px 1px 1px 0px #000000;
	box-shadow: 0px 1px 1px 0px #000000;
}
.search_box .standard .btn-1:active {
	-webkit-box-shadow: inset 0px 0px 3px 1px #6BA52D;
	-moz-box-shadow: inset 0px 0px 3px 1px #6BA52D;
	box-shadow: inset 0px 0px 3px 1px #6BA52D;
}
.search_box .advance {
	background-color: #f4f4f4;
	margin: -10px 0 0 0;
	padding-top: 10px;
	position: relative;
	z-index: 1;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	overflow: hidden;
	display: none;
}
.search_box .advance.show {
	display: block !important;
}
.search_box .advance .filter {
	width: 355px;
	float: left;
	position: relative;
	background: url(../images2/sep_filter.png) repeat-y right top;
	padding: 10px 0 20px 0;
}
.search_box .advance .filter .cycle,.search_box .advance .filter .cycle2 {
	margin-left: 37px;
}
.search_box .advance .filter.last {
	width: 185px;
	background: none;
	padding: 10px 25px 0;
}
.search_box .advance .filter.last p {
	margin-bottom: 20px;
}
.search_box .advance .filter.last .bg {
	padding-bottom: 15px;
	background: url(../images2/slider-dot.png) repeat-x left bottom;
	width: 180px;
	margin-bottom: 30px;
}
.search_box .advance .filter.last strong {
	display: block;
	color: #303030;
}
.search_box .advance .filter.last strong span {
	color: #60b5f7;
}
.search_box .advance .filter p {
	font: bold 11px Helvetica;
	color: #303030;
	text-align: center;
	margin-bottom: 10px;
}
.search_box .advance .filter .each {
	overflow: hidden;
	width: 285px;
	z-index: 1000;
	display: block;
}
.search_box .advance .filter > a {
	background: url(../images2/arrow_55.png) no-repeat;
	width: 17px;
	height: 29px;
	display: block;
	position: absolute;
	top: 85px;
	z-index: 1000;
}
.search_box .more {
	background: url(../images2/arrow_56.png) no-repeat 0 2px ;
	padding-left: 10px;
	color: #60b5f7;
	float: right;
	font-size: 11px;
	margin: 15px 0;
}
.search_box .more:hover {
	background-position: 0 -17px;
	text-decoration: none;
	color: #90CEFF;
}




.search_box .advance .filter a.prev, 
.search_box .advance .filter a.prev2 {
	background-position: top left;
	left: 10px;
}
.search_box .advance .filter a.prev:hover, 
.search_box .advance .filter a.prev2:hover {
	background-position:left -44px;
}
.search_box .advance .filter a.prev:active, 
.search_box .advance .filter a.prev2:active {
	background-position:left bottom;
}
.search_box .advance .filter a.next, 
.search_box .advance .filter a.next2 {
	background-position: top right;
	right: 17px;
}
.search_box .advance .filter a.next:hover, 
.search_box .advance .filter a.next2:hover {
	background-position: right -44px;
}
.search_box .advance .filter a.next:active 
.search_box .advance .filter a.next2:active {
	background-position: right bottom;
}
.search_box .filter .pager, 
.search_box .filter .pager2  {
	margin: 0 auto;
	width: 55px;
	overflow: hidden;
}
.search_box .filter .pager a, 
.search_box .filter .pager2 a {
	background-color: #d7d7d7;
    display: block;
    float: left;
    height: 9px;
    margin-right: 5px;
    text-indent: -99999px;
    width: 9px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: inset 0px 1px 0px 1px #AFAFAF;
    -moz-box-shadow: inset 0px 1px 0px 1px #AFAFAF;
    box-shadow: inset 0px 1px 0px 1px #AFAFAF
}
.search_box .filter .pager a.activeSlide, .search_box .filter .pager2 a.activeSlide {
	background-color: #60b5f7;
	-webkit-box-shadow: inset 0px 1px 0px 1px #4C92D4;
	-moz-box-shadow: inset 0px 1px 0px 1px #4C92D4;
	box-shadow: inset 0px 1px 0px 1px #4C92D4
}
.search_box .advance .filter .each ul {
	overflow: hidden;
}
.search_box .advance .filter .each ul li{
	float: left;
	width: 85px;
	margin:0 10px 10px 0;
	list-style: none;
}
.search_box .advance .filter .each ul li a {
	background: url(../images2/search-adv-bg.png) no-repeat;
	width: 85px;
	height: 63px;
	color:#707070;
	display: block;
	font: bold 9px Helvetica;
	text-align: center;
	text-transform: uppercase;
}
.search_box .advance .filter .each ul li:hover a {	
	text-decoration: none;
	background-position: 0 -72px;
}
.search_box .advance .filter .each ul li.selected a{
	background-position: 0 -216px;
	color: #FFF;
}
.search_box .advance .filter .each ul li.selected:hover a {
	background-position: 0 -144px;
}
.search_box .advance .filter .each ul li a span {
	position: relative;
	overflow: hidden;
	display: block;
	background: url(../images2/search-adv-icons.png) no-repeat 18px 0;
	width: 85px;
	height: 48px;
}
.search_box .advance .filter .each ul li.selected a span {
	background-position: -54px 0;
}

.search_box .advance .filter .each ul li a .icon-1 {
	background-position: 18px 11px;
}
.search_box .advance .filter .each ul li.selected a .icon-1 {
	background-position: -54px 11px;
}

.search_box .advance .filter .each ul li a .icon-2 {
	background-position: 18px -38px;
}
.search_box .advance .filter .each ul li.selected a .icon-2 {
	background-position: -54px -38px;
}

.search_box .advance .filter .each ul li a .icon-3 {
	background-position: 18px -86px;
}
.search_box .advance .filter .each ul li.selected a .icon-3 {
	background-position: -54px -86px;
}

.search_box .advance .filter .each ul li a .icon-4 {
	background-position: 18px -134px;
}
.search_box .advance .filter .each ul li.selected a .icon-4 {
	background-position: -54px -134px;
}

.search_box .advance .filter .each ul li a .icon-5 {
	background-position: 18px -182px;
}
.search_box .advance .filter .each ul li.selected a .icon-5 {
	background-position: -54px -182px;
}

.search_box .advance .filter .each ul li a .icon-6 {
	background-position: 18px -229px;
}
.search_box .advance .filter .each ul li.selected a .icon-6 {
	background-position: -54px -229px;
}

.search_box .advance .filter .each ul li a .icon-7 {
	background-position: 18px -279px;
}
.search_box .advance .filter .each ul li.selected a .icon-7 {
	background-position: -54px -279px;
}

.search_box .advance .filter .each ul li a .icon-8 {
	background-position: 18px -324px;
}
.search_box .advance .filter .each ul li.selected a .icon-8 {
	background-position: -54px -324px;
}

.search_box .advance .filter .each ul li a .icon-9 {
	background-position: 18px -373px;
}
.search_box .advance .filter .each ul li.selected a .icon-9 {
	background-position: -54px -373px;
}

.search_box .advance .filter .each ul li a .icon-10 {
	background-position: 20px -422px;
}
.search_box .advance .filter .each ul li.selected a .icon-10 {
	background-position: -52px -420px;
}

.search_box .advance .filter .each ul li a .icon-11 {
	background-position: 20px -472px;
}
.search_box .advance .filter .each ul li.selected a .icon-11 {
	background-position: -52px -472px;
}

.search_box .advance .filter .each ul li a .icon-12 {
	background-position: 19px -517px;
}
.search_box .advance .filter .each ul li.selected a .icon-12 {
	background-position: -52px -517px;
}

.search_box .advance .filter .each ul li a .icon-13 {
	background-position: 20px -566px;
}
.search_box .advance .filter .each ul li.selected a .icon-13 {
	background-position: -52px -566px;
}

.search_box .advance .filter .each ul li a .icon-14 {
	background-position:22px -614px;
}
.search_box .advance .filter .each ul li.selected a .icon-14 {
	background-position: -50px -614px;
}

.search_box .advance .filter .each ul li a .icon-15 {
	background-position: 23px -661px;
}
.search_box .advance .filter .each ul li.selected a .icon-15 {
	background-position: -49px -661px;
}





.search_box .advance .filter.landscapes .each ul li a span {
	position: relative;
	overflow: hidden;
	display: block;
	background: url(../images2/search-adv-icons2.png) no-repeat 18px 0;
	width: 85px;
	height: 48px;
}
.search_box .advance .filter.landscapes .each ul li:hover {
	
}
.search_box .advance .filter.landscapes .each ul li.selected a span {
	background-position: -54px 0;
}

.search_box .advance .filter.landscapes .each ul li a .icon-1 {
	background-position: 18px 11px;
}
.search_box .advance .filter.landscapes .each ul li.selected a .icon-1 {
	background-position: -47px 11px;
}

.search_box .advance .filter.landscapes .each ul li a .icon-2 {
	background-position: 18px -34px
}
.search_box .advance .filter.landscapes .each ul li.selected a .icon-2 {
	background-position: -47px -34px;
}

.search_box .advance .filter.landscapes .each ul li a .icon-3 {
	background-position: 19px -76px;
}
.search_box .advance .filter.landscapes .each ul li.selected a .icon-3 {
	background-position: -46px -76px;
}

.search_box .advance .filter.landscapes .each ul li a .icon-4 {
	background-position: 19px -123px;
}
.search_box .advance .filter.landscapes .each ul li.selected a .icon-4 {
	background-position:-46px -123px;
}

.search_box .advance .filter.landscapes .each ul li a .icon-5 {
	background-position:18px -165px;
}
.search_box .advance .filter.landscapes .each ul li.selected a .icon-5 {
	background-position: -47px -165px;
}

.search_box .advance .filter.landscapes .each ul li a .icon-6 {
	background-position: 17px -214px;
}
.search_box .advance .filter.landscapes .each ul li.selected a .icon-6 {
	background-position: -48px -214px;
}

.search_box .advance .filter.landscapes .each ul li a .icon-7 {
	background-position: 15px -260px;
}
.search_box .advance .filter.landscapes .each ul li.selected a .icon-7 {
	background-position: -50px -260px;
}

.search_box .advance .filter.landscapes .each ul li a .icon-8 {
	background-position: 17px -301px;
}
.search_box .advance .filter.landscapes .each ul li.selected a .icon-8 {
	background-position: -48px -301px;
}

.search_box .advance .filter.landscapes .each ul li a .icon-9 {
	background-position:17px -348px;
}
.search_box .advance .filter.landscapes .each ul li.selected a .icon-9 {
	background-position: -48px -348px;
}

.search_box .advance .filter.landscapes .each ul li a .icon-10 {
	background-position: 17px -394px;
}
.search_box .advance .filter.landscapes .each ul li.selected a .icon-10 {
	background-position: -48px -394px;
}

.search_box .advance .filter.landscapes .each ul li a .icon-11 {
	background-position: 17px -439px;
}
.search_box .advance .filter.landscapes .each ul li.selected a .icon-11 {
	background-position: -48px -439px;
}

.search_box .advance .filter.landscapes .each ul li a .icon-12 {
	background-position:18px -483px;
}
.search_box .advance .filter.landscapes .each ul li.selected a .icon-12 {
	background-position:-47px -483px;
}
.search_box .advance .filter.landscapes .each ul li a .icon-13 {
	background-position: 18px -528px;
}
.search_box .advance .filter.landscapes .each ul li.selected a .icon-13 {
	background-position: -47px -528px;
}

.search_box .advance .filter.landscapes .each ul li a .icon-14 {
	background-position: 18px -573px;
}
.search_box .advance .filter.landscapes .each ul li.selected a .icon-14 {
	background-position: -47px -573px;
}
.search_box .advance .filter.landscapes .each ul li a .icon-15 {
	background-position: 17px -617px;
}
.search_box .advance .filter.landscapes .each ul li.selected a .icon-15 {
	background-position: -48px -617px;
}
.search_box .advance .filter.landscapes .each ul li a .icon-16 {
	background-position: 18px -663px;
}
.search_box .advance .filter.landscapes .each ul li.selected a .icon-16 {
	background-position: -47px -663px;
}





#search_all .map {
	background: url(../images2/search-map.png) 88px  100px no-repeat;
	height: 450px;
	position: relative;
}
#search_all .map h2 {
	color: #303030;
	font: bold 30px/35px Helvetica;
	text-align: center;
	padding-top: 20px;
}

#search_all .map h3 {
	color: #707070;
	font: bold 19px/22px Helvetica;
	text-align: center;
}
#search_all .map .cont {
	overflow: hidden;
}
#search_all .map .cont > a {
	color: #ffffff;
	background: url(../images2/search-pin-off.png) top center no-repeat;
	display: block;
	position: absolute;
	padding-top: 30px;
}
#search_all .map .cont > a:hover {
	text-decoration: none;
}
#search_all .map .cont > a span {
	background-color: #707070;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	display: block;
	padding: 0 10px;
	height: 22px;
	text-align: center;
	font: bold 11px/22px Helvetica;
	text-shadow: 0px 1px 0px #4b4b4b;
	filter: dropshadow(color=#4b4b4b, offx=0, offy=1);
}
#search_all .map .cont > a:hover span {
	background-color: #656565;
}
#search_all .map .cont a.north_america {
	left: 184px;
	    top: 158px;
}
#search_all .map .cont a.caribbean {
	left: 288px;
    top: 201px;
}
#search_all .map .cont a.central_america {
    background: url(../images2/search-pin-on.png) top center no-repeat;
    left: 216px;
    padding-top: 40px;
    top: 231px;
}
#search_all .map .cont a.central_america span {
	background-color: #99d04f;
	border: 1px solid #7cb235;
	text-shadow: 0px 1px 0px #80b839;
	filter: dropshadow(color=#80b839, offx=0, offy=1);
	-webkit-box-shadow: 0px 0px 1px 1px #cbcbcb;
	-moz-box-shadow: 0px 0px 1px 1px #cbcbcb;
	box-shadow: 0px 0px 1px 1px #cbcbcb;
}
#search_all .map .cont a.south_america {
	bottom: 60px;
	    left: 270px;
}
#search_all .map .cont a.europe {
	left: 490px;
    top: 146px;
}
#search_all .map .cont a.middle-east {
	left: 558px;
	   top: 197px;
}
#search_all .map .cont a.africa {
	left: 481px;
	    top: 242px;
}

#search_all .map .cont a.asia {
	right: 226px;
	    top: 156px;
}
#search_all .map .pacific {
	bottom: 129px;
    right: 169px;
}
#search_all .map .listings {
	background: url(../images2/arrow-23.png) no-repeat bottom center;
	padding-bottom: 6px;
	width: 200px;
}
#search_all .map .listings .beta {
	background-color:#303030;
	width: 200px;
	padding:8px 0 15px;
}
#search_all .map .listings .beta p {
	text-align: center;
	color: #FFF;
	font: 11px/14px Helvetica;
	padding-bottom: 10px;
}
#search_all .map .listings .beta a.explore {
	background-color: #212121;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: inset 0px 1px 0px 0px #000000;
	-moz-box-shadow: inset 0px 1px 0px 0px #000000;
	box-shadow: inset 0px 1px 0px 0px #000000;
	width: 140px;
	color: #60b5f7;
	height: 21px;
	display: block;
	padding: 0 10px;
	font: bold 11px/21px Helvetica;
	text-align: center;
	text-shadow: 0px 1px 0px #141414;
	filter: dropshadow(color=#141414, offx=0, offy=1); 
}
#search_all .map .listings .beta em {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 0px 1px 0px 0px #545454 ;
	-moz-box-shadow: 0px 1px 0px 0px #545454 ;
	box-shadow: 0px 1px 0px 0px #545454 ;
	font-style: normal;
	display: block;
	width: 160px;
	margin: 0 auto;
}
#search_all .map .listings .beta a.explore:hover {
	text-decoration: none;
	background-color: #1b1b1b;
}
#search_all .map .listings .beta a.explore span {
	display: block;
	padding-left: 20px;
	background: url(../images2/ico_137.png) no-repeat left 50%;
}

#search_all .map .soon {
	background: url(../images2/arrow-23.png) no-repeat bottom center;
	padding-bottom: 6px;
	width: 110px;
	text-align: center;
	color: #FFF;
	font: 11px/24px Helvetica;
	height: 24px;
	text-transform: uppercase;
}
#search_all .map .soon p {
	background-color:#303030;
	height: 24px;
}



#search_all .places > ul{
	background: url("../images2/g_65.gif") repeat-x scroll 0 0 transparent;
    height: 56px;
    list-style: none;
    overflow: hidden;
    padding-left: 20px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
}
#search_all .places > ul > li {
	-moz-box-shadow: 0 0 4px 0 #000000;
    float: left;
    margin: 13px 20px 0 0;
}
#search_all .places > ul > li > a {
	-moz-border-radius: 4px 4px 0 0;
    -moz-box-shadow: 0 -2px 4px 0 #585858 inset;
    background-color: #a0a0a0;
    border-top: 1px solid #B2B2B2;
    color: #F2F2F2;
    display: block;
    font: bold 13px/43px Helvetica;
    height: 43px;
    text-align: center;
    text-shadow: 0 1px 0 #636363;
    width: 150px;
}
#search_all .places > ul > li > a:hover, #search_all .places > ul > li.ui-state-active a{
    -moz-box-shadow: none;
    background-color: #FFFFFF;
    border-top: none;
    color: #303030;
    text-decoration: none;
    text-shadow: none;
}
#search_all .places > ul > li > a > span {
	background: url(../images2/search-tabs.png) no-repeat 0 0;
	display: block;
	padding-left: 15px;
}
#search_all .places ul li a.popular span{
	background-position: 12px 6px;
}
#search_all .places ul li a.popular:hover span {
	background-position: 12px -191px;
}
#search_all .places ul li a.landscapes span{
	background-position: 12px -42px;
}
#search_all .places ul li a.landscapes:hover span {
	background-position: 12px -240px;
}
#search_all .places ul li a.nearest span{
	background-position: 12px -93px;
}
#search_all .places ul li a.nearest:hover span {
	background-position: 12px -293px;
}
#search_all .places ul li a.collections span{
	background-position: 12px -141px;
}
#search_all .places ul li a.collections:hover span {
	background-position: 12px -351px;
}
#search_all .places .tab {
	background-color: #FFF;
	border: 1px solid #e7e7e7;
	border-top: 1px solid #FFF;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
	overflow: hidden;
}
#search_all .places .tab .sidebar {
	float: left;
    width: 180px;
    padding: 20px 0 0 0;
}
#search_all .places .tab .sidebar .heading {
	color: #898989;
	font: 11px/17px Helvetica;
	text-transform: uppercase;
	padding: 0 0 10px 30px;
}
#search_all .places .tab .sidebar ul {
	padding-bottom: 30px;
	width: 190px;
	position: relative;
	z-index: 10;
}
#search_all .places .tab .sidebar ul li a{
	padding-left: 30px;
	display: block;
	height: 23px;
	color: #60b5f7;
	font: 12px/23px Helvetica;
}
#search_all .places .tab .sidebar ul li a:hover {
	background: url(../images2/arrow_58.png) no-repeat bottom right;
	text-decoration: none;
	color:#60b5f7 ;
}
#search_all .places .tab .sidebar ul li a.active {
	background: url(../images2/arrow_58.png) no-repeat top right;
	color: #FFF;
}





#search_all .places .tab .content {
	float: left;
	padding:20px 0 0 29px;
	overflow: hidden;
	background: url(../images2/sep-3.png) repeat-y -169px 0 #FFF;
}
#search_all .places .tab .content h4 {
	color: #303030;
	font: bold 16px/20px Helvetica;
	padding-bottom: 10px;
}
#search_all .content .featured {
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
}
#search_all .content .featured img {
	float: left;
}
#search_all .content .featured .info {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 335px;
	background-color: rgba(0, 0, 0, 0.7);
	color: rgba(0, 0, 0, 0.7);
	z-index: 4;
	padding: 18px 0 18px 30px;
}
#search_all .featured .info .data {
	width: 215px;
	float: left;
	background: url(../images2/sep_search.png) repeat-y right top;
}
#search_all .featured .info .data p {
	color: #959595;
	font: 13px/16px Helvetica;
	padding-bottom: 5px;
}
#search_all .featured .info .data strong {
	color: #FFF;
	font: 29px/32px Helvetica;
	display: block;
}
#search_all .featured .info .data a {
	color: #60b5f7;
	padding-right: 15px;
	background: url(../images2/arrow-10.png) no-repeat right 50%;
	display: inline-block;
}
#search_all .featured .info > p {
	color: #FFFFFF;
    float: right;
    font: 12px/15px Helvetica;
    width: 100px;
}
#search_all .featured .info > p strong {
	font: bold 44px/46px Helvetica;
	display: block;
	text-transform: uppercase;
}



#search_all .content .all {
	overflow: hidden;
	width: 722px;
}
#search_all .content .single {
	float: left;
	position: relative;
	margin-bottom: 25px;
}
#search_all .content .single.right {
	float: right;
}
#search_all .content .single img {
	float: left;
}
#search_all .content .single .info {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 254px;
	background-color: rgba(0, 0, 0, 0.7);
	color: rgba(0, 0, 0, 0.7);
	z-index: 4;
	padding: 15px 0 15px 20px;
}

#search_all .single .info .data {
	background: url("../images2/sep_search.png") repeat-y right top;
	    float: left;
	    width: 160px;
}
#search_all .single .info .data p {
	color: #959595;
	font: 11px/16px Helvetica;
	padding-bottom: 5px;
}
#search_all .single .info .data strong {
	color: #FFF;
	font: 20px/24px Helvetica;
	display: block;
}
#search_all .single .info .data a {
	color: #60b5f7;
	padding-right: 15px;
	background: url(../images2/arrow-10.png) no-repeat right 50%;
	display: inline-block;
	font-size: 11px;
}
#search_all .single .info > p {
	width: 70px;
	float: right;
	color: #FFF;
	font: 8px/10px Helvetica;
}
#search_all .single .info > p strong {
	font: bold 30px/32px Helvetica;
	display: block;
	text-transform: uppercase;
}

#search_all .content .controls {
	padding-bottom: 20px;
	overflow: hidden;
}
#search_all .content .controls .pager3{
	float: left;
	width: 120px;
	margin-top: 15px;
}
#search_all .content .controls .pager3 a {
	background-color: #D7D7D7;
    display: block;
    float: left;
    height: 9px;
    margin-right: 5px;
    text-indent: -99999px;
    width: 9px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: inset 0px 1px 0px 1px #AFAFAF;
    -moz-box-shadow: inset 0px 1px 0px 1px #AFAFAF;
    box-shadow: inset 0px 1px 0px 1px #AFAFAF; 
    overflow: hidden;
}
#search_all .content .controls .pager3 a:hover,
#search_all .content .controls .pager3 a.activeSlide {
	background-color: #60B5F7;
	-webkit-box-shadow: inset 0px 1px 0px 1px #4C92D4;
	-moz-box-shadow: inset 0px 1px 0px 1px #4C92D4;
	box-shadow: inset 0px 1px 0px 1px #4C92D4; 
}
#search_all .content .controls .buttons{
	float: right;
	width: 40px;
	height: 36px;
	background: url(../images2/sep-6.png) no-repeat top center;
	padding-bottom: 10px;
}
#search_all .content .controls .buttons a {
	background: url(../images2/arrow_57.png) no-repeat;
	display: block;
	width: 11px;
	height: 18px;
	margin-top: 10px;
}
#search_all .content .controls .buttons a.left {
	background-position:left top ;
	float: left;
}
#search_all .content .controls .buttons a.left:hover {
	background-position:left -26px ;
}
#search_all .content .controls .buttons a.left:active {
	background-position:left bottom ;
}
#search_all .content .controls .buttons a.right {
	background-position:right top ;
	float: right;
}
#search_all .content .controls .buttons a.right:hover {
	background-position:right -26px ;
}
#search_all .content .controls .buttons a.right:active {
	background-position:right bottom ;
}
#search_all .content .controls .bottom {
	clear: both;
	border-top: 1px solid #f2f2f2;
}
#search_all .content .controls .bottom a {
	color: #60b5f7;
	font: bold 12px/14px Helvetica;
	float: right;
	padding: 20px 0 0 0;
}



#search_all .places .tab#nearest .content h4 {
	overflow: hidden;
}
#search_all .places .tab#nearest .content h4 span {
	float: right;
	font: 11px Helvetica;
	color: #303030;
}
#search_all .places .tab#nearest .content h4 span a {
	color: #60b5f7;
	margin-left: 10px;
}
#search_all .places .tab#nearest .controls {
	padding: 0 0 20px;
}
#search_all .places #collections {
	padding: 0;
}
#search_all .places #collections h4 {
	color: #303030;
	font: bold 16px/20px Helvetica;
	padding: 20px 0 15px 20px;
}
#search_all .places #collections .collection{
	float: left;
	border: 4px solid #ebebeb;
	margin: 0 0 20px 20px;
	height: 168px;
	overflow: hidden;
	position: relative;
	width: 286px;
}
#search_all .places #collections .collection .descrip {
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.8);
	color: rgba(0, 0, 0, 0.8);
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 286px;
	height: 168px;
	display: none;
}
#search_all .places #collections .collection:hover .descrip {
	display: block;
}
#search_all .places #collections .descrip > a {
	display: block;
}
#search_all .places #collections .descrip > a:hover {
	text-decoration: none;
}
#search_all .places #collections .collection .descrip .spots {
	display: block;
	background: url(../images2/orange-circle.png) no-repeat 0 0;
	height: 66px;
	width: 91px;
	color: #FFF;
	font: bold 24px/26px Helvetica;
	text-align: center;
	padding-top: 25px;
	float: left;
	margin: 34px 0 0 23px;
}
#search_all .places #collections .descrip .spots strong {
	text-align: center;
	font:normal 10px Helvetica;
	text-transform: uppercase;
	display: block;
}
#search_all .places #collections .descrip em {
	color: #ffffff;
	font: normal bold 15px/160px Helvetica;
	margin-left: 10px;
}
#change_location {
	width: 350px;
}
#change_location .top {
	padding-left: 20px;
}
#change_location .mid {
	background-color: #FFF;
	padding: 10px 0 20px 20px;
}
#change_location .mid label {
	display: block;
	font: bold 12px/14px Helvetica;
	margin-bottom: 7px;
}
#change_location .mid input[type="text"] {
	width: 280px;
	padding-left: 25px;
	height: 35px;
	background: url(../images2/ico-3.png) no-repeat 7px 50%;
	color: #898989;
	font: 13px/35px Helvetica;
}
/*END SEARCH ALL-----------------------------------------------------------*/
/*LIGHTBOX EMAIL TO FRIEND-------------------------------------------------*/
#send_to_friend {
	background: url(../images2/email_stamp.png) no-repeat 0 4px #FFF;
	width: 460px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: relative;
	margin: 0 auto;
}
#send_to_friend .top {
	-moz-border-radius-topleft: px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: px 4px 0px 0px;
	border-radius: px 4px 0px 0px;
	background: url(../images2/g-54.png) repeat-x left bottom;
	height: 82px;
	color: #303030;
	font: bold 20px/82px Helvetica;
	text-align: center;
}
#send_to_friend .mid img {
	display: block;
	background: url(../images2/email_shadow.png) no-repeat center bottom;
	padding-bottom: 16px;
	margin: 0 auto;
}#send_to_friend .mid p {
	text-align: center;
	color: #898989;
}
/*END LIGHTBOX EMAIL TO FRIEND---------------------------------------------*/











































































