RewriteEngine on
RewriteCond ${LeechProtect:/home/cristia6/public_html:%{REMOTE_USER}:%{REMOTE_ADDR}:3} leech
RewriteRule .* /
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
AuthName "/"
