/*- CSS Reset -----------------------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
nav ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
/* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
/* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}
input, select {
	vertical-align: middle;
	font-family: helvetica;
}

textarea {
	font-family: helvetica;
}
:focus {
	outline: 0;
}
/*- End of CSS Reset -----------------------------------------------------------*/

/*- General Styles -----------------------------------------------------------*/
body {
	background: url('../images/bg.jpg') repeat 0 0;
	color: #616161;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
}
body.white-bg {
	background: #fff;
}
.wrapper {
	width: 960px;
	margin: 0 auto;
}
.clear {
	clear: both;
	text-indent: -9999px;
}

.border {
	border: 1px solid #E2E2E2;
	box-shadow: 0 0 5px #E2E2E2;
	display: block;
	padding: 4px;
	background-color: #fff;
}
/*- End of General Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Font Setup -----------------------------------------------------------*/

/*- End of Font Setup -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Buttons Styles -----------------------------------------------------------*/

.btn {
	background: url("../images/btn-6.jpg") repeat-x scroll 0 0 transparent;
	border: 1px solid #BCBBBB;
	border-radius: 2px;
	box-shadow: 0 1px 0 #E3E3E3;
	color: #616161;
	font-size: 11px;
	font-weight: bold;
	line-height: 20px;
	padding: 2px 6px;
	text-shadow: 0 1px 0 #FFFFFF;
}


.btn img {
	box-shadow: -1px -1px 0 #FFFFFF;
	vertical-align: middle;
	border-radius: 10px;
	margin-right: 5px;
	height: 8px;
	width: 8px;
}

.btn.green img {
	background-color: #85bb3c;
}

.btn.red img {
	background-color: #e66020;
}

.btn:hover {
	text-decoration: none;
}

.btn-1 {
	background: url('../images/btn-1.jpg') repeat-x 0 0;
	border: 1px solid #eeb65c;
	border-radius: 2px;
	color: #FFFFFF!important;
	display: block;
	font-size: 11px;
	height: 25px;
	line-height: 25px;
	padding: 0 17px;
	text-align: center;
	text-shadow: -1px 1px 0 #D59727;
}
.btn-1:hover {
	text-decoration: none;
}
.btn-1:active {
	box-shadow: 0 0 5px #fdce4e;
}
.btn-2 {
	background: url("../images/btn-2.jpg") repeat-x scroll 0 0 transparent;
    border: 1px solid #C38018;
    border-radius: 2px;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    text-shadow: -1px 1px 0 #D59727;
}
.btn-2:hover {
	cursor: pointer;
	text-decoration: none;
}
.btn-3 {
	background: url("../images/btn-3.jpg") repeat-x scroll 100% 0 transparent;
	border: 1px solid #F7DD9A;
	border-radius: 2px;
	display: block;
	height: 52px;
	line-height: 52px;
	text-align: center;
	color: #cf9807;
	font-size: 19px;
	text-shadow: -1px 1px 0 #fff;
}
.btn-3:hover {
	text-decoration: none;
}
.btn-4 {
	background: url("../images/btn-4.jpg") repeat-x scroll 0 0 transparent;
    display: block;
    height: 28px;
    line-height: 28px;
    padding: 0 13px;
    color: #616161;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
}
.btn-4:hover {
	text-decoration: none;
}
.btn-5 {
	background: url("../images/btn-5.jpg") repeat-x scroll 0 0 transparent;
	border-radius: 2px;
	color: #CF9807;
	display: block;
	font-size: 15px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	border: 1px solid #f7dd9a;
	text-shadow: 0 1px 0 #fff;
}
.btn-5:hover {
	text-decoration: none;
}
.btn-6 {
	background: url("../images/btn-6.jpg") repeat-x scroll 0 0 transparent;
	display: block;
	height: 20px;
	line-height: 20px;
	border: 1px solid #bcbbbb;
	border-radius: 2px;
	color: #616161;
	font-size: 11px;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #e3e3e3;
	cursor: pointer;
}
.btn-6:hover {
	text-decoration: none;
}
.btn-7 {
	background: url("../images/btn-7.jpg") repeat-x scroll 0 0 transparent;
	display: block;
	height: 20px;
	line-height: 20px;
	border: 1px solid #bcbbbb;
	border-radius: 2px;
	color: #616161;
	font-size: 11px;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #e3e3e3;
	padding: 0 10px;
}
.btn-7:hover {
	background-position: 0 -20px;
	border: 1px solid #d46c43;
	text-decoration: none;
	text-shadow: 0 1px 0 #c34721;
	box-shadow: 0 1px 0 #fcbda5;
	color: #fff;
}
.btn-8 {
	background: url("../images/btn-8.jpg") repeat-x scroll 0 0 transparent;
	border: 1px solid #BCBBBB;
	border-radius: 2px;
	box-shadow: 0 1px 0 #E3E3E3;
	color: #616161;
	display: block;
	font-size: 14px;
	height: 36px;
	line-height: 36px;
	text-shadow: 0 1px 0 #FFFFFF;
	text-align: center;
}
.btn-8:hover {
	text-decoration: none;
}
.btn-9 {
	background: url("../images/btn-9.jpg") repeat-x scroll 0 0 transparent;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	font-weight: bold;
	color: #427205;
	text-shadow: -1px 1px 0 #fff;
	display: block;
	padding: 0 8px;
	border: 1px solid #84cb36;
	border-radius: 2px;
}
.btn-9:hover {
	text-decoration: none;
}
.btn-10 {
	background: url("../images/btn-10.jpg") repeat-x scroll 0 0 transparent;
	border: 1px solid #BCBBBB;
	color: #616161!important;
	font-size: 12px;
	height: 25px;
	margin: 0;
	padding: 0 4px;
	text-shadow: 0 1px 0 #FFFFFF;
	cursor: pointer;
	border-radius: 2px;
}
.btn-10:hover {
	text-decoration: none;
}
.btn-11 {
	background: url("../images/btn-11.jpg") repeat-x scroll 0 0 transparent;
	border: 1px solid #d46c43;
	border-radius: 2px;
	display: block;
	height: 36px;
	line-height: 36px;
	font-size: 13px;
	color: #fff;
	text-shadow: 0 1px 0 #bb401d;
}
.btn-11:hover {
	text-decoration: none;
}
.btn-12 {
	background: url("../images/btn-12.jpg") repeat-x scroll 0 0 transparent;
	font-family: Helvetica;
	border: 1px solid #c38018;
	display: block;
	height: 27px;
	line-height: 27px;
	font-size: 14px;
	color: #fff;
	text-shadow: 0 1px 0 #c77313;
	cursor: pointer;
}
.btn-12:hover {
	text-decoration: none;
}

.btn-13 {
	background: url("../images/btn-13.jpg") repeat-x scroll 0 0 transparent;
	border: 1px solid #bcbbbb;
	border-radius: 2px;
	display: block;
	height: 20px;
	line-height: 20px;
	color: #616161;
	cursor: pointer;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	padding: 0 10px;
}
.btn-13:hover {
	background-position: 0 -20px;
	border: 1px solid #84cb36;
	text-decoration: none;
	color: #4a7a0c;
}

.btn-14 {
	background: url("../images/btn-14.jpg") repeat-x scroll 0 0 transparent;
	border: 1px solid #C38018;
	border-radius: 2px;
	color: #FFFFFF;
	font-family: helvetica;
	font-size: 11px;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	text-shadow: 0 1px 0 #C38018;
	cursor: pointer;
}
.btn-14:hover {
	text-decoration: none;
}

.btn-15 {
	background: url("../images/btn-15.jpg") repeat-x scroll 100% 0 transparent;
	border: 1px solid #5f8e1f;
	border-radius: 2px;
	padding: 0 10px;
	display: block;
	height: 14px;
	line-height: 14px;
	color: #335511;
	font-size: 11px;
	font-weight: bold;
	text-shadow: 0 1px 0 #FFFFFF;
}
.btn-15:hover {
	text-decoration: none;
}

.btn-16 {
	background: url("../images/btn-16.png") repeat-x scroll 100% 0 transparent;
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	border: 1px solid #c38829;
	border-radius: 2px;
	color: #ffffff;
	font-size: 12px;
	text-shadow: 0 1px 0 #c38829;
	cursor: pointer;
}
.btn-16:hover {
	text-decoration: none;
}
.btn-17 {
	background: url("../images/btn-17.png") repeat-x scroll 100% 0 transparent;
	border: 1px solid #F8BA9C;
	display: block;
	height: 20px;
	line-height: 20px;
	color: #f26522;
	font-size: 11px;
	text-shadow: 0 1px 0 #FFF;
	padding: 0 7px;
	font-weight: bold;
	border-radius: 2px;
}
.btn-17:hover {
	text-decoration: none;
}

.btn-18 {
	background-color: #e0f2fd;
	heigth: 27px;
	line-height: 27px;
	display: block;
	color: #073153;
	font-size: 12px;
	text-shadow: 0 1px 0 #FFFFFF;
	text-align: center;
	border: 1px solid #bde1f7;
	border-radius: 2px;
}
.btn-18:hover {
	text-decoration: none;
}

.btn-19 {
	background: url("../images/btn-6.jpg") repeat-x scroll 0 0 transparent;
	border: 1px solid #BCBBBB;
	border-radius: 2px;
	box-shadow: none;
	padding: 0 7px;
	color: #616161;
	cursor: pointer;
	display: block;
	font-size: 11px;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	text-shadow: 0 1px 0 #FFFFFF;
}
.btn-19:hover {
	text-decoration: none;
}

.btn-20 {
	border-radius: 2px;
	border: 1px solid #cbe7a7;
	background-color: #f3fee4;
	color: #487c06;
	font-size: 11px;
	font-weight: bold;
	padding: 0 11px;
	line-height: 20px;
	display: block;
	text-shadow: 0 1px 0 #FFFFFF;
}
.btn-20:hover {
	text-decoration: none;
}

.btn-21 {
	background-color: #8eca55;
	line-height: 26px;
	height: 26px;
	display: block;
	text-align: center;
	border-radius: 2px;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 1px 0 #5fab2a;
}
.btn-21:hover {
	text-decoration: none;
}

.btn-22 {
	background: url("../images/btn-22.png") repeat-x scroll 0 0 transparent;
	border: 1px solid #8ec1e0;
	border-radius: 2px;
	box-shadow: 0 1px 0 #f7fcff;
	padding: 0 20px;
	color: #315470;
	cursor: pointer;
	display: block;
	font-size: 12px;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	text-shadow: 0 1px 0 #FFFFFF;
}
.btn-22:hover {
	text-decoration: none;
}

/*- End of Buttons Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Links Styles -----------------------------------------------------------*/

.link-1 {
	background: url("../images/arrow-2.jpg") no-repeat scroll 100% 0 transparent;
	color: #F3F8A3;
	font-size: 11px;
	line-height: 13px;
	padding-right: 15px;
}
.link-2 {
	background: url("../images/arrow-13.png") no-repeat scroll 100% 0 transparent;
    color: #F7941D!important;
    font-size: 11px;
    line-height: 11px;
    padding-right: 16px;
}

.link-3, .link-4, .link-7, .link-8, .link-9 {
	color: #616161;
	font-size: 11px;
	font-weight: bold;
	line-height: 20px;
}

.link-3:hover, .link-4:hover, .link-7:hover, .link-8:hover, .link-9:hover {
	text-decoration: none;
}

.link-3 img {
	background: url("../images/ico-120.png") no-repeat scroll 0 0 transparent;
	height: 12px;
	vertical-align: middle;
	width: 11px;
	margin-right: 5px!important;
	float: none!important;
}

.link-4 img {
	background: url("../images/ico-119.png") no-repeat scroll 0 0 transparent;
	height: 11px;
	vertical-align: middle;
	width: 13px;
	float: none!important;
	margin-right: 5px!important;
}

.link-5 {
	background: url("../images/ico-121.png") no-repeat scroll 0 50% transparent;
	line-height: 20px;
	font-size: 11px;
	padding-left: 24px;
	font-weight: bold;
	color: #616161;
}

.link-6 {
	background: url("../images/ico-117.png") no-repeat scroll 0 50% transparent;
	color: #616161;
	font-size: 11px;
	font-weight: bold;
	line-height: 20px;
	padding-left: 22px;
}

.link-7 img {
	background: url("../images/ico-122.png") no-repeat scroll 0 100% transparent;
	float: none !important;
	height: 12px;
	margin-right: 5px !important;
	vertical-align: middle;
	width: 10px;
}

.link-8 img {
	background: url("../images/ico-122.png") no-repeat scroll 0 0 transparent;
	float: none !important;
	height: 12px;
	margin-right: 5px !important;
	vertical-align: middle;
	width: 10px;
}

.link-9 img {
	background: url("../images/ico-123.png") no-repeat scroll 0 0 transparent;
	float: none !important;
	height: 10px;
	margin-right: 5px !important;
	vertical-align: middle;
	width: 14px;
}

/*- End of Links Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Header Styles -----------------------------------------------------------*/

#header {
	background: url("../images/header-admin.jpg") repeat-x scroll 0 0 transparent;
	height: 54px;
	padding: 3px 0 0;
}

#header + div {
	clear: both;
}

/*Logo*/
.logo {
	float: left;
}
.logo a {
	background: url('../images/logo.jpg') no-repeat 0 0;
	display: block;
	height: 53px;
	text-indent: -9999px;
	width: 191px;
}

/*Menu*/
#header .wrapper > ul {
    background: url("../images/sep-4.jpg") no-repeat scroll 100% 0 transparent;
    float: left;
    list-style: none outside none;
    padding-right: 1px;
}

#header .wrapper > ul > li {
	border-left: 1px solid #ebebeb;
    float: left;
}
#header .wrapper > ul > li > a {
    color: #1C81BD;
    display: block;
    font-weight: bold;
    line-height: 53px;
    padding: 0 20px;
}
#menu ul li a:hover, #menu ul li.active a {
	text-decoration: none;
	background: url("../images/btm.png") repeat-x scroll 0 100% transparent;
}
#header .wrapper > ul > li > a:hover, #header .wrapper > ul > li.active > a {
    text-decoration: none;
    background: url("../images/btm.png") repeat-x scroll 0 100% transparent;
}
.sign-up {
	float: right;
	line-height: 53px;
	font-size: 12px;
	position: relative;
}
.sign-up .dd-signup {
	background-color: #FFFFFF;
	border-bottom: 1px solid #E1E6E8;
	border-top: 1px solid #E1E6E8;
	box-shadow: 0 0 5px;
	left: 0;
	line-height: normal;
	padding: 15px 10px;
	position: absolute;
	top: 45px;
	z-index: 100;
	display: none;
}
.sign-up .dd-signup.show {
	display: block;
}
.sign-up .dd-signup.show + img.arrow {
	display: block;
}
.sign-up img.arrow {
	left: 18px;
	position: absolute;
	top: 36px;
	display: none;
}
.sign-up .dd-signup fieldset {
	overflow: hidden;
}

.sign-up .dd-signup fieldset input[type="text"], .sign-up .dd-signup fieldset input[type="password"]{
	background: url("../images/ico-113.png") no-repeat scroll 100% 50% transparent;
	border: 1px solid #DAD9D9;
	border-radius: 2px 2px 2px 2px;
	color: #BFBFBF;
	display: block;
	font-size: 13px;
	height: 20px;
	margin-bottom: 12px;
	padding: 5px 20px 5px 5px;
	width: 194px;
}

.sign-up .dd-signup fieldset input[type="submit"] {
	float: right;
}

.sign-up .dd-signup fieldset input + input {
	background: url("../images/ico-114.png") no-repeat scroll 100% 50% transparent!important;
}

.sign-up p {
	float: left;
	margin-right: 14px;
}
.sign-up p a {
	color: #f9a221;
	font-weight: bold;
}
.sign-up a.btn-1 {
	float: left;
	margin-top: 12px;
}
/*Search*/

#search {
	background: url('../images/search.jpg') no-repeat 0 0;
	height: 48px;
	margin-top: 4px;
	padding: 10px 10px 0 10px;
	overflow: hidden;
}
#search form {
	float: left;
}
#search input[type="text"] {
	background: url("../images/magnifying.jpg") no-repeat scroll 0 0 #FFFFFF;
	border: 1px solid #5DA0C7;
	border-radius: 5px 5px 5px 5px;
	display: block;
	float: left;
	height: 34px;
	line-height: 34px;
	margin-right: 10px;
	padding: 0 10px 0 42px;
	width: 362px;
	color: #8a8b8b;
	font-size: 18px;
}
#search input[type="submit"] {
	float: left;
	width: 102px;
}
.search-featured {
	float: right;
	overflow: hidden;
	width: 370px;
}
.search-featured img {
	float: left;
	margin-right: 20px;
}
.search-featured h2 {
	color: #FFFFFF;
	font-size: 13px;
	margin-bottom: 3px;
	text-shadow: -1px 1px 0 #3991CE;
}
.search-featured p {
	color: #c6e3f4;
	text-shadow: -1px 1px 0 #3991ce;
}
/*- End of Header Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Emty Page Styles -----------------------------------------------------------*/

.empty-container {
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	min-height: 505px;
	padding-top: 85px;
	text-align: center;
	font-size: 20px;
	color: #bebebe;
	font-weight: bold;
}

.empty-container img {
	margin-bottom: 30px;
}

/*- End of Emty Page Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/	
