/*- General Styles -----------------------------------------------------------*/
body {
	background: url('../images/bg.jpg') repeat 0 0;
	color: #616161;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
}
.wrapper {
	width: 960px;
	margin: 0 auto;
}
.clear {
	clear: both;
	text-indent: -9999px;
}
/*- End of General Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Font Setup -----------------------------------------------------------*/

/*- End of Font Setup -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Buttons Styles -----------------------------------------------------------*/

a.link-2 {
	background: url("../images/arrow-13.png") no-repeat scroll 100% 0 transparent;
    color: #F7941D!important;
    font-size: 11px;
    line-height: 11px;
    padding-right: 16px;
}

.btn-1 {
	background: url('../images/btn-1.jpg') repeat-x 0 0;
	border: 1px solid #eeb65c;
	border-radius: 5px 5px 5px 5px;
	color: #FFFFFF;
	display: block;
	font-size: 11px;
	height: 25px;
	line-height: 25px;
	padding: 0 17px;
	text-align: center;
	text-shadow: -1px 1px 0 #D59727;
}
.btn-1:hover {
	text-decoration: none;
}
.btn-2 {
	background: url("../images/btn-2.jpg") repeat-x scroll 0 0 transparent;
	border: 1px solid #C38018;
	border-radius: 5px 5px 5px 5px;
	color: #FFFFFF;
	display: block;
	font-size: 14px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	text-shadow: -1px 1px 0 #D59727;
}
.btn-2:hover {
	cursor: pointer;
	text-decoration: none;
}
.btn-3 {
	background: url("../images/btn-3.jpg") repeat-x scroll 100% 0 transparent;
	border: 1px solid #F7DD9A;
	border-radius: 5px 5px 5px 5px;
	display: block;
	height: 52px;
	line-height: 52px;
	text-align: center;
	color: #cf9807;
	font-size: 19px;
	text-shadow: -1px 1px 0 #fff;
}
.btn-3:hover {
	text-decoration: none;
}
.btn-4 {
	background: url("../images/btn-4.jpg") repeat-x scroll 0 0 transparent;
	display: block;
	height: 28px;
	line-height: 28px;
	padding: 0 13px;
	color: #616161;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	border: 1px solid #cfcfcf;
	border-radius: 5px;
}
.btn-4:hover {
	text-decoration: none;
}
.btn-5 {
	background: url("../images/btn-5.jpg") repeat-x scroll 0 0 transparent;
	border-radius: 5px 5px 5px 5px;
	color: #CF9807;
	display: block;
	font-size: 15px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	border: 1px solid #f7dd9a;
	text-shadow: 0 1px 0 #fff;
}
.btn-5:hover {
	text-decoration: none;
}
.btn-6 {
	background: url("../images/btn-6.jpg") repeat-x scroll 0 0 transparent;
	display: block;
	height: 20px;
	line-height: 20px;
	border: 1px solid #bcbbbb;
	border-radius: 5px;
	color: #616161;
	font-size: 11px;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #e3e3e3;
}
.btn-6:hover {
	text-decoration: none;
}
.btn-7 {
	background: url("../images/btn-7.jpg") repeat-x scroll 0 0 transparent;
	display: block;
	height: 20px;
	line-height: 20px;
	border: 1px solid #bcbbbb;
	border-radius: 5px;
	color: #616161;
	font-size: 11px;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #e3e3e3;
	padding: 0 10px;
}
.btn-7:hover {
	background-position: 0 -20px;
	border: 1px solid #d46c43;
	text-decoration: none;
	text-shadow: 0 1px 0 #c34721;
	box-shadow: 0 1px 0 #fcbda5;
	color: #fff;
}
.btn-8 {
	background: url("../images/btn-8.jpg") repeat-x scroll 0 0 transparent;
	border: 1px solid #BCBBBB;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 1px 0 #E3E3E3;
	color: #616161;
	display: block;
	font-size: 14px;
	height: 36px;
	line-height: 36px;
	text-shadow: 0 1px 0 #FFFFFF;
	text-align: center;
}
.btn-8:hover {
	text-decoration: none;
}
.btn-9 {
	background: url("../images/btn-9.jpg") repeat-x scroll 0 0 transparent;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	font-weight: bold;
	color: #427205;
	text-shadow: -1px 1px 0 #fff;
	display: block;
	padding: 0 8px;
	border: 1px solid #84cb36;
	border-radius: 5px;
}
.btn-9:hover {
	text-decoration: none;
}
.btn-10 {
	background: url("../images/btn-10.jpg") repeat-x scroll 0 0 transparent;
	border: 1px solid #BCBBBB;
	color: #616161;
	font-size: 12px;
	height: 25px;
	margin: 0;
	padding: 0 4px;
	text-shadow: 0 1px 0 #FFFFFF;
	cursor: pointer;
}
.btn-10:hover {
	text-decoration: none;
}
.btn-11 {
	background: url("../images/btn-11.jpg") repeat-x scroll 0 0 transparent;
	border: 1px solid #d46c43;
	border-radius: 5px;
	display: block;
	height: 36px;
	line-height: 36px;
	font-size: 13px;
	color: #fff;
	text-shadow: 0 1px 0 #bb401d;
}
.btn-11:hover {
	text-decoration: none;
}
.btn-12 {
	background: url("../images/btn-12.jpg") repeat-x scroll 0 0 transparent;
	font-family: Helvetica;
	border: 1px solid #c38018;
	display: block;
	height: 27px;
	line-height: 27px;
	font-size: 14px;
	color: #fff;
	text-shadow: 0 1px 0 #c77313;
	cursor: pointer;
}
.btn-12:hover {
	text-decoration: none;
}

.btn-13 {
	background: url("../images/btn-13.jpg") repeat-x scroll 0 0 transparent;
	border: 1px solid #bcbbbb;
	border-radius: 5px;
	display: block;
	height: 20px;
	line-height: 20px;
	color: #616161;
	cursor: pointer;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	padding: 0 10px;
}
.btn-13:hover {
	background-position: 0 -20px;
	border: 1px solid #84cb36;
	text-decoration: none;
	color: #4a7a0c;
}
.btn-14 {
	background: url("../images/btn-14.jpg") repeat-x scroll 0 0 transparent;
	border: 1px solid #C38018;
	border-radius: 5px 5px 5px 5px;
	color: #FFFFFF;
	font-family: helvetica;
	font-size: 11px;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	text-shadow: 0 1px 0 #C38018;
	cursor: pointer;
}
.btn-14:hover {
	text-decoration: none;
}
/*- End of Buttons Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Dashboard Styles -----------------------------------------------------------*/

#header {
	background: url("../images/header-admin.jpg") repeat-x scroll 0 0 transparent;
    border-bottom: 1px solid #D7E9EF;
    height: 54px;
    margin-bottom: 22px;
    padding: 3px 0 0;
}
#header .wrapper {
	overflow: hidden;
}
h1.logo {
	float: left;
}
.logo a {
	background: url("../images/logo.jpg") no-repeat scroll 0 0 transparent;
	display: block;
	height: 53px;
	text-indent: -9999px;
	width: 191px;
}
#header .wrapper > ul {
	background: url('../images/sep-4.jpg') no-repeat scroll 100% 0 transparent;
	padding-right: 1px;
	float: left;
	list-style: none;
}
#header .wrapper > ul > li {
	background: url('../images/sep-4.jpg') no-repeat scroll 0 0 transparent;
	padding-left: 1px;
	float: left;
}
#header .wrapper > ul > li > a {
	padding: 0 20px;
	line-height: 53px;
	display: block;
	color: #1c81bd;
	font-weight: bold;
}
#header .wrapper > ul > li > a:hover, #header .wrapper > ul > li.active > a {
	background: url('../images/arrow-1.png') no-repeat scroll center bottom transparent;
	padding-bottom: 9px;
	text-decoration: none;
}
#header .sign-up {
	float: right;
	line-height: 53px;
}
#header .sign-up > ul {
	list-style: none;
	margin-right: 15px;
}
#header .sign-up > ul > li {
	float: left;
	margin-left: 12px;
}
#header .sign-up > ul > li > a {
	color: #616161;
	font-size: 11px;
}
#header .sign-up > ul > li > a:hover, #header .sign-up > ul > li.active > a {
	color: #f7941d;
	text-decoration: none;
}
#main {
	background: url("../images/bg-admin.jpg") repeat-y scroll 0 0 transparent;
	overflow: hidden;
}
#sidebar {
	float: left;
	padding: 20px 0;
	width: 172px;
}
#sidebar h3 {
	color: #27688f;
	font-size: 16px;
	text-shadow: -1px 1px 0 #fff;
	margin-bottom: 20px;
	margin-left: 14px;
}
#sidebar ul {
	list-style: none;
}
#sidebar ul > li > a {
	color: #77B5DB;
	display: block;
	font-size: 13px;
	font-weight: bold;
	height: 33px;
	line-height: 33px;
	padding-left: 14px;
	position: relative;
	text-shadow: -1px 1px 0 #FFFFFF;
	width: 167px;
	z-index: 10;
}
#sidebar ul > li > a:hover {
	background: url("../images/arrow-17.png") repeat-y scroll 0 0 transparent;
	text-decoration: none;
	color: #fff;
	text-shadow: -1px 1px 0 #5398d4;
	overflow: hidden;
}
#sidebar ul > li.active > a {
	background: url("../images/gradient-8.jpg") no-repeat scroll 0 0 transparent;
	color: #fff;
	text-shadow: -1px 1px 0 #5398d4;
}
#sidebar ul > li > a > img {
	vertical-align: middle;
}
#sidebar ul > li > a > span {
	background-color: #F85819;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 1px 0 #FFFFFF;
	color: #FFFFFF;
	display: block;
	float: right;
	font-size: 10px;
	font-weight: normal;
	height: 14px;
	line-height: 14px;
	margin: 9px 20px 0 0;
	padding: 0 7px;
	text-shadow: none;
}
.sidebar-bottom {
	padding: 25px 10px;
}
#content {
	float: right;
	width: 786px;
	padding-bottom: 20px;
}
.dashboard #content {
	padding-top: 20px;
}
#content h2 {
	color: #000000;
	font-size: 16px;
	margin-bottom: 15px;
}
.alerts {
	padding: 0 30px 20px 30px;
	border-bottom: 1px solid #cecece;
}
.alerts ul {
	list-style: none;
}
.alerts ul li {
	background-color: #ebfdd6;
	height: 30px;
	line-height: 30px;
	margin-bottom: 3px;
	padding: 0 18px;
}
.alerts ul li a {
	color: #629422;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
}
.alerts ul li a:hover {
	text-decoration: none;
}
.alerts ul li img {
	vertical-align: middle;
	margin-right: 12px;
}
.recent {
	padding: 20px 30px;
}
.recent-box {
	border-bottom: 1px solid #ececec;
	overflow: hidden;
	padding: 10px 0;
}
.recent-box:last-child {
	border-bottom: none;
}
.recent-box span {
	float: left;
	width: 82px;
	padding-left: 5px;
	color: #616161;
	font-size: 11px;
	padding-top: 11px;
}
.recent-box ul {
	float: left;
	list-style: none outside none;
	width: 639px;
}
.recent-box ul li {
	border-bottom: 1px solid #ececec;
	line-height: 29px;
	margin-bottom: 7px;
	overflow: hidden;
	padding-bottom: 7px;
}
.recent-box ul li:last-child {
	border-bottom: none;
}
.recent-box ul li a {
	color: #616161;
	font-weight: bold;
}
.recent-box ul li img {
	float: left;
	margin-right: 20px;
}
.recent-box ul li a.close {
	background: url("../images/close.jpg") no-repeat scroll 0 -15px transparent;
	display: block;
	float: right;
	height: 15px;
	margin-top: 7px;
	text-indent: -9999px;
	width: 15px;
}
.recent-box ul li:hover a.close {
	background-position: 0 0;
}
#content > a.btn-5 {
	margin: 0 20px;
}
.admin #main {
	border: 1px solid #c1e7f3;
}
/*- End of Dashboard Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Footer Styles -----------------------------------------------------------*/
#footer {
	padding: 50px 0;
	text-align: center;
	font-size: 11px;
	color: #6bb6d4;
}
#footer a {
	color: #6bb6d4;
}
/*- End of Footer Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Admin Listings Styles -----------------------------------------------------------*/
.inner-menu {
	padding: 0 25px;
	border-bottom: 1px solid #d5d7d7;
	height: 43px;
}
.inner-menu form {
	float: right;
	margin-top: 10px;
}
.inner-menu label {
	color: #616161;
	font-size: 11px;
	font-weight: bold;
}
.inner-menu ul {
	list-style: none;
	overflow: hidden;
	float: left;
}
.inner-menu ul li {
	float: left;
	margin-right: 30px;
}
.inner-menu ul li a {
	color: #616161;
	display: block;
	font-weight: bold;
	height: 43px;
	line-height: 43px;
	padding-bottom: 7px;
}
.inner-menu ul li a:hover, .inner-menu ul li.active a {
	background: url("../images/arrow-20.jpg") no-repeat scroll 50% 100% transparent;
	text-decoration: none;
}
.inner-menu ul li.active a {
	color: #959595;
}
.all-listings {
	clear: both;
}
.all-listings li {
	overflow: hidden;
	padding: 11px 25px;
	border-bottom: 1px solid #d5d7d7;
}
.all-listings li .left {
	float: left;
	overflow: hidden;
	width: 370px;
}
.all-listings li .left > div {
	float: left;
	margin-right: 10px;
}
.all-listings li .left > div img {
	display: block;
	margin-bottom: 5px;
}
.btn-6 span {
	display: block;
	background: url("../images/lights.jpg") no-repeat scroll 6px -20px transparent;
	line-height: 20px;
	padding-left: 22px;
}
.btn-6.inactive span {
	background-position: 6px 0px;
}
.all-listings li .right {
	float: right;
}
#content .all-listings li h2 {
	color: #000;
	font-size: 14px;
	margin: 0;
}
#content .all-listings li h2 a {
	color: #000;
}
#content .all-listings li .left > strong, #content .all-listings li .left > span {
	display: block;
	color: #616161;
}
#content .all-listings li .left > span {
	font-size: 11px;
}
#content .all-listings li .right {
	padding-top: 20px;
}
#content .all-listings li .right a {
	float: left;
	margin-left: 9px;
}
#content .all-listings li .right a.btn-6 {
	padding-right: 10px;
}
#content .all-listings li .right .btn-7 img {
	vertical-align: middle;
	margin-right: 8px;
}
.foot {
	color: #acabab;
	font-size: 11px;
	padding: 15px 20px;
	overflow: hidden;
}
.foot .pagination {
	float: right;
}
.pagination {
	overflow: hidden;
}
.pagination a {
	background-image: url("../images/arrow-21.jpg");
	display: block;
	float: right;
	height: 24px;
	text-indent: -9999px;
	width: 26px;
}
.pagination a.prev {
	background-position: 0 0;
	margin: 0 6px;
}
.pagination a.prev:hover {
	background-position: 0 -48px;
}
.pagination a.next {
	background-position: 0 -24px;
}
.pagination a.next:hover {
	background-position: 0 -72px;
}
/*- End of Admin Listings Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Add Listing Light Box Styles -----------------------------------------------------------*/

.lbox {
	background: url("../images/transparency-2.png") repeat 0 0;
	padding: 5px;
	border-radius: 5px;
}
.lb-small {
	width: 506px;
}
.lb-wrapper {
	background-color: #fff;
	border: 1px solid #c8c9c7;
}
.lb-ttl {
	border-bottom: 1px solid #C8C9C7;
	color: #2F332B;
	font-size: 19px;
	font-weight: bold;
	line-height: normal;
	padding: 10px 0;
	text-align: center;
}
.lb-selection {
	padding: 0 20px;
	border-bottom: 1px solid #c8c9c7;
}
.lb-selection table {
	width: 100%;
}
.lb-selection table td {
	vertical-align: middle;
	line-height: 39px;
}
.lb-selection label {
	color: #616161;
	font-size: 12px;
	font-weight: bold;
	line-height: normal;
	vertical-align: middle;
}
.entry {
	padding: 7px 10px;
	background-color: #eefbff;
	margin-bottom: 15px;
	overflow: hidden;
	border-radius: 5px;
}
.entry p {
	border: 1px solid #93E0F9;
	background: #fff;
	margin: 0;
	resize: none;
	padding: 0;
	padding: 5px;
}
input[type="text"], .entry textarea {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	display: block;
	color: #616161;
	font-size: 13px;
	background: #fff;
	height: 29px;
	border: none;
	width: 100%;
	padding: 0;
	resize: none;
}
.entry textarea {
	height: 150px;
}
.entry.entry-2 {
	background-color: #f4f4f4;
}
.entry.entry-2 p {
	border: 1px solid #bfbfbf;
}
.lb-content {
	padding: 15px 20px;
}
.btns {
	overflow: hidden;
}
.btns span, .btns a {
	float: left;
	width: 140px;
	text-align: center;
	cursor: pointer;
}
.btns span.btn-8, .btns a.btn-8 {
	margin-left: 86px;
	margin-right: 12px;
}
/*- End of Add Listing Light Box Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Light Box Size 1 Styles -----------------------------------------------------------*/
.lb-size-1 {
	width: 327px;
}
.inner-wrapper {
	margin: 8px;
	border: 1px solid #efefef;
	padding: 12px;
}
.inner-wrapper .lb-ttl {
	border-bottom: none;
	font-size: 15px;
}
.inner-wrapper .btns a, .inner-wrapper .btns span {
	margin: 0;
	width: 98px;
}
.inner-wrapper .btns a.btn-8, .inner-wrapper .btns span.btn-8 {
	margin-left: 15px!important;
	margin-right: 14px;
}
.lb-size-1 .btns span, .lb-size-1 .btns a {
	width: 97px;
}
.lb-size-1 .btns span.btn-8, .lb-size-1 .btns a.btn-8 {
	margin-left: 33px;
}
.schedule-lb .entry input[type="text"] {
	width: 46px;
	padding: 0 5px;
	height: 24px;
	border: 1px solid #cbcbcb;
	margin-left: 12px;
}
.schedule-lb .entry select {
	margin-left: 12px;
}
.schedule-lb .entry input[type="text"], .schedule-lb .entry span, .schedule-lb .entry select {
	float: left;
	display: block;
	line-height: 24px;
}
.schedule-lb .entry span {
	font-size: 12px;
	color: #616161;
	font-weight: bold;
	width: 60px;
}
/*- End of Light Box Size 1 Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Add Details Styles -----------------------------------------------------------*/
.inner-menu-second {
	background: url("../images/gradient-12.jpg") repeat-x scroll 0 0 transparent;
	height: 38px;
	overflow: hidden;
}
.inner-menu-second ul {
	float: left;
	list-style: none;
	position: relative;
	left: 50%;
}
.inner-menu-second ul li {
	float: left;
	margin-right: 35px;
	margin: 0 15px;
	position: relative;
	right: 50%;
}
.inner-menu-second ul li a {
	color: #616161;
	font-weight: bold;
	display: block;
	height: 38px;
	line-height: 38px;
}
.inner-menu-second ul li a:hover, .inner-menu-second ul li.active a {
	background: url("../images/arrow-22.jpg") no-repeat scroll 50% 100% transparent;
	color: #959595;
	text-decoration: none;
}
.listing-info {
	clear: both;
}
.section {
	border-bottom: 1px solid #D5D7D7;
	overflow: hidden;
	padding: 20px 0;
}
.section.nb {
	border-bottom: none;
}
.section-title {
	color: #000000;
	float: left;
	font-weight: bold;
	line-height: normal;
	padding-left: 20px;
	width: 159px;
}
.section-content {
	float: left;
	padding-right: 20px;
	width: 587px;
	overflow: hidden;
}
.section-content > table {
	width: 100%;
}
.section-content > table td {
	vertical-align: middle;
	line-height: normal;
	font-weight: bold;
	color: #616161;
}
.section-item {
	border-bottom: 1px solid #EFEFEF;
	line-height: normal;
	margin-bottom: 14px;
	overflow: hidden;
	padding: 0 0 14px;
}
.section-item:last-child {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}
.section-item h5 {
	color: #616161;
	font-weight: bold;
	line-height: 20px;
}
.section-item h5 img {
	vertical-align: middle;
	margin-right: 9px;
}
.section-item > span {
	display: block;
	font-size: 11px;
}
.section-item > input, .section-item > textarea {
	float: right;
	width: 339px;
	padding: 0;
	margin: 0;
	border: 1px solid #bfbfbf;
	resize: none;
	padding: 0 10px;
	font-size: 13px;
	font-family: Helvetica;
	color: #616161;
}
.section-item > input {
	height: 33px;
}
.section-item > textarea {
	padding: 10px;
	height: 70px;
}
.section-item > input:focus, .section-item > textarea:focus {
	border: 1px solid #93e0f9;
}
.section-item > ul {
	list-style: none;
	float: right;
}
.section-item > ul > li {
	float: left;
	margin-left: 6px;
}
.section-item a.btn-9 {
	float: left;
}
.section-item > table {
	float: right;
	width: 360px;
}
.section-item > table td {
	line-height: normal;
	vertical-align: middle;
}
.section-item .location-section {
	float: right;
	width: 358px;
}
.section-item .location-section input[type="text"] {
	border: 1px solid #BFBFBF;
	color: #616161;
	font-family: Helvetica;
	font-size: 13px;
	height: 23px;
	margin: 0 4px 8px 0;
	padding: 0 10px;
	resize: none;
	width: 245px;
}
.section-item .location-section input[type="text"]:focus {
	border: 1px solid #93e0f9;
}
.section-item .location-section input {
	float: left;
}
.section-item .location-section img {
	clear: both;
	display: block;
	padding: 5px;
	border: 1px solid #dfdfdf;
}
.section-item.expanded {
	background-color: #f2f2f2;
	padding: 10px;
	border: 1px solid #e8e8e8;
}
.section-item.expanded > .account-details {
	display: none;
}
.section-item.expanded > span {
	display: none;
}
.section-item .edit-details {
	overflow: hidden;
	margin-top: 10px;
	display: none;
}
.section-item .edit-details input[type="text"] {
	float: left;
	margin-right: 5px;	
	height: 24px;
	padding: 0 5px;
	border: 1px solid #bfbfbf;
	box-shadow: 0 1px 0 #ffffff;
}
.section-item .edit-details select {
	float: left;
	margin-right: 5px;
}
.section-item .edit-details .large {
	width:255px;
}
.section-item .edit-details .medium {
	width: 188px;
}
.section-item .edit-details .small {
	width: 120px;
}
.section-item .edit-details a.btn-7, .section-item .edit-details input.btn-14 {
	float: right;
	margin-left: 5px;
	width: 65px;
	margin-top: 4px;
}
.section-item .edit-details a.btn-7 {
	padding: 0;
	text-align: center;
}
.section-item .edit-details input.btn-14 {
	height: 22px;
	line-height: 22px;
}
.section-item.expanded > .edit-details {
	display: block;
}
.foot .btn-2 {
	float: right;
	padding: 0 37px;
}
/*- End of Add Details Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Add Photos Styles -----------------------------------------------------------*/
.listings-photos .section-title, .listings-photos .section-content {
	float: none;
	width: auto;
	padding: 0 20px;
}
.listings-photos .section-title {
	margin-bottom: 10px;
}
.section-content .left {
	float: left;
	width: 371px;
}
.section-content .right {
	float: right;
	width: 366px;
}
.section-content .left img {
	display: block;
	margin-bottom: 10px;
}
.section-content .left p {
	margin-bottom: 10px;
	color: #616161;
}
a.remove {
	background: url("../images/ico-40.jpg") no-repeat scroll 0 0 transparent;
	color: #F26522;
	display: block;
	font-size: 12px;
	font-weight: bold;
	line-height: 17px;
	padding-left: 20px;
}
a.remove:hover {
	text-decoration: none;
}
.section-content p > span {
	float: right;
	display: block;
	line-height: normal;
}
.section-content p > span > input {
	vertical-align: middle;
}
.section-content .left .entry input[type="text"] {
	border: 1px solid #BFBFBF;
	float: left;
	height: 25px;
	margin: 0 4px 0 0;
	padding: 0 5px;
	width: 253px;
}
.section-content .left .entry input[type="submit"] {
	float: left;
	width: 82px;
}
.section-content .right > ul {
	list-style: none;
}
.section-content .right > ul > li {
	float: left;
	margin: 0 0 6px 6px;
}
.section-content .right > ul > li > a > img {
	display: block;
	border: 3px solid #fff;
}
.section-content .right > ul > li.active > a > img {
	border: 3px solid #93E0F9;
}
.section-content .right h4 {
	margin: 0 0 10px 8px;
}
.section-content .right > ul > li > img + img {
	border: none;
}
.section-content .right > ul > li > a {
	display: block;
	position: relative;
}
.section-content .right > ul > li > a:hover img.over-img {
	display: block;
}
.section-content .right > ul > li img.over-img {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.uploader {
	border: 1px solid #e5e5e5;
	margin: 0 20px;
	padding: 25px;
}
.uploader table {
	width: 280px;
}
.uploader table caption {
	text-align: left;
	color: #616161;
	font-size: 12px;
	font-weight: bold;
}
.uploader table tr {
	line-height: 20px;
}
/*- End of Add Photos Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Add FAQs Styles -----------------------------------------------------------*/

.faq {
	overflow: hidden;
	padding: 0 20px;
}
.question {
	float: left;
	width: 330px;
}
#content .question h2 {
	margin-bottom: 10px;
}
.answer{
	float: right;
	width: 355px;
}
.answer textarea {
	width: 100%;
	border: 1px solid #bfbfbf;
	height: 77px;
	resize: none;
}
.foot .btn-9 {
	float: left;
}
/*- End of Add FAQs Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Add Price Styles -----------------------------------------------------------*/
.pricing-details {
	float: right;
    font-size: 11px;
    line-height: 25px;
    overflow: hidden;
    width: 366px;
}
.pricing-details input, .pricing-details label, .pricing-details textarea {
	margin-right: 10px;
}
.pricing-details input, .pricing-details label, .pricing-details select, .pricing-details a, .pricing-details textarea {
	float: left;
}
.pricing-details input {
	width: 55px;
	border: 1px solid #bcbbbb;
	height: 25px;
	padding: 0 5px;
}
.pricing-details a {
	color: #616161;
	line-height: normal;
	display: block;
	margin-left: 5px;
}
.pricing-details textarea {
	border: 1px solid #cbcbcb;
	width: 364px;
	height: 89px;
	resize: none;
}
.schedule-lb .season-entry input[type="text"] {
	width: 100%;
	float: none;
	margin: 0;
	padding: 0;
	background: #fff;
	border: none;
}
.add-schedule-lb span {
	width: 60px;
	font-weight: bold;
	display: block;
	float: left;
}
/*- End of Add Price Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Calendar Styles -----------------------------------------------------------*/
.calendar {

}
.calendar > ul {
	list-style: none;
	padding-left: 20px;
}
.calendar ul.days {
	overflow: hidden;
	margin-bottom: 10px;
}
.calendar ul.days > li {
	float: left;
	margin-right: 5px;
	text-align: center;
	width: 102px;
}
.calendar ul.calendar-items > li {
	background-color: #f1fcff;
	border: 1px solid #cef3fd;
	float: left;
	width: 100px;
	height: 100px;
	margin: 0 5px 5px 0;
	font-size: 15px;
	position: relative;
	color: #70d3f3;
}
.calendar ul.calendar-items > li > p {
	position: absolute;
	bottom: 8px;
	left: 8px;
	font-weight: bold;
	font-size: 12px;
}
.calendar ul.calendar-items li > span {
	position: absolute;
	right: 8px;
	top: 8px;
	text-shadow: 0 1px 0 #fff;
}
.calendar ul.calendar-items > li.disabled {
	background-color: #f9f9f9;
	border: 1px solid #e8e8e8;
	color: #b2b1b1;
}
.calendar ul.calendar-items > li.booked, .calendar ul.calendar-items > li.selected.booked {
	background-color: #fef5d2;
	border: 1px solid #fddca3;
	color: #eba51f;
}
.calendar ul.calendar-items > li.blocked, .calendar ul.calendar-items > li.selected.blocked {
	background-color: #fee1d3;
	border: 1px solid #fecdb4;
	color: #fb8d59;
}
.calendar ul.calendar-items > li.selected {
	background-color: #cef3fd;
	border: 1px solid #ddf7fd;
}
.month {
	overflow: hidden;
	color: #000000;
	font-size: 23px;
	line-height: 55px;
	border-bottom: 1px solid #d5d7d7;
	padding: 0 20px;
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
}
.month > a {
	background-image: url("../images/arrow-21.jpg");
    display: block;
    height: 24px;
    margin-top: 17px;
    text-indent: -9999px;
    width: 26px;
}
.month .prev {
	float: left;
	background-position: 0 -48px;
}
.month .prev:hover {
	background-position: 0 0;
}
.month .next {
	float: right;
	background-position: 0 -72px;

}
.month .next:hover {
	background-position: 0 -24px;
}
/*- End of Calendar Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Tooltips Styles -----------------------------------------------------------*/
.calendar ul.calendar-items > li.selected > .tooltip {
	display: block;
}
.tooltip {
	display: none;
	border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px #999;
    left: -145px;
    padding: 4px;
    position: absolute;
    top: -8px;
    width: 135px;
    z-index: 100;
}
.tooltip span.arrow {
	background: url("../images/arrow-23.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 15px;
    position: absolute;
    right: -6px;
    text-indent: -9999px;
    top: 50px;
    width: 10px;
}
.calendar ul.calendar-items > li.selected > .tooltip {
	background: url("../images/transparency-3.png") repeat scroll 0 0 transparent;	
}
.calendar ul.calendar-items > li.selected > .tooltip span.arrow {
	background: url("../images/arrow-23.png") no-repeat scroll 0 0 transparent;	
}
.calendar ul.calendar-items > li.selected.blocked > .tooltip {
	background: url("../images/transparency-4.png") repeat scroll 0 0 transparent;	
}
.calendar ul.calendar-items > li.selected.blocked > .tooltip span.arrow {
	background: url("../images/arrow-25.png") no-repeat scroll 0 0 transparent;	
}
.calendar ul.calendar-items > li.selected.booked > .tooltip {
	background: url("../images/transparency-5.png") repeat scroll 0 0 transparent;	
}
.calendar ul.calendar-items > li.selected.booked > .tooltip span.arrow {
	background: url("../images/arrow-24.png") no-repeat scroll 0 0 transparent;	
}
.tooltip-wrapper {
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
	padding: 12px;
	line-height: normal;
}
.tooltip-wrapper span {
	font-size: 11px;
	display: block;
	margin-bottom: 5px;
}
.tooltip-wrapper h5 {
	color: #000;
	font-size: 14px;
	margin-bottom: 5px;
}
.tooltip-wrapper select {
	width: 100%;
	margin-bottom: 5px;
}
.tooltip-wrapper .btn-7 {
	width: 100%;
	padding: 0;
	text-align: center;
}
/*- End of Tooltips Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Account Settings Styles -----------------------------------------------------------*/
.account-details {
	float: right;
	position: relative;
	width: 340px;
}
.account-details a {
	display: block;
    float: right;
    line-height: 20px;
    margin-left: 15px;
}
.account-details a img {
	vertical-align: middle;
}
.account-details p {
	float: right;
	line-height: 22px;
	text-align: right;
}
.profile-img {
	background: none repeat scroll 0 0 #FFFFFF;
	box-shadow: 0 0 10px #999999;
    display: none;
    padding: 5px;
    position: absolute;
    right: 105px;
    top: -25px;
}
.profile-img span {
	background: url("../images/arrow-26.png") no-repeat scroll 0 0 transparent;
    height: 15px;
    position: absolute;
    right: -8px;
    text-indent: -9999px;
    top: 30px;
    width: 8px;
}
.profile-img.see {
	display: block;
}
.profile-img img {
	display: block;
}
.section.picture {
	overflow: visible;
}
.section-content.picture-content {
	overflow: visible;
}
.section-content.picture-content.expanded {
	background-color: #F2F2F2;
	border: 1px solid #E8E8E8;
	padding: 10px;
	float: right;
	margin-right: 20px;
	width: 565px;
}
.section-content.picture-content.expanded > .account-details {
	display: none;
}
.edit-picture {
	display: none;
}
.section-content.picture-content.expanded > .edit-picture {
	display: block;
}
.edit-picture .left {
	float: left;
	width: 140px;
}
.edit-picture .left img {
	padding: 5px;
	display: block;
	border: 1px solid #c0c9cc;
	background-color: #fff;
	box-shadow: 0 0 5px #c0c9cc;
}
.edit-picture .left span {
	display: block;
	font-size: 12px;
	text-align: center;
}
.edit-picture .right {
	width: 395px;
	float: right;
}
.edit-picture .right h5 {
	border-bottom: 1px solid #d5d7d7;
	padding-bottom: 4px;
	margin-bottom: 4px;
}
.edit-picture .right p {
	font-size: 12px;
	line-height: 18px;
}
.edit-picture .right object {
	margin-top: 5px;
}
.edit-picture .right .uploadifyQueueItem {
	overflow: hidden;
	width: auto;
}
.edit-picture .right .uploadifyQueue {
	float: none;
}
.picture-btns {
	border-top: 1px solid #D5D7D7;
	margin-top: 7px;
	overflow: hidden;
	padding-top: 9px;
}
.picture-btns .btn-14, .picture-btns .btn-7 {
	float: right;
	margin-left: 5px;
	margin-top: 4px;
	width: 65px;
	padding: 0;
	text-align: center;
}
.picture-btns .btn-14 {
	height: 22px;
	line-height: 22px;
}
/*- End Account settings Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Admin Inbox Styles -----------------------------------------------------------*/
table.messages {
	width: 100%;
}
table.messages td {
	line-height: 30px;
	vertical-align: middle;
	border-bottom: 1px solid #e9e9e9;
	font-size: 12px;
}
table.messages td input {
	vertical-align: middle;
}
table.messages tr {
	cursor: pointer;
}
table.messages tr.selected td {
	background-color: #FFFFCC;
	color: #474747;
}
.star {
	background: url("../images/star.png") no-repeat scroll 0 0 transparent;
    height: 17px;
    vertical-align: middle;
    width: 18px;
}
table.messages td img.star.enabled {
	background-position: 0 -18px;
}
.messages-wrapper {
	padding: 0 20px;
}
.messages-controls {
	border-bottom: 1px solid #E9E9E9;
	clear: both;
	overflow: hidden;
	padding: 10px 20px;
}
.messages-controls a {
	float: left;
	margin-right: 7px;
}
.messages-controls a.last {
	float: right;
	margin-right: 0;
}
/*- End Admin Inbox Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Admin Reserations Styles -----------------------------------------------------------*/
#content .inner-menu h2 {
	float: left;
	margin: 0;
	line-height:43px;
}
#content .inner-menu h2 span {
	background-color: #F85819;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 1px 1px 0 #FFFFFF;
	color: #FFFFFF;
	margin-right: 7px;
	padding: 0 10px;
	text-shadow: 1px 1px 0 #000000;
	font-size: 11px;
}
.reservation-wrapper {
	clear: both;
	padding: 15px 20px;
}
.reservation-day {
	background: url("../images/sep-8.jpg") repeat-y scroll 0 0 transparent;
	overflow: hidden;
	border: 1px solid #ecebeb;
	margin-bottom: 15px;
}
.reservation-day .left {
	width: 85px;
	float: left;
	padding: 15px;
	text-shadow: 0 1px 0 #fff;
	line-height: normal;
}
.reservation-day .left strong {
	display: block;
	font-size: 30px;
}
.reservation-day .left span {
	color: #9d9d9d;
	font-weight: bold;
	font-size: 16px;
	display: block;
}
.reservation-day .right {
	float: right;
    width: 629px;
}
.r-single {
	padding: 15px;
	border-bottom: 1px solid #ecebeb;
}
.r-single:last-child {
	border-bottom: none;
}
.r-single table {
	width: 100%;
}
.r-ttl {
	color: #000000;
	font-size: 15px;
	font-weight: bold;
	line-height: 64px;
	overflow: hidden;
	margin-bottom: 10px;
}
.r-ttl img {
	float: left;
	border: 1px solid #e7eaeb;
	padding: 3px;
	margin-right: 15px;
}
.r-single table tr td {
	line-height: 23px;
	vertical-align: middle;
	border-bottom: 1px solid #ecebeb;	
}
.r-single table tr:last-child td {
	border-bottom: none;
}
.approval-wrapper {
	clear: both;
}
.s-approval {
	border-bottom: 1px solid #d5d7d7;
	padding: 15px 25px;
	line-height: 18px;
}
.s-approval .top {
	background-color: #f6f7f7;
	border-bottom: 1px solid #fff;
	padding: 10px 15px;
	overflow: hidden;
	text-shadow: 0 1px 0 #fff;
}
.s-approval .top .left {
	float: left;
    overflow: hidden;
    width: 535px;
}
.s-approval .top .left img {
	background-color: #fff;
	border: 1px solid #E7EAEB;
    float: left;
    margin-right: 15px;
    padding: 3px;
}
.s-approval .top .left h4 {
	color: #000;
	font-size: 15px;
}
.s-approval .top .left strong {
	display: block;
}
.s-approval .top .left span {
	display: block;
	font-size: 12px;
}
.s-approval .top .left .btn-6 {
	float: left;
    text-align: center;
    width: 75px;
}
.s-approval .top .right {
	float: right;
	overflow: hidden;
	width: 171px;
}
.s-approval .bottom {
	background-color: #f6f7f7;	
	padding: 10px 15px;
}
.s-approval .top .right .btn-7 {
	margin-left: 9px;
	text-align: center;
}
.s-approval .top .right a {
	float: right;
}
.s-approval .top .right strong.price {
	clear: both;	
	padding-top: 37px;
}
strong.price {
	display: block;
	font-size: 17px;
	text-align: right;
}
.s-approval .bottom {
	overflow: hidden;
}
.s-approval .bottom table {
	float: left;
    width: 353px;
    font-size: 12px;
}
.s-approval .bottom table td {
	line-height: 20px;
	vertical-align: middle;
}
.s-approval .bottom table td span {
	font-weight: bold;
	color: #f26522;
}
.history-wrapper {
	clear: both;
}
.s-history {
	border-bottom: 1px solid #d5d7d7;
	padding: 15px 25px;
}
.history-content {
	background: url("../images/sep-9.jpg") repeat-y scroll 0 0 #f6f7f7;
	overflow: hidden;
	line-height: normal;
	text-shadow: 0 1px 0 #fff;
}
.history-content .left {
	float: left;
	margin-right: 3px;
	width: 170px;
	padding: 12px 16px;
}
.history-content .left strong {
	font-size: 12px;
	display: block;
}
.history-content .left span {
	font-weight: bold;
	color: #f26522;
	font-size: 12px;
	display: block;
}
.history-content .right {
	float: right;
	padding: 12px 16px;
	width: 499px;
}
.history-content .right img {
	border: 1px solid #E7EAEB;
    float: left;
    margin-right: 15px;
    padding: 3px;
    background-color: #fff;
}
.history-content .right h4 {
	color: #000000;
	font-size: 13px;
}
.history-content .right strong {
	display: block;
}
.history-content .right a.link-2 {
	font-size: 12px;
	font-weight: bold;
}
/*- End Admin Reservations Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Account Transactions Styles -----------------------------------------------------------*/
.transaction-history {
	padding: 0 20px;
}
.transaction-history table {
	margin-top: 20px;
	width: 100%;
}
.transaction-history table tr th {
	text-align: left;
	color: #959595;
	font-size: 11px;
	text-transform: uppercase;
	line-height: 25px;
	border-bottom: 1px solid #e5e5e5;
	padding: 0 5px;
}
.transaction-history table tr td {
	line-height: 25px;
	border-bottom: 1px solid #e5e5e5;
	padding: 0 5px;
}
.transaction-history table tr:nth-child(even) {
	background-color: #f4eded;
}
.transaction-history table tr td a {
	font-size: 12px;
	color: #f7941d;
}
/*- End Account Transactions Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Account Notifications Styles -----------------------------------------------------------*/
.notifications-wrapper .section-item > p {
	line-height: 35px;
	font-size: 12px;
}
.notifications-wrapper .section-item > h5, .notifications-wrapper .section-item > span {
	line-height: 20px;
}
/*- End Account Notifications Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- End Account Notifications Styles -----------------------------------------------------------*/

.payments-wrapper .section-item .btn-9 {
	float: right;
}

.payments-wrapper .section-item.expanded > a.btn-9 {
	display: none;
}
.payments-wrapper .section-item.expanded .account-step {
	display: block;
}
.account-step {
	overflow: hidden;
	padding: 13px 10px;
	border-bottom: 1px solid #dddddd;
	display: none;
}
.account-step:last-child {
	border-bottom: none;
}
.account-step .btn {
	float: right;
	margin-left: 7px;
	font-size: 11px;
}
.account-step.methods {
	padding: 0 0 13px 0px;
}
.account-step table {
	width: 100%;
}

.account-step table th {
	border-bottom: 1px solid #dddddd;
	line-height: 29px;	
	text-align: left;
	padding: 0 15px;
}
.account-step table td {
	line-height: 29px;
	padding: 0 15px;
	vertical-align: middle;
}
.account-step table td input {
	margin: 0 4px 0 0;
	padding: 0;
}
.section-item .account-step > p {
	overflow: hidden;
	line-height: normal;
	margin-bottom: 11px;
}
.section-item .account-step > p:last-child {
	margin-bottom: 0;
}
.section-item .account-step > p > input[type="text"] {
	height: 28px;
	width: 340px;
	float: left;
	border: 1px solid #bfbfbf;
	padding: 0 5px;
}
.section-item .account-step > p > span {
	font-size: 12px;
	display: block;
	float: left;
	line-height: 30px;
	width: 211px;
	padding-left: 2px;
}
/*- End Account Notifications Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- User Dashboard Styles -----------------------------------------------------------*/
.border {
	border: 1px solid #E2E2E2;
	box-shadow: 0 0 5px #E2E2E2;
	display: block;
	padding: 4px;
}
.user-box {
	padding: 0 20px;
	overflow: hidden;
	line-height: normal;
	border-bottom: 1px solid #cecece;
	padding-bottom: 15px;
}
.user-box .border {
	float: left;
	margin-right: 15px;
}
.user-box a.btn-6 {
	float: left;
	width: 102px;
	text-align: center;
}
.user-box strong {
	font-size: 15px;
}
.user-box h2 {
	color: #000;
	font-size: 23px;
}
.profile-progress {
	float: right;
	text-align: right;
}
.profile-progress p span {
	color: #70bb43;
	font-size: 12px;
	font-weight: bold;
}
.progess-bar {
	background-color: #f0f0f0;
	border: 1px solid #d8d7d7;
	border-radius: 10px;
	padding: 2px 5px 2px 3px;
	width: 280px;
	margin: 10px 0;
}
.progess-bar span {
	background: url("../images/gradient-14.jpg") repeat-x scroll 0 0;
	border: 1px solid #b6d3a1;
	width: 50%;
	border-radius: 10px;
	display: block;	
	height: 8px;
}
.user-alerts {
	padding: 15px 20px;
	border-bottom: 1px solid #cecece;
}
.user-alerts div {
	background-color: #E8E8E8;
	border-radius: 5px 5px 5px 5px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	text-shadow: 1px 1px 0 #fff;
}
.user-alerts div > span {
	background: url("../images/arrow-27.jpg") no-repeat 100% 0 #d6d4cf;
	float: left;
	display: block;
	padding: 0 27px 0 15px;
	color: #363636;
	font-size: 14px;
	font-weight: bold;
	margin-right: 17px;
}
.user-alerts ul {
	list-style: none;
	overflow: hidden;
	float: left;
}
.user-alerts ul li {
	margin: 4px 30px 0 0;
	float: left;
}
.user-alerts ul li a {
	border-radius: 10px;
	display: block;
	line-height: 23px;
	height: 23px;
	padding: 0 6px;
	color: #616161;
	font-size: 12px;
	font-weight: bold;
}
.user-alerts ul li a:hover {
	background-color: #fafafa;
	text-decoration: none;
}
.user-alerts ul li a span {
	color: #ffffff;
	text-shadow: 1px 1px 0 #000;
	background-color: #f85819;
	border-radius: 10px;
	padding: 0 10px;
	margin-right: 7px;
	box-shadow: 1px 1px #fff;
}
/*- End User Dashboard Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- User Confirmed Reservations Styles -----------------------------------------------------------*/
.s-confirmed {
	overflow: hidden;
	background-color: #f5f5f5;
	margin-bottom: 10px;
}
.s-confirmed .top {
	border-bottom: 1px solid #E2E2E2;
	line-height: 21px;
	overflow: hidden;
	padding: 8px 12px;
}
.land {
    background: url("../images/arrow-7.png") no-repeat scroll 100% 0 transparent;
    color: #552A0D;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 21px;
    line-height: 21px;
    padding: 0 15px 0 10px;
    text-shadow: -1px 1px 0 #FFDF88;
}
.s-confirmed .top .land {
	float: left;
	margin-left: -12px;
}
#content .s-confirmed .top h2 {
	float: left;
	color: #000000;
	font-size: 15px;
	margin-left: 38px;
	margin-bottom: 0;
}
.s-confirmed .top strong {
	float: right;
	color: #f26522;
	font-size: 12px;
	text-shadow: 0 1px 0 #fff;
}
.s-confirmed .bottom {
	overflow: hidden;
	padding: 9px 12px;
}
.s-confirmed .bottom img.border {
	float: left;
	margin-right: 12px;
}
.s-confirmed .bottom table {
	float: left;
	font-size: 12px;
	font-weight: bold;
}
.s-confirmed .bottom table td {
	text-shadow: 0 1px 0 #fff;
	padding: 0 10px;
	line-height: 20px;
	vertical-align: middle;
}
.s-confirmed .bottom table td span {
	color: #959595;
}
.s-confirmed .bottom table td a {
	font-weight: normal;
}
/*- End User Confirmed Reservations Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- End User Confirmed Reservations Styles -----------------------------------------------------------*/
.reviews-wrapper {
	
}
.s-review {
	overflow: hidden;
	padding: 15px 0;
	border-bottom: 1px solid #e0e0e0;
}
.review-content {
	float: right;
	padding-right: 20px;
	width: 645px;
}
.review-content .top {
	padding-left: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #e0e0e0;
	overflow: hidden;
}
.review-content .top strong {
	display: block;
	color: #000000;
	font-size: 14px;
}
.review-content .top span {
	display: block;
}
.review-content .top .right {
	float: right;
	overflow: hidden;
	margin-top: 5px;
}
.review-content .top .right a.btn-7 {
	float: left;
	padding: 0 13px;
	margin-left: 9px;
}
.review-content .top .right a.btn-7 img {
	vertical-align: middle;
	margin-right: 3px;
}
.review-content .bottom {
	padding-left: 15px;
	position: relative;
	padding-top: 9px;
}
.review-content .bottom span.land {
	left: -84px;
	position: absolute;
	top: -11px;
}
#content .review-content .bottom h2 {
	background: url("../images/ico-45.jpg") no-repeat scroll 0 0 transparent;
	height: 24px;
	line-height: 24px;
	margin-bottom: 10px;
	padding-left: 42px;
	overflow: hidden;
}
#content .review-content .bottom h2 span {
	float: right;
	color: #616161;
	font-size: 11px;
}
.review-content .bottom p + span {
	font-size: 11px;
}
/*- End User Confirmed Reservations Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*-	User Questions Styles -----------------------------------------------------------*/
.answers-wrapper {
	clear: both;
	padding: 14px 20px;
}
.s-answer {
	overflow: hidden;
	padding: 12px;
	border: 1px solid #dfdfdf;
	margin-bottom: 15px;
	position: relative;
}
.s-answer .ttl {
	margin-bottom: 12px;
}
.s-answer .ttl span.land {
	float: left;
	margin-left: -12px;
}
#content .s-answer div.text {
	float: left;
	margin-left: 10px;
}
#content .s-answer .ttl h2 {
	margin-bottom: 0;
}
.s-answer .ttl h2 + span {

	display: block;
}
.s-answer .ttl a.btn-7 {
	float: right;
}
.s-answer .ttl a.btn-7 img {
	vertical-align: middle;
	margin-right: 3px;
}
.s-answer .box {
	clear: both;
	overflow: hidden;
	margin-bottom: 11px;
	position: relative;
}
.s-answer .box + .box {
	margin-bottom: 0;
}
.s-answer .box img.border {
	float: left;
	margin-right: 17px;
}
.s-answer .box .questions, .s-answer .box .answer {
	float: right;
	width: 540px;
	padding: 15px 20px 15px 72px;
	text-shadow: 1px 1px 0 #fff;
	border-radius: 3px;
}
.s-answer .box span.arrow {
	display: block;
	height: 11px;
	left: 81px;
	position: absolute;
	text-indent: -9999px;
	top: 23px;
	width: 7px;
}
.s-answer .box .questions + span.arrow {
	background: url("../images/arrow-29.jpg") no-repeat scroll 0 0 transparent;
}
.s-answer .box .answer + span.arrow {
	background: url("../images/arrow-30.jpg") no-repeat scroll 0 0 transparent;
}
.s-answer .box .questions {
	background: url("../images/ico-46.jpg") no-repeat scroll 17px 17px transparent;
	background-color: #f7f7f7;
}
.s-answer .box .answer {
	background: url("../images/ico-47.jpg") no-repeat scroll 17px 17px transparent;
	background-color: #e6ffc0;
	color: #406618;
	
}
/*- End User Questions Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/