/*- HEADER STYLES---------------------------------------------------------------*/
#wp_header #header {
	background: url(https://developer.tripfab.com/images6/gr-h.gif) repeat-x 0 0;
	height: 51px;
	position: relative;
	z-index: 1000;
}
#wp_header #header .cont{
	width: 960px;
	margin: 0 auto;
}
#header .logo {
	float: left;
	margin-top: 8px;
}
#header .logo a {
	background: url(https://developer.tripfab.com/images6/logo.png) no-repeat 0 0;
	display: block;
	height: 34px;
	text-indent: -9999px;
	width: 102px;
}
#header .cont > ul {
	float: left;
	overflow: hidden;
	list-style: none;
	margin-left: 34px;
}
#header .cont > ul li {
	float: left;
	margin-right: 34px;
}
#header .cont > ul li a {
	color: #CCCCCC;
	display: block;
	font-weight: bold;
	height: 51px;
	line-height: 51px;
	text-shadow: -1px 1px 0 #000000;
}
#header .cont > ul li a:hover {	
	text-decoration: none;
	color: #FFFFFF;
}
#header .cont > ul li a:active {
	padding-top: 1px;
	height: 50px;
}
#header ul li.active a {
	background: url(https://developer.tripfab.com/images6/t-36.png) no-repeat 50% 100%;
}
#header ul li.active a:hover {
	color: #555555;
}
#header .header-search {
	float: left;
	height: 51px;
}
#header .header-search input {
	background: #656565 url(https://developer.tripfab.com/images6/ico-1.png) no-repeat 100% 50%;
	border: 1px solid #000000;
	height: 25px;
	width: 168px;
	padding: 0 25px 0 5px;
	color: #d7d7d7;
	margin-top: 11px;
	font: normal 12px/25px Helvetica;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
	-webkit-box-shadow: 0px 1px 0px 0px #474747;
	-moz-box-shadow: 0px 1px 0px 0px #474747;
	box-shadow: 0px 1px 0px 0px #474747;
	behavior: url(/PIE.htc);
}
#header .header-search input:hover {
	border-color: #000000!important;
	background-color: #777777!important;
	color: #FFFFFF!important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
	behavior: url(/PIE.htc);
}
#header .header-search input:focus {
	border-color: #000000!important;
	background-color: #FFFFFF!important;
	color: #333333!important;
	box-shadow: 0 0 5px #addeff!important;
}
#header .header-login {
	padding-left: 16px;
	float: right;
	height: 51px;
	position: relative;
	z-index: 100000;
}
#header .header-login > a {
	float: right;
	color: #303030;
	font-size: 12px;
	font-weight: bold;
	line-height: 25px;
}
#header .header-login a.user {
	color: #CCCCCC;
	display: block;
	font-weight: bold;
	height: 51px;
	line-height: 51px;
	text-shadow: -1px 1px 0 #000000;
}
#header .header-login a em {
	font-weight: normal;
	font-style: normal;
}
#header .header-login a.user img {
	background:  url(https://developer.tripfab.com/images6/arrow-35.png) no-repeat 0 -6px;
	vertical-align: middle;
	height: 6px;
	width: 9px;
	margin-left: 5px;
}
#header .header-login a.user:hover {
	text-decoration: none;
	color: #FFFFFF;	
}
#header .header-login a.user:active {
	padding-top: 1px;
	height: 50px;
}
#header .header-login a.user:hover img {
	background-position: 0 0px;
}
#header .header-login a.btn-1 {
	color: #FFFFFF;
	margin-right: 14px;
	margin-top: 12px;
	height: 25px;
	line-height: 25px;
}
#header .header-login a.btn-1:hover {
	-webkit-box-shadow: 0px 1px 1px 0px #000;
	-moz-box-shadow: 0px 1px 1px 0px #000;
	box-shadow: 0px 1px 1px 0px #000;
	text-decoration: none;
}
.header-login .dd {
	background-color: #FFFFFF;
	border: 1px solid #CDCDCD;
	box-shadow: 0 0 15px #000000;
	position: absolute;
	display: none;
	right: -28px;
	top: 42px;
	width: 234px;
	z-index: 100000;
}
.header-login .dd.show {
	display: block;
	behavior: url(/PIE.htc);
	z-index: 10000;
}
.header-login .dd img.arrow {
	position: absolute;
	right: 25px;
	top: -7px;
}
.header-login .dd-ttl {
	padding: 0 18px;
	line-height: 33px;
	color: #303030;
	font-size: 12px;
	font-weight: bold;
}
.header-login .dd-content {	
	padding: 14px 18px;
	overflow: hidden;
}
.header-login .dd-content img {
	float: left;
	margin-right: 18px;
}
.header-login .dd-content ul {
	float: left;
	list-style: none;
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
}
.header-login .dd-content ul a {
	color: #303030;
	font-size: 12px;
	line-height: 20px;
}
.header-login .dd-content ul a:hover, .header-login .dd-footer a:hover {
	color: #60b5f7;
	text-decoration: none;
}
.header-login .dd-footer {
	background: url(https://developer.tripfab.com/images6/g-3.png) repeat-x scroll 0 0 #FFFFFF;
	border-top: 1px solid #E8E8E8;
	line-height: 40px;
	text-align: right;
	font-weight: bold;
	font-size: 11px;
	padding: 0 18px;
	overflow: hidden;
}
.header-login .dd-footer a {
	color: #303030;
	font-size: 12px;
	line-height: 20px;
	float: left;
	line-height: 40px;
}
.header-login .dd-footer a + a {
	float: right;
}
.header-login .dd-footer a + a:hover {
	color: #f26522;
}
#header .links {
	float: right;
	line-height: 51px;
	margin-right: 14px;
	position: relative;
	background: url(https://developer.tripfab.com/images6/sep-4.png) no-repeat top right;
	padding-right: 10px;
}
#header .links a img {
	vertical-align: middle;
}
#header .links > a {
	margin-left: 14px;
}
#header .links a.messages img {
	background: url(https://developer.tripfab.com/images6/ico-88.png) no-repeat 0 0;
	height: 16px;
	width: 16px;
}
#header .links a.messages.new img {
	background-position: 0 -16px;
}
#header .links a.messages.active img {
	background-position: 0 -32px;
}
#header .links a.trips img {
	background: url(https://developer.tripfab.com/images6/ico-89.png) no-repeat 0 0;
	height: 15px;
	width: 14px;
}
#header .links a.listings img {
	background: url(https://developer.tripfab.com/images6/ico-90.png) no-repeat 0 0;
	height: 15px;
	width: 16px;
}
#header .links a.listings:hover img {
	background-position: 0 -15px;
}
#header .links .dd {
	background-color: #FFFFFF;
	border: 1px solid #CDCDCD;
	box-shadow: 0 0 15px #000000;
	color: #303030;
	font-size: 11px;
	line-height: normal;
	position: absolute;
	display: none;
	top: 42px;
	width: 287px;
	z-index: 1000;
}
#header .links .dd.show {
	display: block;
}
#header .links .dd .ttl {
	font-weight: bold;
	line-height: 34px;
	padding: 0 13px;
	border-bottom: 1px solid #e8e8e8;
}
#header .links .dd.messages {
	right: -113px;
}
#header .links .dd.messages ul {
	list-style: none;
}
#header .links .dd.messages ul li {
	font-weight: bold;
	border-bottom: 1px solid #e8e8e8;
}
#header .links .dd.messages ul li:last-child {
	border-bottom: none;
}
#header .links .dd.messages ul li a {
	padding: 6px 13px;
	display: block;
	overflow: hidden;
	color: #303030;
}
#header .links .dd.messages ul li a:hover {
	text-decoration: none;
	background-color: #58b1e4;
	color: #FFFFFF;
}
#header .links .dd.messages ul li.new a {
	background-color: #e8f5fd;
}
#header .links .dd.messages ul li.new:hover a {
	color: #303030;
}
#header .links .dd.messages ul li a img {
	height: 40px;
	width: 40px;
	float: left;
	margin-right: 15px;
}
#header .links .dd.messages ul li a strong {
	font-size: 12px;
	display: block;
}
#header .links .dd.messages ul li a span {
	display: block;
	font-size: 10px;
}
#header .links .dd .dd-footer {
	background: url(https://developer.tripfab.com/images6/g-3.png) repeat-x scroll 0 0 #FFFFFF;
	border-top: 1px solid #E8E8E8;
	text-align: center;
	line-height: 34px;
}
#header .links .dd .dd-footer a {
	color: #60b5f7;
	font-size: 12px;
	font-weight: bold;
}
#header .links .dd img.arrow {
	position: absolute;
	right: 112px;
	top: -7px;
}

.header-login .dd.login input[type="text"],
.header-login .dd.login input[type="password"] {
	width: 161px;
	margin-bottom: 10px;
	padding-right: 30px;
	height: 27px;
	line-height: 27px;
}

.header-login .dd.login .dd-footer {
	text-align: center;
}
.header-login .dd.login .dd-footer a {
	color: #60b5f7;
	font-size: 11px;
	font-weight: normal;
	float: none;
}
.header-login .dd.login .dd-footer a:hover {
	text-decoration: underline;
}
.header-login .dd.login .facebook {
	text-align: center;
	line-height: 40px;
}
.header-login .dd.login label {
	color: #616161;
	font-size: 11px;
	line-height: 25px;
}
.header-login .dd.login .lb-rem {
	float: left;
	display: block;
}
.header-login .dd.login input[type="submit"] {
	float: right;
	height: 25px;
	font: 12px/25px Helvetica;
}
.header-login .dd.login input.in-2 {
	background: url(https://developer.tripfab.com/images6/ico-36.png) no-repeat scroll 97% 50% transparent;
}
.header-login .dd.login input.in-3 {
	background: url(https://developer.tripfab.com/images6/ico-37.png) no-repeat scroll 97% 50% transparent;
}


.big-message {
	height: 63px;
	line-height: 61px;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 10000000;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	display: none;
}

.big-message.green {
	background: url(https://developer.tripfab.com/images6/g-30.png) repeat-x scroll 0 0 transparent;
	text-shadow: 0 1px 0 #7fb440;
}

.big-message.red {
	background: url(https://developer.tripfab.com/images6/g-31.png) repeat-x scroll 0 0 transparent;
	text-shadow: 0 1px 0 #d94812;
}

.big-message.green img {
	background: url(https://developer.tripfab.com/images6/ico-52.png) no-repeat scroll 0 0 transparent;
	height: 22px;
	margin-right: 10px;
	vertical-align: middle;
	width: 20px;
}

.big-message.red img {
	background: url(https://developer.tripfab.com/images6/ico-69.png) no-repeat scroll 0 0 transparent;
	height: 18px;
	margin-right: 10px;
	vertical-align: middle;
	width: 19px;
}

/*- END HEADER STYLES-----------------------------------------------------------*/

/*- FOOTER STYLES---------------------------------------------------------------*/

#footer {
	height: 88px;
	background:url(https://developer.tripfab.com/images6/home-sep5.png) no-repeat center top #2a2a2a;
	margin-top: 30px;
	width:100%;
	position:absolute;
	bottom:0;
}
#footer .wrap {
	position: relative;
	width: 960px;
	margin: 0 auto;
}
#footer .flag {
	background: url(https://developer.tripfab.com/images6/home-flag.png) no-repeat;
	width: 108px;
	height: 3px;
	display: block;
	position: absolute;
	top: -3px;
	left: 427px ;
}
#footer p {
	color: #c2c2c2;
	width: 390px;
	float: left;
	background: url(https://developer.tripfab.com/images6/home-logo2.png) no-repeat left top;
	padding-left: 50px;
	margin-top: 30px;
	height: 50px;
	font: normal 11px Helvetica;
}
#footer p strong {
	display: block;
	font-size: 12px;
	margin-bottom: 5px;
}
#footer ul {
	float: right;
	margin: 36px 0 0 0;
}
#footer ul li {
	float: left;
	list-style: none;
	margin-left: 15px;
}
#footer ul li a {
	color: #c2c2c2;
	font: bold 11px Helvetica;
}
#footer ul li a:hover {
	color: #ffffff;
}
/*- END FOOTER STYLES-----------------------------------------------------------*/
/*- CONTENT WRAPPER ALL---------------------------------------------------------*/
/*-------STICKY FOOTER DONT CHANGE IT-------*/
#wp_all {
	min-height:100%;
	position:relative;
}
#wp_all #wp_content {
	padding-bottom: 82px;
}
#wp_all #wp_footer {
	bottom:0;
	height: 82px;
	position:absolute;
	width:100%;
}
/*-----END STICKY FOOTER DONT CHANGE IT-----*/




/*- END CONTENT WRAPPER ALL-----------------------------------------------------*/
/*- CONTENT WITHOUT BACKGROUND AND BORDER---------------------------------------*/


/*- END CONTENT WITHOUT BACKGROUND AND BORDER-----------------------------------*/






/*TOP BAR MESSAGE STATUS -----------------------------------*/
.empty-container {
	background-color: #FFFFFF;
	border: 1px solid #E7E7E7;
	text-align: center;
	padding: 100px 0;
	color: #cccccc;
	font-size: 25px;
	font-weight: bold;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
}
.empty-container a.btn-1 {
	display: inline;
	font-size: 13px;
	padding: 5px 10px;
}
.big-message {
	height: 63px;
	line-height: 61px;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 10000000;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	display: none;
}
.big-message.green {
	background: url(https://developer.tripfab.com/images2/g-30.png) repeat-x scroll 0 0 transparent;
	text-shadow: 0 1px 0 #7fb440;
}
.big-message.red {
	background: url(https://developer.tripfab.com/images2/g-31.png) repeat-x scroll 0 0 transparent;
	text-shadow: 0 1px 0 #d94812;
}
.big-message.green img {
	background: url(https://developer.tripfab.com/images2/ico-52.png) no-repeat scroll 0 0 transparent;
	height: 22px;
	margin-right: 10px;
	vertical-align: middle;
	width: 20px;
}
.big-message.red img {
	background: url(https://developer.tripfab.com/images2/ico-69.png) no-repeat scroll 0 0 transparent;
	height: 18px;
	margin-right: 10px;
	vertical-align: middle;
	width: 19px;
}
/*END TOP BAR MESSAGE STATUS -------------------------------*/
/*LIGHTBOX BASIC STYLES-------------------------------------*/
.lb {
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
	behavior: url(/PIE.htc);
}
.lb .top {
	background: url("https://developer.tripfab.com/images6/g-13.png") repeat-x scroll 0 0 transparent;
    color: #FFFFFF;
    font: bold 12px/44px Helvetica,Arial,sans-serif;
    height: 44px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px; 
}
.lb .bot {
	background: url("https://developer.tripfab.com/images6/g-52.gif") repeat-x scroll 0 0 #F6F6F6;
    height: 45px;
    overflow: hidden;
    padding: 15px 20px 0 0;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}
.lb .bot .btn-10,
.lb .bott .btn-1 {
	float: right;
	height: 30px;
}
.lgbox_img {
	padding: 7px;
	display: block;
	background-color: #FFF;
}
/*END LIGHTBOX BASIC STYLES----------------------------------*/
/*FIRST TIME TOOLTIPS----------------------------------------*/
.firstime_tip{
	width: 281px;
	background-color: #FFF;
	display: block;
	position: absolute;
	-webkit-box-shadow: 0px 0px 3px 1px #8c8c8c;
	-moz-box-shadow: 0px 0px 3px 1px #8c8c8c;
	box-shadow: 0px 0px 3px 1px #8c8c8c;
	z-index: 999;
	behavior: url(/PIE.htc);
}
.firstime_tip > img.arrow {
    position: absolute;
    right: 136px;
    top: -7px; 
}
.firstime_tip .cont {
	padding: 20px 10px 5px 15px;
	overflow: hidden;
}
.firstime_tip .cont img {
	float: left;
	margin-right: 15px;
}
.firstime_tip .cont p {
	float: left;
	width: 160px;
}
.firstime_tip .cont p {
	font: 11px/16px Helvetica;
	color: #303030;
}
.firstime_tip .cont p strong {
	display: block;
	font-weight: bold;
}
.firstime_tip .bot {
	background: url(https://developer.tripfab.com/images6/lstng_htl_sh2.png) repeat-x 0 0;
	position: relative;
	height: 43px;
	width: 100%;
}
.firstime_tip .bot label {
	color: #303030;
	font: bold 11px/21px Helvetica;
	display: block;
	margin: 10px 0 0 15px;
	height: 20px;
}
.firstime_tip .bot label input {
	margin:0 5px 0 0;
	vertical-align: middle;
}
.firstime_tip .bot .btn-1 {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 56px;
	padding: 0;
	height: 24px;
	font: bold 11px/24px Helvetica;
}
/*END FIRST TIME TOOLTIPS------------------------------------*/
