/*- HEADER STYLES---------------------------------------------------------------*/
#header {
	height: 62px;
	background: url(https://developer.tripfab.com/images6/header.png) repeat-x 0 0;
	position: relative;
	z-index: 999;
}
#header .wrapper {
	position: relative;
	z-index: 10;
}
#header h1{
	float: left;
	width: 102px;
	padding-top: 15px;
	margin-right: 24px;
}
#header > .wrapper > ul {
	height: 62px;
	list-style: none;
}
#header > .wrapper > ul >li {
	float: left;
}
#header > .wrapper > ul > li > a {
	display: block;
	height: 62px;
	float: left;
	padding:0 0 0 16px;
}
#header > .wrapper > ul > li > a > span {
	display: block;
	height: 62px;
	text-align: center;
	color: #ACACAC;
	float: left;
	padding: 0 20px 0 4px;
	font: bold 12px/66px Helvetica;
	text-shadow: 0px 1px 0px #000;
}
#header > .wrapper > ul > li:hover a span {
	color: #FFF;
}
#header > .wrapper > ul > li a.active {
	background: url(https://developer.tripfab.com/images6/header_hover.png) no-repeat left -1px;
}
#header > .wrapper > ul > li a.active span {
	background: url(https://developer.tripfab.com/images6/header_hover.png) no-repeat right -63px;
}
#header h1 a {
	background: url(https://developer.tripfab.com/images6/logo.png) no-repeat 0 0;
	display: block;
	width: 102px;
	height: 34px;
	text-indent: -9999px;
}
#header .rg {
	position: absolute;
	height: 62px;
	width: 480px;
	top: 0;
	right: 0;
}
#header .log {
	float: right;
	height: 62px;
	background: url(https://developer.tripfab.com/images6/header.png) repeat-x 0 -124px;
}
#header .log .btn {
	float: right;
	background: url(https://developer.tripfab.com/images6/header_icons.png) repeat-x 0 -260px;
	height: 62px;
	width: 86px;
}
#header .log .btn a {
	height: 24px;
	font: bold 11px/24px Helvetica;
	margin: 17px 0 0 13px;
	float: left;
}
#header .log .btn a:hover {
	-webkit-box-shadow: 0px 1px 0px 1px #000;
	-moz-box-shadow: 0px 1px 0px 1px #000;
	box-shadow: 0px 1px 0px 1px #000; 
}
#header .log .sign_in{
	padding:0 10px 0 12px;
	color: #FFF;
	font: normal 11px/62px Helvetica;
	float: right;
}
#header .log .sign_in a {
    display: inline-block;
    color: #FFF;
    font-weight: bold;
    text-shadow: 0px 1px 0px #000;
}
#header .log .sign_in a .aw {
	background: url("https://developer.tripfab.com/images6/header_icons.png") no-repeat -148px 0;
	display: inline-block;
	width: 9px;
	height: 5px;
	margin: 0 3px 2px 5px;
}
#header .log .sign_in img {
	float: left;
	display: block;
	margin: 18px 9px 0 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 1px 1px 0px #0a0a0a;
	-moz-box-shadow: 0px 1px 1px 0px #0a0a0a;
	box-shadow: 0px 1px 1px 0px #0a0a0a; 
}
#header .login {
	position: absolute;
	top: 48px;
	right: 30px;
	width: 235px;
	min-height: 206px;
	display: none;
	z-index: 10000;
	background-color: #FFF;
	padding: 15px 15px 0 15px;
	-webkit-box-shadow: 0px 0px 4px 2px #545454;
	-moz-box-shadow: 0px 0px 4px 2px #545454;
	box-shadow: 0px 0px 4px 2px #545454;
	z-index: 10000;
}
#header .login.show {
	display: block;
}

#header .login .arrow {
	display: block;
	background: url(https://developer.tripfab.com/images6/header_icons.png) no-repeat;
	width: 15px;
	height:5px;
	position: absolute;
	top: -5px;
	right: 64px;
}
#header .login input[type="text"],
#header .login input[type="password"] {
	width: 187px;
	height: 28px;
	font: normal 13px/30px Helvetica;
	color: #898989;
	padding: 2px 35px 0 10px;
	background: url(https://developer.tripfab.com/images6/header_icons.png) no-repeat;
	margin-bottom: 8px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	behavior: url(/PIE.htc);
}
#header .login input[type="text"] { background-position:-72px -53px;}
#header .login input[type="password"] { background-position: -72px -95px;}

#header .login .bttns {
	position: relative;
	height: 30px;
	margin: 5px 0 13px;
}
#header .login .bttns label {
	height: 30px;
	font: normal 11px/30px Helvetica;
	color: #303030;
}
#header .login .bttns label input {
	float: left;
	margin: 8px 5px 0 0;
}
#header .login .bttns .btn-1 {
	font: bold 11px/30px Helvetica;
	height: 30px;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0 15px;
}
#header .login .actions {
	font-size: 11px;
}
#header .login .actions a {
	display: block;
	float: left;
	color: #60B5F7;
}
#header .login .actions a:hover {
	color: #9BD2FC;
}
#header .login .actions a.create {
	float: right;
}
#header .login .fb {
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(https://developer.tripfab.com/images6/header_g1.png) repeat-x 0 0;
	height: 54px;
	width: 100%;
}
#header .login .fb a {
	display: block;
	background: url(https://developer.tripfab.com/images6/header_icons.png) repeat-x 0 -138px;
	width: 242px;
	height: 34px;
	text-indent: -9999px;
	margin: 10px auto;
}
#header .login .fb a:hover{
	background: url(https://developer.tripfab.com/images6/header_icons.png) repeat-x 0 -175px;
}
#header .login .fb a:active{
	background: url(https://developer.tripfab.com/images6/header_icons.png) repeat-x 0 -213px;
}
#header .user-menu {
	display: none;
	width: 215px;
	background-color: #FFF;
	position: absolute;
	top: 52px;
	right: -13px;
	-webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.25);
	z-index:999 ;
	behavior: url(/PIE.htc);
}
.overlay{
	background: transparent;
	display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -5;
}
.overlay.show {
	display: block;
}
#header .user-menu.show {
	display: block;
}
#header .user-menu .arrow {
	background: url("https://developer.tripfab.com/images6/header_icons.png") no-repeat scroll 0 0 transparent;
	display: block;
	height: 5px;
	position: absolute;
	right: 22px;
	top: -5px;
	width: 15px;
}
#header .user-menu .main {
	padding: 13px 10px 10px 15px;
}
#header .user-menu .main img {
	float: left;
	display: block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-right: 18px;
	-webkit-box-shadow: 0px 1px 0px 0px #ececec;
	-moz-box-shadow: 0px 1px 0px 0px #ececec;
	box-shadow: 0px 1px 0px 0px #ececec; 
	behavior: url(/PIE.htc);
	border-bottom: 1px solid #c5c5c5;
}
#header .user-menu .main ul {
	float: left;
	margin-top: 5px;
}
#header .user-menu .main ul li {
	margin-bottom: 5px;
	list-style: none;
}
#header .user-menu .main ul li a{
	color: #303030;
	font: bold 12px Helvetica;
}
#header .user-menu .main ul li a:hover {
	color: #9BD2FC;
}
#header .user-menu .bot {
	width: 185px;
	background: url(https://developer.tripfab.com/images6/header_g1.png) repeat-x left bottom;
	height: 24px;
	padding: 10px 15px 0;
	overflow: hidden;
}
#header .user-menu .bot a {
	color: #303030;
	display: block;
	font: bold 12px Helvetica;
}
#header .user-menu .bot .account {
	float: left;
}
#header .user-menu .bot .account:hover {
	color: #9bd2fc;
}
#header .user-menu .bot .sign_out {
	float: right;
}
#header .user-menu .bot .sign_out:hover {
	color: #F26522;
}
#header .top_search {
	float: right;
	width: 200px;
	margin-right: 12px;
}
#header .top_search input[type="text"] {
	background: url(https://developer.tripfab.com/images6/header_icons.png) repeat-x -106px -10px #393939;
	color: #D7D7D7;
    display: block;
    font: 12px/27px Helvetica;
    height: 25px;
    margin: 16px 0 0 0;
    padding: 2px 25px 0 7px;
    width: 165px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #181818;
	-webkit-box-shadow:0 1px 0px 0px #2d2d2d;
	-moz-box-shadow:0 1px 0px 0px #2d2d2d;
	box-shadow:0 1px 0px 0px #2d2d2d;
	behavior: url(/PIE.htc);
}
#header .top_search input[type="text"]:hover{
	border-color: #181818 !important;
    box-shadow:none !important;
    background-color: #464646;
    -webkit-box-shadow:0 1px 0px 0px #2d2d2d !important;
    -moz-box-shadow:0 1px 0px 0px #2d2d2d !important;
    box-shadow:0 1px 0px 0px #2d2d2d !important;
    behavior: url(/PIE.htc);
}

#header .top_search input[type="text"]:focus {
	border-color: #addeff !important;
	background-color: #FFF;
	color: #303030;
	font-weight: bold;
	-webkit-box-shadow:0 0px 5px 0px #addeff !important;
	-moz-box-shadow:0 0px 5px 0px #addeff !important;
	box-shadow:0 0px 5px 0px #addeff !important;
	behavior: url(/PIE.htc);
}

.big-message {
	height: 63px;
	line-height: 61px;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 10000000;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	display: none;
}

.big-message.green {
	background: url(https://developer.tripfab.com/images6/g-30.png) repeat-x scroll 0 0 transparent;
	text-shadow: 0 1px 0 #7fb440;
}

.big-message.red {
	background: url(https://developer.tripfab.com/images6/g-31.png) repeat-x scroll 0 0 transparent;
	text-shadow: 0 1px 0 #d94812;
}

.big-message.green img {
	background: url(https://developer.tripfab.com/images6/ico-52.png) no-repeat scroll 0 0 transparent;
	height: 22px;
	margin-right: 10px;
	vertical-align: middle;
	width: 20px;
}

.big-message.red img {
	background: url(https://developer.tripfab.com/images6/ico-69.png) no-repeat scroll 0 0 transparent;
	height: 18px;
	margin-right: 10px;
	vertical-align: middle;
	width: 19px;
}
.checkEmail {
	background: url(https://developer.tripfab.com/images6/checkMailBG.png) repeat-x left bottom;
	height: 46px;
	overflow: hidden;
	-moz-box-shadow: 0px 1px 0px 0px #000;
	-webkit-box-shadow: 0px 1px 0px 0px #000;
	box-shadow: 0px 1px 0px 0px #000; 
	display: none;
}
.checkEmail h2 {
	background: url(https://developer.tripfab.com/images6/checkMail.png) no-repeat 0 14px;
	padding-left: 40px;
	height: 46px;
	font: bold 13px/46px Helvetica;
	width: 750px;
	float: left;
}
.checkEmail .btn-10 {
	float: right;
	display: block;
	height: 28px;
	margin-top: 7px;
}

#citiesAutocompleteContainer {
	height:0px;
	position: relative;
	z-index: 10000000;
	}
#citiesAutocompleteContainer .ui-autocomplete { 
	background:#fff; 
	border:1px solid #D8D8D8; 
	border-top:none; 
	box-shadow: 0 0 10px #000000; 
	width:198px !important;
	list-style:none; 
	max-height:200px; 
	overflow-y:auto; 
	z-index:100 !important;
	height:auto !important;}
#citiesAutocompleteContainer .ui-autocomplete li a {
	display:block;
	line-height:20px;
	font-size: 12px;
	color:#464646;
	font-weight:normal;
	padding: 0 20px 0 10px;
	text-shadow:none;}
#citiesAutocompleteContainer .ui-autocomplete li a.ui-state-hover {
	background: url(https://developer.tripfab.com/images2/arrow-25.png) no-repeat 98% 50% #60b6e8;
	color: #FFFFFF;
	text-decoration:none;}
#citiesAutocompleteContainer2 {
	height:0px;}
#citiesAutocompleteContainer2 .ui-autocomplete { 
	max-height: 240px;
	width:546px !important;
	background:#fff; 
	border:1px solid #E8E7E7; 
	border-radius: 2px;
	box-shadow: 0 0 10px #000000; 
	border-top:none; 
	list-style:none; 
	overflow-y:auto; 
	z-index:100 !important;
	height:auto !important;}
#citiesAutocompleteContainer2 .ui-autocomplete li a { 
	line-height:24px;
	color:#464646;
	padding-left:10px;
	font-weight:bold;
	display:block;
	font-size: 14px;}
#citiesAutocompleteContainer2 .ui-autocomplete li a.ui-state-hover { 
	background: url(https://developer.tripfab.com/images2/arrow-25.png) no-repeat 98% 50% #60b6e8;
	color: #FFFFFF;
	text-decoration:none;}
/*- END HEADER STYLES-----------------------------------------------------------*/

/*- FOOTER STYLES---------------------------------------------------------------*/

#footer {
	height: 150px;
	background:url(https://developer.tripfab.com/images2/home-sep5.png) no-repeat center top #2a2a2a;
	margin-top: 30px;
}
#footer .wrap {
	position: relative;
	width: 960px;
	margin: 0 auto;
}
#footer .flag {
	background: url(https://developer.tripfab.com/images2/home-flag.png) no-repeat;
	width: 108px;
	height: 3px;
	display: block;
	position: absolute;
	top: -3px;
	left: 427px ;
}
#footer .left {
	width: 280px;
	float: left;
}
#footer .number {
	width: 226px;
	height: 51px;
	background-color: #202020;
	font: bold 14px/60px Helvetica;
	color: #FFF;
	margin-bottom: 8px;
} 
#footer .number span {
	display: block;
	background: url(https://developer.tripfab.com/images6/footerIcons.png) no-repeat 0 0;
	width: 25px;
	height: 21px;
	float: left;
	margin: 19px 5px 0 10px;
}
#footer .left > span {
	font: normal 11px Helvetica;
	color: #c2c2c2;
}
#footer .right {
	float: right;
	width: 560px;
	padding-top: 20px;
}
#footer .right ul {
	float: right;
	padding-right: 70px;
	margin-left: 17px;
}
#footer .right ul li {
	color: #898989;
	font: normal 11px Helvetica;
	margin-bottom: 8px;
}
#footer .right ul li a {
	color: #c2c2c2;
	font: normal 12px Helvetica;
}
#footer .right ul li a:hover {
	color: #FFF;
}
#footer .right ul li a em {
	display: block;
	float: left;
	background: url(https://developer.tripfab.com/images6/footerIcons.png) no-repeat 0 0;
	width: 17px;
	height: 15px;
}
#footer .right ul li a .tw {
	background-position: -51px -6px;
}
#footer .right ul li:hover a .tw {
	background-position: -79px -6px;
}
#footer .right ul li a .fb {
	background-position: -51px -27px;
}
#footer .right ul li:hover a .fb {
	background-position: -79px -27px;
}
#footer .right ul li a .gl {
	background-position: -51px -47px;
}
#footer .right ul li:hover a .gl {
	background-position: -79px -47px;
}


#footer .bot {
	clear: both;
	background: url(https://developer.tripfab.com/images6/footerSep.png) no-repeat center top;
	height: 44px;
	font: bold 12px/44px Helvetica;
	color: #c2c2c2;
	text-align: center;
}
#footer .bot em {
	background: url(https://developer.tripfab.com/images6/footerIcons.png) no-repeat 0 -40px;
	width: 24px;
	height: 23px;
	display: inline-block;
	margin: 11px 0 0 0;
	float: left;
}
#footer .bot p {
	width: 328px;
	margin: 0 auto;
} 
/*- END FOOTER STYLES-----------------------------------------------------------*/
/*- CONTENT WRAPPER ALL---------------------------------------------------------*/
/*-------STICKY FOOTER DONT CHANGE IT-------*/
#wp_all {
	min-height:100%;
	position:relative;
}
#wp_all #wp_content {
	padding-bottom: 150px;
}
#wp_all #wp_footer {
	bottom:0;
	height: 150px;
	position:absolute;
	width:100%;
}
/*-----END STICKY FOOTER DONT CHANGE IT-----*/




/*- END CONTENT WRAPPER ALL-----------------------------------------------------*/
/*- CONTENT WITHOUT BACKGROUND AND BORDER---------------------------------------*/


/*- END CONTENT WITHOUT BACKGROUND AND BORDER-----------------------------------*/






/*TOP BAR MESSAGE STATUS -----------------------------------*/
.empty-container {
	background-color: #FFFFFF;
	border: 1px solid #E7E7E7;
	text-align: center;
	padding: 100px 0;
	color: #cccccc;
	font-size: 25px;
	font-weight: bold;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
}
.empty-container a.btn-1 {
	display: inline;
	font-size: 13px;
	padding: 5px 10px;
}
.big-message {
	height: 63px;
	line-height: 61px;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 10000000;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	display: none;
}
.big-message.green {
	background: url(https://developer.tripfab.com/images2/g-30.png) repeat-x scroll 0 0 transparent;
	text-shadow: 0 1px 0 #7fb440;
}
.big-message.red {
	background: url(https://developer.tripfab.com/images2/g-31.png) repeat-x scroll 0 0 transparent;
	text-shadow: 0 1px 0 #d94812;
}
.big-message.green img {
	background: url(https://developer.tripfab.com/images2/ico-52.png) no-repeat scroll 0 0 transparent;
	height: 22px;
	margin-right: 10px;
	vertical-align: middle;
	width: 20px;
}
.big-message.red img {
	background: url(https://developer.tripfab.com/images2/ico-69.png) no-repeat scroll 0 0 transparent;
	height: 18px;
	margin-right: 10px;
	vertical-align: middle;
	width: 19px;
}
/*END TOP BAR MESSAGE STATUS -------------------------------*/
/*LIGHTBOX BASIC STYLES-------------------------------------*/
.lb {
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
	behavior: url(/PIE.htc);
}
.lb .top {
	background: url("https://developer.tripfab.com/images6/g-13.png") repeat-x scroll 0 0 transparent;
    color: #FFFFFF;
    font: bold 12px/44px Helvetica,Arial,sans-serif;
    height: 44px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px; 
}
.lb .bot {
	background: url("https://developer.tripfab.com/images6/g-52.gif") repeat-x scroll 0 0 #F6F6F6;
    height: 45px;
    overflow: hidden;
    padding: 15px 20px 0 0;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}
.lb .bot .btn-10,
.lb .bott .btn-1 {
	float: right;
	height: 30px;
}
.lgbox_img {
	padding: 7px;
	display: block;
	background-color: #FFF;
}
/*END LIGHTBOX BASIC STYLES----------------------------------*/
/*FIRST TIME TOOLTIPS----------------------------------------*/
.firstime_tip{
	width: 281px;
	background-color: #FFF;
	display: block;
	position: absolute;
	-webkit-box-shadow: 0px 0px 3px 1px #8c8c8c;
	-moz-box-shadow: 0px 0px 3px 1px #8c8c8c;
	box-shadow: 0px 0px 3px 1px #8c8c8c;
	z-index: 999;
	behavior: url(/PIE.htc);
}
.firstime_tip > img.arrow {
    position: absolute;
    right: 136px;
    top: -7px; 
}
.firstime_tip .cont {
	padding: 20px 10px 5px 15px;
	overflow: hidden;
}
.firstime_tip .cont img {
	float: left;
	margin-right: 15px;
}
.firstime_tip .cont p {
	font: 11px/16px Helvetica;
	color: #303030;
	float: left;
	width: 160px;
}
.firstime_tip .cont p strong {
	display: block;
	font-weight: bold;
}
.firstime_tip .bot {
	background: url(https://developer.tripfab.com/images6/lstng_htl_sh2.png) repeat-x 0 0;
	height: 43px;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.firstime_tip .bot label {
	color: #303030;
	font: bold 11px/21px Helvetica;
	display: block;
	padding: 10px 0 0 15px;
	height: 20px;
}
.firstime_tip .bot label input {
	margin:0 5px 0 0;
	vertical-align: middle;
}
.firstime_tip .bot .btn-1 {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 56px;
	padding: 0;
	height: 24px;
	font: bold 11px/24px Helvetica;
}
/*END FIRST TIME TOOLTIPS------------------------------------*/

/*SIGN IN LIGHTBOX-------------------------------------------*/
.signLog {
	width: 460px;
	border-radius: 3px;
	-moz-border-radius:3px;
	-webkit-border-radius: 3px;
}
.signLog .top {
	background: url("https://developer.tripfab.com/images2/g-18.png") repeat-x scroll left bottom #303030;
	height: 72px;
	-webkit-border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	text-align: center;
	color: #FFF;
}
.signLog .top h2{
	font: 600 20px Helvetica;
	text-shadow: 0px 1px 0px #000;
	padding: 15px 0 5px;
}
.signLog .top h2 span {
	color: #8dc63f;
	font: italic 300 20px Georgia, "Times New Roman", Times, serif;
}
.signLog .top p {
	color:#c2c2c2;
	font: 100 16px Helvetica;
	text-shadow: 0px 1px 0px #000;
}
.signLog .cont {
	background: url(https://developer.tripfab.com/images6/signIn-sh.png) no-repeat 0 77px #FFF;
	padding-top: 15px;
}
.signLog .cont > a.fb {
	width: 253px;
	height: 45px;
	display: block;
	margin: 0 auto;
	background: url(https://developer.tripfab.com/images6/signUpFB.png) no-repeat 0 0;
}
.signLog .cont > a.fb:hover {
	background-position: 0 -57px;
}
.signLog .cont > a.fb:active {
	background-position: 0 -112px;
}
.signLog .contForm {
	padding: 30px 28px 0 28px;
	margin-top: 16px;
	position: relative;
}
.signLog .contForm em {
	position: absolute;
	top: -4px;
	left: 221px;
	color: #c7c7c7;
	font: italic 14px Helvetica;
}
.signLog .contForm input[type="text"],
.signLog .contForm input[type="password"] {
	width: 378px;
	height: 41px;
	margin-bottom: 15px;
	background: url(https://developer.tripfab.com/images6/signInIcons.png) no-repeat 0 0;
	color: #898989;
	font: normal 16px/41px Helvetica;
	padding-left: 15px;
}
.signLog .contForm input[type="text"]:focus {
	font-weight: bold;
	color: #303030;
}
.signLog .contForm input[type="text"].name {
	background-position: 371px 13px;
}
.signLog .contForm input[type="text"].lastName {
	background-position: 371px -42px;
}
.signLog .contForm input[type="text"].email {
	background-position: 371px -96px;
}
.signLog .contForm input[type="text"].password {
	background-position: 371px -151px;
}
.signLog .contForm input[type="text"].confirm {
	background-position: 371px -208px;
}
.signLog .cntrl {
	overflow: hidden;
	padding-bottom: 15px;
}
.signLog .cntrl label{
	font: bold 12px/30px Helvetica;
	height: 30px;
	color: #616161;
	float: left;
	margin-top: 6px;
}
.signLog .cntrl label input {
	display: block;
	float: left;
	margin: 8px 5px 0 0;
}
.signLog .cntrl .btn-1 {
	float: right;
	width: 161px;
	height: 41px;
	padding: 0;
	font: 500 16px/41px Helvetica;
}
.signLog .note {
	border-top: 1px solid #e8e8e8;
	height: 45px;
	padding: 15px 0 0 0;
	background-color: #FFF;
}
#signIn.signLog .note {
	height: auto;
	padding: 13px 0 10px;
}
#signIn.signLog .note a {
	font-weight: bold;
}
.signLog .note p {
	text-align: center;
	font: normal 12px/16px Helvetica;
	color: #616161;
}
.signLog .bottom {
	background: url("https://developer.tripfab.com/images2/g-52.gif") repeat-x scroll 0 0 #F6F6F6;
	height: 65px;
	overflow: hidden;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}
.signLog .bottom h6 {
	text-align: center;
	color: #303030;
	font: bold 17px/65px Helvetica;
}

#send_message {
	width: 461px;
}
#send_message .lb-forgot{
	width: 461px;
}
#send_message .lb-forgot .content {
	padding:15px 20px;
}
#send_message .lb-forgot .content textarea{
	width: 412px;
}
#send_message .lb-forgot .bottom {
	padding: 10px 20px;
}
#send_message .lb-forgot .bottom input,
#send_message .lb-forgot .bottom span{
	height: 30px;
	line-height: 30px;
}
#send_message .intro_m {
	background: url(https://developer.tripfab.com/images2/ico_msj.png) no-repeat 20px 50% #f5f5f5;
	height: 60px;
	padding-left: 60px;
	border-bottom: 1px solid #e0e0e0;
}
#send_message .intro_m p {
	font:normal 13px/16px Helvetica;
	padding-top: 14px;
}
#send_message .intro_m strong {
	display: block;
}
#send_message .lb-forgot .ttl em{
	font-weight: normal;
}
/*END SIGN IN LIGHTBOX---------------------------------------*/
























