
/*NEW HOME-----------------------------------------------------------------*/
#header {
	height: 62px;
	background: url(https://developer.tripfab.com/images6/header.png) repeat-x 0 0;
	position: relative;
	z-index: 10;
}
#header .wrapper {
	position: relative;
	z-index: 10;
}
#header h1{
	float: left;
	width: 102px;
	padding-top: 15px;
	margin-right: 24px;
}
#header ul {
	height: 62px;
	list-style: none;
}
#header ul li {
	float: left;
}
#header ul li a {
	display: block;
	height: 62px;
	float: left;
	padding:0 0 0 16px;
}
#header ul li a span {
	display: block;
	height: 62px;
	text-align: center;
	color: #ACACAC;
	float: left;
	padding: 0 20px 0 4px;
	font: bold 12px/66px Helvetica;
	text-shadow: 0px 1px 0px #000;
}
#header ul li:hover a span {
	color: #FFF;
}
#header ul li a.active {
	background: url(https://developer.tripfab.com/images6/header_hover.png) no-repeat top left ;
}
#header ul li a.active span {
	background: url(https://developer.tripfab.com/images6/header_hover.png) no-repeat bottom right;
}
#header h1 a {
	background: url(https://developer.tripfab.com/images6/logo.png) no-repeat 0 0;
	display: block;
	width: 102px;
	height: 34px;
	text-indent: -9999px;
}
#header .rg {
	position: absolute;
	height: 62px;
	width: 480px;
	top: 0;
	right: 0;
}
#header .log {
	float: right;
	height: 62px;
	background: url(https://developer.tripfab.com/images6/header.png) repeat-x 0 -124px;
}
#header .log .btn {
	float: right;
	background: url(https://developer.tripfab.com/images6/header_icons.png) repeat-x 0 -260px;
	height: 62px;
	width: 86px;
}
#header .log .btn a {
	height: 24px;
	font: bold 11px/24px Helvetica;
	margin: 17px 0 0 13px;
	float: left;
}
#header .log .btn a:hover {
	-webkit-box-shadow: 0px 1px 0px 1px #000;
	-moz-box-shadow: 0px 1px 0px 1px #000;
	box-shadow: 0px 1px 0px 1px #000; 
}
#header .log .sign_in{
	padding:0 10px 0 15px;
	color: #FFF;
	font: normal 11px/62px Helvetica;
	float: right;
}
#header .log .sign_in a {
	background: url("https://developer.tripfab.com/images6/header_icons.png") no-repeat -106px 27px;
    display: inline-block;
    padding-right: 16px;
    color: #FFF;
    font-weight: bold;
}









#header .login {
	position: absolute;
	top: 48px;
	right: 30px;
	width: 235px;
	min-height: 206px;
	display: none;
	z-index: 10000;
	background-color: #FFF;
	padding: 15px 15px 0 15px;
	-webkit-box-shadow: 0px 0px 4px 2px #545454;
	-moz-box-shadow: 0px 0px 4px 2px #545454;
	box-shadow: 0px 0px 4px 2px #545454;
}
#header .login.show {
	display: block;
}

#header .login .arrow {
	display: block;
	background: url(https://developer.tripfab.com/images6/header_icons.png) no-repeat;
	width: 15px;
	height:5px;
	position: absolute;
	top: -5px;
	right: 64px;
}
#header .login input[type="text"],
#header .login input[type="password"] {
	width: 187px;
	height: 30px;
	font: normal 13px/30px Helvetica;
	color: #898989;
	padding: 0 35px 0 10px;
	background: url(https://developer.tripfab.com/images6/header_icons.png) no-repeat;
	margin-bottom: 8px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	behavior: url(/PIE.htc);
}
#header .login input[type="text"] { background-position:-72px -53px;}
#header .login input[type="password"] { background-position: -72px -95px;}

#header .login .bttns {
	position: relative;
	height: 30px;
	margin: 5px 0 13px;
}
#header .login .bttns label {
	height: 30px;
	font: normal 11px/30px Helvetica;
	color: #303030;
}
#header .login .bttns label input {
	float: left;
	margin: 8px 5px 0 0;
}
#header .login .bttns .btn-1 {
	font: bold 11px/30px Helvetica;
	height: 30px;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0 15px;
}
#header .login .actions {
	font-size: 11px;
}
#header .login .actions a {
	display: block;
	float: left;
}
#header .login .actions a.create {
	float: right;
}
#header .login .fb {
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(https://developer.tripfab.com/images6/header_g1.png) repeat-x 0 0;
	height: 54px;
	width: 100%;
}
#header .login .fb a {
	display: block;
	background: url(https://developer.tripfab.com/images6/header_icons.png) repeat-x 0 -138px;
	width: 242px;
	height: 34px;
	text-indent: -9999px;
	margin: 10px auto;
}
#header .login .fb a:hover{
	background: url(https://developer.tripfab.com/images6/header_icons.png) repeat-x 0 -175px;
}
#header .login .fb a:active{
	background: url(https://developer.tripfab.com/images6/header_icons.png) repeat-x 0 -213px;
}






#header .top_search {
	float: right;
}
#header .top_search input[type="text"] {
	background: url(https://developer.tripfab.com/images6/header_icons.png) repeat-x -113px -10px #393939;
	color: #D7D7D7;
    display: block;
    font: 12px/27px Helvetica;
    height: 27px;
    margin: 18px 6px 0 0;
    padding: 0 20px 0 7px;
    width: 170px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #181818;
	-webkit-box-shadow:0 1px 0px 0px #2d2d2d;
	-moz-box-shadow:0 1px 0px 0px #2d2d2d;
	box-shadow:0 1px 0px 0px #2d2d2d;

}
#header .top_search input[type="text"]:hover,
#header .top_search input[type="text"]:focus {
	border-color: #181818 !important;
    box-shadow:none !important;
}











	.top {
		height: 736px !important;
		margin: 0;
		overflow: hidden !important;
		padding: 0;
		position: absolute;
		width: 100%;	
		top: 0;
		left: 0;
		z-index: -1000;
		background-color:#000;
	}
	.pattern {
		height: 736px !important;
		margin: 0;
		overflow: hidden !important;
		padding: 0;
		position: absolute;
		width: 100%;	
		top: 0;
		left: 0;
		z-index: -1;
		background: url(https://developer.tripfab.com/images2/pattern1.png) repeat 0 0 ;
	}
	.top .low {
		z-index: -900;
	}
	.top .high {
		z-index: -100;
	}
	/**
	img.bg {
		min-height: 100%;
		min-width: 960px;
		
		width: 100%;
		height: auto;
		
		position: absolute;
		bottom: 0;
		right: 0;
	}
	*/
	img.bg {
		position: absolute;
		bottom:0;
		right:0;
		overflow:hidden;
	}
	/**
	@media screen and (max-width: 1024px){
		img.bg {
			left: 50%;
			margin-left: -512px; }
	}
	*/
	

#wrapper-top img {
	z-index: -1000;
	position: absolute;
}
#wrapper-top {
	height: 480px !important;
	max-height: 480px !important;
	overflow: hidden;
	width: 100%;
	position: relative;
	background: url("https://developer.tripfab.com/images2/home-bot.png") repeat scroll 0 0;
}
.wrap {
	width: 960px;
	margin: 0 auto;
}
#wrapper-top h1 {
	width: 152px;
	height: 45px;
	float: left;
	margin: 20px 0 0 15px;
}
#wrapper-top #header {
	height: 78px;
	background: url(https://developer.tripfab.com/images2/home-sep1.png) no-repeat bottom center;
	margin-bottom: 62px;
	position: relative;
}
#wrapper-top .main {
	padding-top: 70px;
}
#wrapper-top h1 a{
	display: block;
	background: url(https://developer.tripfab.com/images2/home-logo.png) no-repeat 0 0;
	width: 152px;
	height: 45px;
}
#wrapper-top .signIn {
	float: right;
	width: 200px;
	color: #CCC;
	text-shadow: 0px 1px 0px #000000;
	filter: dropshadow(color=#000000, offx=0, offy=1);
	font: 11px/78px Helvetica;
	text-align: right;
	position: relative;
}
#wrapper-top .signIn > a {
	font: bold 11px/78px Helvetica;
	color: #FFF;
	background: url(https://developer.tripfab.com/images2/home-arrow1.png) no-repeat right 50%;
	padding-right: 15px;
}
#wrapper-top .main h2{
	color: #FFF;
	font: bold 45px/55px Helvetica;
	text-align: center;
	margin-bottom: 10px;
	height: 50px;
	text-shadow: 0 1px 0 #000000;
	filter: progid:DXImageTransform.Microsoft.Chroma(Color=#000000)
		    progid:DXImageTransform.Microsoft.DropShadow(OffX=0, OffY=1, Color=#000000);
}
#wrapper-top .main h3{
	font: normal 19px/25px Helvetica;
	text-align: center;
	color: #FFF;
	margin-bottom: 35px;
	height: 30px;
	text-shadow: 0 1px 0 #000000;
	filter: progid:DXImageTransform.Microsoft.Chroma(Color=#000000)
		    progid:DXImageTransform.Microsoft.DropShadow(OffX=0, OffY=1, Color=#000000);
}
#search-box {
	-webkit-box-shadow:inset  0px 0px 1px #FFF;
	-moz-box-shadow: inset 0px 0px 1px #FFF;
	box-shadow: inset 0px 0px 1px #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior: (PIE.htc);
	width: 640px;
	margin: 0 auto 30px;
	padding: 18px 0 18px 18px;
	background: url(https://developer.tripfab.com/images2/home-search.png) repeat;
	behavior: url(PIE.htc);
}
#search-box input[type="text"] {
	width: 447px;
	height: 46px;
	float: left;
	background: url(https://developer.tripfab.com/images2/ico-23.png) no-repeat 10px 50% #FFF;
	padding-left: 40px;
	font: normal 20px/46px Helvetica;
	color: #7d7d7d;
}
#search-box input.text:focus,
#search-box input.text:hover {
	border-color: #addeff !important;
	box-shadow: 0 0 5px #addeff!important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
	behavior: url(PIE.htc);
}
#search-box .btn-1 {
	float: left;
	margin-left: 15px;
	height: 47px;
	font: bold 20px/47px Helvetica;
	width: 110px;
	behavior: url(PIE.htc);
}
#search-box .btn-1:hover {
	-webkit-box-shadow: 0px 1px 1px 0px #303030;
	-moz-box-shadow: 0px 1px 1px 0px #303030;
	box-shadow: 0px 1px 1px 0px #303030;
	text-decoration: none;
}
#wrapper-top .main h4{
	background: url(https://developer.tripfab.com/images2/home-sep2.png) no-repeat top center;
	width: 494px;
	height: 42px;
	margin: 0 auto;
	color: #FFF;
	font: bold 15px/42px Helvetica;
	color: #e1e1e1;
}
#wrapper-top .main h4 span {
	background: url(https://developer.tripfab.com/images2/home-icon1.png) no-repeat left 12px;
	display: block;
	height: 42px;
	padding-left: 16px;
	text-shadow: 0px 1px 0px #000000;
	filter: dropshadow(color=#000000, offx=0, offy=1);
}
#wrapper-top .bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 132px;
	background: url("https://developer.tripfab.com/images2/home-search.png") repeat scroll 0 0 transparent;
	width: 100%;
	z-index:0;
}
/*#wrapper-top .bottom .video {
	width: 332px;
	float: left;
	overflow: hidden;
	background: url(https://developer.tripfab.com/images2/home-sep4.png) no-repeat right 50%;
}
#wrapper-top .bottom .video a{
	background:url(https://developer.tripfab.com/images2/home-video.png) no-repeat 0 0;
	display: block;
	width: 97px;
	height: 65px;
	float: left;
	text-align: left;
	margin: 5px 10px 0 0;
}
#wrapper-top .bottom .video a:hover {
	background-position: bottom left;
}
#wrapper-top .bottom .video p {
	float: left;
	font: normal 12px/18px Helvetica;
	color: #cccccb;
	margin-top: 20px;
}
#wrapper-top .bottom .video p strong {
	display: block;
	font: bold 13px/15px Helvetica;
	color: #FFF;
}
#wrapper-top .bottom .singUp {
	float: right;
	width: 610px;
	color: #FFF;
	font:bold 13px/75px Helvetica;
	height: 75px;
}
#wrapper-top .bottom .singUp p {
	float: left;
}
#wrapper-top .bottom .singUp a.btn-1 {
	width: 79px;
	height: 32px;
	font: bold 14px/32px Helvetica;
	display: block;
	float: right;
	margin: 20px 0 0 10px;
	behavior: url(PIE.htc);
}*/
#wrapper-top .bottom .each {
	width: 183px;
	float: left;
	text-align: center;
	margin-right: 76px;
}
#wrapper-top .bottom .each.last {
	margin: 0;
}
#wrapper-top .bottom .each span {
	display: block;
	margin: -17px auto 0;
	background: url(https://developer.tripfab.com/images6/home_icons.png) no-repeat 0 0;
	width: 35px;
	height: 35px;
}
#wrapper-top .bottom .each .things {
	background-position:-102px -1px;
}
#wrapper-top .bottom .each .book {
	background-position: -149px -1px;
}
#wrapper-top .bottom .each .create {
	background-position: -101px -37px;
}
#wrapper-top .bottom .each .save {
	background-position: -147px -1px;
}
#wrapper-top .bottom .each h4 {
	color: #60b5f7;
	font: normal 18px Helvetica;
	margin-bottom: 10px;
}
#wrapper-top .bottom .each h4 em {
	color: #d7d7d7;
}
#wrapper-top .bottom .each p {
	color: #d7d7d7;
	font: normal 11px/16px Helvetica;
}


.slideshow .lfarrow, .slideshow .rgarrow {
    background: url("https://developer.tripfab.com/images6/lstng_htl.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 51px;
    margin: 0;
    position: absolute;
    top: 110px;
    width: 24px;
    z-index: 10;
}
.slideshow .rgarrow {
    background-position: -612px -71px;
    right: 10px;
}
.slideshow .lfarrow {
    background-position: -577px -71px;
    left: 10px;
}





#home_trips {
	background: url(https://developer.tripfab.com/images6/home_trips.png) repeat-x;
}
#home_trips .featured{
	width: 575px;
	float: left;
	margin-top: 66px;
}
#home_trips .featured .tabs{
	border: 1px solid #cecece;
	background-color: #FFF;
	-webkit-box-shadow: 0px 1px 0px 0px #e0e0e0;
	-moz-box-shadow: 0px 1px 0px 0px #e0e0e0;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	-webkit-border-radius: 0px 2px 2px 2px;
	border-radius: 0px 2px 2px 2px; 
	position: relative;
}
#home_trips .tabs ul {
	position: absolute;
	top: -43px;
	left: -1px;
}
#home_trips .tabs > ul > li {
	float: left;
	height: 42px;
}
#home_trips .tabs > ul > li a {
	color: #898989;
	text-align: center;
	font: bold 13px/42px Helvetica;
	height: 42px;
	display: block;
	background-color:#f1f1f1;
	padding: 0 15px;
	border-bottom: 1px solid #cecece;
}
#home_trips .tabs > ul > li:hover a {
	color: #60b5f7;
}
#home_trips .tabs > ul > li.ui-tabs-selected a{
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 2px 2px 0px 0px;
	border-radius: 2px 2px 0px 0px;
	color: #303030;
	background-color: #FFF;
	border: 1px solid #cecece;
	border-bottom: none;
}
#home_trips .tabs #hotels {
	padding: 5px;
}
#home_trips .tabs > ul > li a span {
	display: block;
	background: url(https://developer.tripfab.com/images6/home_icons.png) no-repeat;
	width: 20px;
	height: 17px;
	float: left;
	margin: 12px 5px 0 0;
}
#home_trips .tabs span.hotel {
	background-position: 0 -29px;
}
#home_trips .tabs li:hover span.hotel {
	background-position: 0 -57px;
}
#home_trips .tabs li.ui-tabs-selected span.hotel {
	background-position: 0 0;
}

#home_trips .tabs span.activity {
	background-position: -36px -29px;
}
#home_trips .tabs li:hover span.activity{
	background-position: -36px -57px;
}
#home_trips .tabs li.ui-tabs-selected span.activity{
	background-position: -36px 0;
}

#home_trips .tabs span.itinerary {
	background-position: -67px -29px;
}
#home_trips .tabs li:hover span.itinerary {
	background-position: -67px -57px;
}
#home_trips .tabs li.ui-tabs-selected span.itinerary {
	background-position: -67px 0;
}
#home_trips .slideshow h5 {
	font: normal 17px Helvetica;
	color: #303030;
	margin: 10px 0 5px 10px;
}
#home_trips .slideshow .meta {
	color: #898989;
}
#home_trips .slideshow .meta em {
	display: block;
	background: url(https://developer.tripfab.com/images6/home_icons.png) no-repeat -5px -94px;
	width: 8px;
	height: 13px;
	float: left;
	margin: 0 5px 0 10px;
}
#home_trips .price {
	bottom: 0px;
    color: #303030;
    position: absolute;
    right: 7px;
}
#home_trips .price span {
	font: bold 34px Helvetica;
	float: left;
	display: block;
	height: 30px;
}
#home_trips .price sub{
	display: block;
	font-size: 11px;
}
#home_trips .price sup{
	vertical-align: top;
	font:bold 18px Helvetica;
	float: left;
	display: block;
	margin-top: 2px;
}

#home_trips .side {
	float: right;
	width: 340px;
	padding: 37px 15px 0;
	border: 1px solid #cecece;
	background: url(https://developer.tripfab.com/images6/home_trips.png) repeat-x #FFF;
	-webkit-box-shadow: 0px 1px 0px 0px #e0e0e0;
	-moz-box-shadow: 0px 1px 0px 0px #e0e0e0;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	-webkit-border-radius: 0px 2px 2px 2px;
	border-radius: 0px 2px 2px 2px; 
	position: relative;
}
#home_trips .side h5 {
	color: #303030;
	font: bold 13px Helvetica;
	width: 214px;
	height: 17px;
}
#home_trips .side h5 span {	
	display: block;
	background: url(https://developer.tripfab.com/images6/home_icons.png) no-repeat -67px -29px;
    float: left;
    height: 17px;
    margin: 0 5px 0 0;
    width: 20px; 
}
#home_trips .side .single {
	height: 100px;
	width:342px ;
	margin: 0 auto;
	border-bottom: 1px solid #e1e1e1;
	padding-top: 15px;
}
#home_trips .side .single.last {
	border: none;
}
#home_trips .side .paging {
	position: absolute;
	top: 27px;
	right: 10px;
}
#home_trips .side .paging p {
	color: #303030;
	font-size: 12px;
	float: left;
	margin: 10px 10px 0 0;
}
#home_trips .side .paging p span{
	color: #898989;
}
#home_trips .side .paging a {
	display: block;
	width: 11px;
	height: 18px;
	background: url(https://developer.tripfab.com/images6/home_arrows.png) no-repeat;
	float: left;
	margin-top: 10px;
}
#home_trips .side .paging > div {
	background: url(https://developer.tripfab.com/images6/home_arrows.png) no-repeat right top;
	height: 37px;
	float: left;
	padding-right: 10px;
	margin-right: 10px;
}
#home_trips .side .paging .prev{
	background-position: 0 0;
}
#home_trips .side .paging .prev:hover{
	background-position: 0 -26px;
}
#home_trips .side .paging .next{
	background-position: -33px 0;
}
#home_trips .side .paging .next:hover{
	background-position: -33px -26px;
}
#home_trips .side .single img {
	float: left;
	margin: 0 13px 0 0;
	display: block;
}
#home_trips .side .single .info {
	float: left;
	width: 220px;
	position: relative;
}
#home_trips .side .single h6 {
	font: normal 16px Helvetica;
	margin: 5px 0;
}
#home_trips .side .single .meta{
	color: #898989;
	display: block;
    margin-bottom: 15px;
}
#home_trips .side .single .meta em {
	display: block;
	width: 10px;
	height: 10px;
	background: url(https://developer.tripfab.com/images6/home_icons.png) no-repeat -35px -95px ;
	float: left;
	margin: 2px 6px 0 0;
}
#home_trips .side .prices {
    color: #303030;
}
#home_trips .side .prices span {
	font: bold 24px Helvetica;
	height: 30px;
}
#home_trips .side .prices sub{
	font-size: 11px;
}
#home_trips .side .prices sup{
	vertical-align: top;
	font:bold 14px Helvetica;
	margin-top: 2px;
}
#home_trips .side .edit {
	color: #60B5F7;
	padding-left: 15px;
	font: bold 11px Helvetica;
	background: url(https://developer.tripfab.com/images6/home_icons.png) no-repeat -69px -94px ;
	position: absolute;
	bottom: 0;
	right: 0;
}











#wrapper-top .bottom .singUp a.btn-1:hover {
	-webkit-box-shadow: 0px 1px 1px 0px #000;
	-moz-box-shadow: 0px 1px 1px 0px #000;
	box-shadow: 0px 1px 1px 0px #000;
}
#popular-cities {
	padding-bottom: 20px;
}
#popular-cities h5 {
	font: bold 13px/50px Helvetica;
	height: 50px;
}
#popular-cities .all {
	overflow: hidden;
}
#popular-cities ul {
	float: left;
	width: 150px;
	padding-right: 10px;
	list-style: none;
}
#popular-cities ul li {
	margin-bottom: 8px;
}
#popular-cities ul li a {
	color: #60b5f7;
	font: normal 13px Helvetica;
}
#popular-cities ul li a:hover {
	color: #9bd2fc;
}
.more_info {
	background-color: #e3e3e3;
	margin-bottom: -30px;
	padding: 16px 0 54px 0;
}
.more_info .video {
	width: 243px;
	float: left;
	height: 67px;
	overflow: hidden;
	background: url(https://developer.tripfab.com/images2/home-sep4.png) no-repeat right 50%;
	background-color: #303030;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; 
}
.more_info .video p {
	color: #FFF;
	padding-top: 10px;
}
.more_info .video p strong {
	display: block;
}
.more_info .video a{
	background:url(https://developer.tripfab.com/images2/home-video.png) no-repeat 0 0;
	display: block;
	width: 95px;
	height: 55px;
	float: left;
	text-align: left;
	margin: 5px 12px 0 6px;
}







#newsletter {
	width: 956px;
	margin: 0 auto;
	overflow: hidden;
	
}
#newsletter .cont {
	background: url(https://developer.tripfab.com/images2/home-map.gif) no-repeat 6px 50%;
	overflow: hidden;
	width: 690px;
	float: right;
	height: 67px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
	-webkit-box-shadow: 1px 1px 0px #DDD;
	-moz-box-shadow: 1px 1px 0px #DDD;
	box-shadow: 1px 1px 0px #DDD;
	position: relative;
	background-color: #FFF;
	z-index: 0 !important;
	behavior: url(PIE.htc);
}
#newsletter .cont p {
	font: normal 12px/16px Helvetica;
	color: #303030;
	height:67px;
	padding:16px 0 0 120px;
	float: left;
	margin-right: 20px;
}
#newsletter .cont p strong {
	display: block;
}
#newsletter section {
	float: left;
	width: 390px;
	height: 67px;
	overflow: hidden;
}
#newsletter input[type="text"] {
	width: 160px;
	display: block;
	padding: 0 10px 0 40px;
	background: url(https://developer.tripfab.com/images2/home-icon2.png) no-repeat 10px 50% #FFF;
	height: 32px;
	margin: 15px 0 0 0;
	float: left;
	color: #898989;
	font: normal 14px/32px Helvetica;
	-webkit-box-shadow: inset 0px 1px 2px 0px #DDD;
	-moz-box-shadow: inset 0px 1px 2px 0px #DDD;
	box-shadow: inset 0px 1px 2px 0px #DDD; 
	behavior: url(PIE.htc);;
	z-index: 1000 !important;
}
#newsletter input.btn-1 {
	float: left;
	height: 34px;
	font: bold 14px/34px Helvetica;
	margin: 15px 0 0 10px;
	padding: 0 10px;
	behavior: url(PIE.htc);
}
#newsletter .sent {
	font: 14px/67px Helvetica;
	color: #303030;
	text-align: center;
}
#newsletter .sent a{
	color: #60b5f7;
	font-weight: bold;
}
#newsletter .sent a:hover {
	color: #9bd2fc;
}
#footer {
	height: 88px;
	background:url(https://developer.tripfab.com/images2/home-sep5.png) no-repeat center top #2a2a2a;
	margin-top: 30px;
}
#footer .wrap {
	position: relative;
}
#footer .flag {
	background: url(https://developer.tripfab.com/images2/home-flag.png) no-repeat;
	width: 108px;
	height: 3px;
	display: block;
	position: absolute;
	top: -3px;
	left: 427px ;
}
#footer p {
	color: #c2c2c2;
	width: 390px;
	float: left;
	background: url(https://developer.tripfab.com/images2/home-logo2.png) no-repeat left top;
	padding-left: 50px;
	margin-top: 30px;
	height: 50px;
	font: normal 11px Helvetica;
}
#footer p strong {
	display: block;
	font-size: 12px;
	margin-bottom: 5px;
}
#footer ul {
	float: right;
	margin: 36px 0 0 0;
}
#footer ul li {
	float: left;
	list-style: none;
	margin-left: 15px;
}
#footer ul li a {
	color: #c2c2c2;
	font: bold 11px Helvetica;
}
#footer ul li a:hover {
	color: #ffffff;
}

#home2 .dd {
	background-color: #FFFFFF;
	border: 1px solid #CDCDCD;
	position: absolute;
	display: none;
	right: -28px;
	top: 53px;
	width: 231px;
	z-index: 10;
	-webkit-box-shadow: 0px 0px 3px 0px ;
	-moz-box-shadow: 0px 0px 3px 0px ;
	box-shadow: 0px 0px 3px 0px ;
	behavior: url(PIE.htc);
}
#home2  .dd.show {
	display: block;
}

#home2  .dd img.arrow {
	position: absolute;
	right: 25px;
	top: -7px;
}
#home2  .dd-content {	
	padding: 14px 10px 5px;
	overflow: hidden;
}
 .dd-content img {
	float: left;
	margin-right: 18px;
}
.dd-footer {
	background: url(https://developer.tripfab.com/images2/g-3.png) repeat-x scroll 0 0 #FFFFFF;
	border-top: 1px solid #E8E8E8;
	line-height: 40px;
	text-align: right;
	font-weight: bold;
	font-size: 11px;
	padding: 0 18px;
	overflow: hidden;
}
.dd.login input[type="text"],
.dd.login input[type="password"] {
	width: 171px;
	margin-bottom: 10px;
	padding-right: 30px;
	height: 27px;
	line-height: 27px;
}
 .dd.login .dd-footer {
	text-align: center;
}
 .dd.login .dd-footer a {
	color: #60b5f7;
	font-size: 11px;
	font-weight: normal;
	float: none;
}
 .dd.login .dd-footer a:hover {
	text-decoration: underline;
}
 .dd.login .facebook {
	text-align: center;
	padding: 10px 0;
}
 .dd.login .facebook a {
 	display: block;
 	background: url(https://developer.tripfab.com/images2/home-icon3.png) top left no-repeat;
 	width: 181px;
 	height: 26px;
 	margin: 0 auto;
 }
  .dd.login .facebook a:hover {
  	background-position: bottom left;
  }
 .dd.login label {
	color: #616161;
	font-size: 11px;
	line-height: 25px;
	float: left;
}
 .dd.login input[type="submit"] {
	border: none;
	float: right;
	height: 25px;
	font: bold 12px/25px Helvetica;
	behavior: url(PIE.htc); 
}
 .dd.login input.in-2 {
	background: url(https://developer.tripfab.com/images2/ico-36.png) no-repeat scroll 97% 50% transparent;
}
 .dd.login input.in-3 {
	background: url(https://developer.tripfab.com/images2/ico-37.png) no-repeat scroll 97% 50% transparent;
}
 .dd.login p.link {
 	border-top: 1px solid #e8e8e8;
 	overflow: hidden;
 	margin: 0 18px;
 	padding: 5px 0;
 }
  .dd.login p.link a {
  	display: block;
  	font: normal 11px/15px Helvetica;
  	color: #60b5f7;
}
.dd.login p.link a:hover {
	color: #9BD2FC;
}




.dd .dd-content {	
	padding: 14px 18px;
	overflow: hidden;
}

#wrapper-top .dd .dd-content img {
	float: left;
	margin-right: 18px;
	position: static;
}

#wrapper-top .dd .dd-content ul {
	float: left;
	list-style: none;
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
}

#wrapper-top .dd .dd-content ul a {
	color: #303030;
	font-size: 12px;
	line-height: 20px;
	text-shadow: none;
	float: left;
}

.dd .dd-content ul a:hover, .dd.login .dd-footer a:hover {
	color: #60b5f7;
	text-decoration: none;
}
#wrapper-top .dd .dd-footer .facebook {
	overflow: hidden;
}
#wrapper-top .dd .dd-footer .facebook  a{
	display: block;
}
#wrapper-top .dd .dd-footer a + a {
    float: right;
}
#wrapper-top .dd .dd-footer a {
    color: #303030;
    float: left;
    font-size: 12px;
    line-height: 40px;
    text-shadow: none;
}
#wrapper-top .dd .dd-content ul a:hover, #wrapper-top .dd .dd-footer a:hover {
    color: #60B5F7;
    text-decoration: none;
}
#wrapper-top .dd .dd-content ul a:hover, #wrapper-top .dd .dd-footer a:hover {
    color: #60B5F7;
    text-decoration: none;
}
#wrapper-top .dd .dd-footer a + a:hover {
    color: #F26522;
}
 .hidden {
 	display:none;
 }

/*END NEW HOME-------------------------------------------------------------*/











































































