/*- SECTION 1 ------------------------------------------------------------------------------------*/
/*- BROWSE ITINERARIES---------------------------------------------*/
.sub_header.bi_header {
	background-color: #FFF;
	border-bottom: 1px solid #dadada;
	height: 76px;
	margin-bottom: 13px;
}
.sub_header.bi_header .wrap {
	width: 960px;
	margin: 0 auto;
	background: url(../images/browse-itineraries.png) no-repeat -1006px 0;
	height: 77px;
}
.sub_header.bi_header .wrap h2{
	margin-left: 215px;
	padding: 20px 0 8px;
	font: bold 17px Helvetica;
	color: #303030;
}
.sub_header.bi_header .wrap h3 {
	font: normal 14px Helvetica;
	margin-left: 215px;
}
.browse-itineraries .search_filter {
	width: 960px;
	height: 54px;
	background-color: #e1e1e1;
	border: 1px solid #d4d4d4;
	margin: 0 auto;
	box-shadow: 0px 3px 5px #444;
	-webkit-box-shadow: 0px 1px 0px 0px #fff;
	-moz-box-shadow: 0px 1px 0px 0px #fff;
	box-shadow: 0px 1px 0px 0px #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior: url(/PIE.htc);
}
.browse-itineraries .search_filter .label {
	background: url(../images/browse-itineraries.png) no-repeat;
	background-position: -62px 0; 
	width: 182px; 
	height: 26px;
	display: block;
	color: #FFF;
	margin: 15px 20px 0 -1px;
	font: bold 12px/26px Helvetica;
	float: left;
	text-indent: 15px; 
	text-shadow: 0px 1px 0px #000000;
	filter: dropshadow(color=#000000, offx=0, offy=1);

}
.browse-itineraries .search_filter .single {
	float: left;
	width: 184px;
	padding: 20px 0 0 0 ;
	margin-right: 5px;
}
.browse-itineraries .search_filter .single.last {
	background: url(../images/browse-itineraries.png) no-repeat;
	background-position: -754px -23px;
	padding-left: 20px;
	height: 32px;
	width: 150px;
	float: right;
	margin-right: 0; 
} 
.browse-itineraries .search_filter label{
	color: #464646;
	text-transform: uppercase;
	font: bold 10px Helvetica;
	margin-right: 10px;
	display: inline-block;
}
.browse-itineraries .itineraries {
	width: 960px;
	margin: 17px auto 0;
}
.browse-itineraries .itineraries .content {
	width: 770px;
	float: left;
}
.browse-itineraries .search_item {
	width: 753px;
	height: 183px;
	background-color: #FFF;
	padding: 17px 0 0 19px;
	margin-bottom: 20px;
	position: relative;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 2px 0px #cbcbcb;
	-moz-box-shadow: 0px 1px 2px 0px #cbcbcb;
	box-shadow: 0px 1px 2px 0px #cbcbcb; 
	behavior: url(/PIE.htc);
}
.browse-itineraries .search_item .photo{
	width: 200px;
	height: 164px;
	float: left;
	overflow: hidden;
	margin-right: 20px;
}
.browse-itineraries .info {
	float: left;
	width: 358px;
	margin-right: 13px;
}
.browse-itineraries .info h2 {
	border-bottom: 1px solid #e3e3e3;
	height: 25px;
	margin-bottom: 15px;
}
.browse-itineraries .info h2 a {
	color: #252525;
	background: url(../images/browse-itineraries.png) no-repeat -151px -34px;
	padding-left: 20px;
	display: block;
	font: bold 14px/16px Helvetica;
	height: 16px;
}
.browse-itineraries .info h2 a:hover {
	color: #60b5f7;
	background-position: -151px -59px;
}
.browse-itineraries .info .location {
	padding-left: 15px;
	margin-bottom: 9px;
	font: normal 11px Helvetica;
	color: #898989;
	background: url(../images/browse-itineraries.png) no-repeat -448px 0; 
}
.browse-itineraries .info .location span {
	color: #898989; 
}
.browse-itineraries .info .location strong {
	color: #60b5f7;
}
.browse-itineraries .info > p {
	font: normal 12px/17px Helvetica;
	color: #303030;
	padding-bottom: 9px;
	border-bottom: 1px solid #E3E3E3;
	margin-bottom: 11px;
} 
.browse-itineraries .info table {
	font-size: 11px;
	color: #303030;
}
.browse-itineraries .info table .result {
	font-weight: bold;
}
.browse-itineraries .search_item .meta {
	float: left;
	width: 142px;
	height: 113px;
	margin-top: 29px;
	background-color: #efefef;
	padding-top: 24px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	behavior: url(/PIE.htc);
	
}
.browse-itineraries .meta span{
	font: bold 32px Helvetica;
	text-shadow: 0px 1px 0px #FFF;
	margin:0 0 5px 21px;
	display: block;
	filter: dropshadow(color=#FFF, offx=0, offy=1); 
} 
.browse-itineraries .meta span sub {
	font-size: 18px;
	vertical-align:top;
}
.browse-itineraries .meta em {
	display: block;
	font: normal 14px Helvetica;
	color: #303030;
	margin-left: 20px;
	text-shadow: 0px 1px 0px #FFF;
	filter: dropshadow(color=#FFF, offx=0, offy=1); 
}
.browse-itineraries .meta .btn-1 {
	width: 110px;
	padding:0;
	margin: 0;
	position: absolute;
	bottom: 11px;
    left: 16px;
}
.browse-itineraries .search_item .label_days {
	display: block;
	background: url(../images/browse-itineraries.png) no-repeat -294px 0;
	width: 84px;
	height: 18px;
	color: #FFF;
	position: absolute;
	right: 0;
	top: 17px;
	text-align: right;
	text-transform: uppercase;
	font:normal 11px/18px Helvetica;
	padding-right: 20px;
} 
.browse-itineraries .itineraries .sidebar {
	float: right;
	width: 154px;
	background: url(../images/sb.png) repeat-y left top;
	padding: 0 0 15px 15px;
}
.browse-itineraries .itineraries .sidebar h3 {
	color: #303030;
	background: url(../images/browse-itineraries.png) no-repeat 0 -63px;
	padding-left: 20px;
	font: normal 12px/14px Helvetica;
	text-transform: uppercase;
	margin-bottom: 13px;
	width: 125px;
}
.browse-itineraries .itineraries .sidebar ul li {
	margin-bottom: 6px;
}
.browse-itineraries .itineraries .sidebar a {
	color: #60b5f7;
}
.browse-itineraries .itineraries .sidebar a:hover {
	color: #9bd2fc;
}
/*- END BROWSE ITINERARIES-----------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*LISTING DETAILS--------------------------------------------------*/
.bg_wh {
	background-color: #FFF;
	background: url(../images/lst_bg.png) repeat-x 0 54px #FFF;
}
.lstng_dflt {
	width: 960px;
	margin: 0 auto;	
}
.lstng_dflt .top {
	height: 316px;
}
.lstng_dflt .top .cntrl {
	height: 18px;
	border-bottom: 1px solid #ebebeb;
	padding-top: 22px;
}
.lstng_dflt .top .cntrl .breadcrump {
	float: left;
}
.lstng_dflt .top .cntrl .breadcrump li {
	float: left;
	background: url(../images/slash.png) no-repeat right 50%;
	padding-left: 12px;
	padding-right: 16px;
	font: normal 11px Helvetica;
}
.lstng_dflt .top .cntrl .breadcrump li a {
	color: #959595;
}
.lstng_dflt .top .cntrl .breadcrump li a:hover {
	color: #60b5f7;
}
.lstng_dflt .top .cntrl .breadcrump li a.active {
	color: #60b5f7;
}
.lstng_dflt .top .cntrl .breadcrump .home {
	display: block;
	background: url(../images/icons-llt.png) no-repeat -346px -5px;
	width: 14px;
	height: 11px;
}
.lstng_dflt .top .cntrl .breadcrump .first {
	padding-left: 0;
	padding-right: 14px;
}
.lstng_dflt .top .cntrl .breadcrump li.last {
	background: none;
}
.lstng_dflt .top .cntrl .link1 { 
	float: right;
	display: block;
	font-size: 11px;
}
.lstng_dflt .top .description {
	padding-top: 30px;
}
.lstng_dflt .top .description .slideshow {
	width: 298px;
	height: 212px;
	overflow: hidden;
	float: left;
}
.lstng_dflt .top .description .info {
	width: 633px;
	float: right;
	position: relative;
}
.lstng_dflt .top .info h2{
	color: #303030;
	font: normal 26px Helvetica;
	margin: 9px 0 7px;
}
.lstng_dflt .top .info .location {
	font:normal 13px Helvetica;
	color: #303030;
	display: block;
	height: 32px;
}
.lstng_dflt .top .info .location em{
	background: url(../images/icons-llt.png) no-repeat -311px -6px;
	display: block;
	width: 8px;
	height: 12px;
	float: left;
	margin: 5px 5px 0 3px;
}
.lstng_dflt .top .info .location img {
	margin: 2px 0 0 2px;
}
.lstng_dflt .top .info .text {
	border-top: 1px solid #f2f1f1;
	padding-top: 13px;
	margin:0 0 13px;
}
.lstng_dflt .top .rating {
	overflow: hidden;
	float: left;
	width: 103px;
}
.lstng_dflt .top .rating li {
	float: left;
}
.lstng_dflt .top .rating li a {
	display: block;
	background: url(../images/stars.png) no-repeat;
	width: 15px;
	height: 15px;
	margin-right: 3px;
}
.lstng_dflt .top .rating .slct {
	background-position:0 0;
}
.lstng_dflt .top .rating .slct:hover {
	background-position: -29px 0;
}
.lstng_dflt .top .rating .nrml {
	background-position: -58px 0;
}
.lstng_dflt .top .rating .nrml:hover {
	background-position: -87px 0;
}
.lstng_dflt .top .text p {
	float: left;
	width: 495px;
	font: normal 13px/20px Helvetica;
	color: #303030;
}
.lstng_dflt .top .btn-1 {
	position: absolute;
	width: 131px;
	padding: 0;
	font-size: 13px;
	top: 20px;
	right: 0;
}
.lstng_dflt .top .btn-1 span{
	background: url(../images/icons-llt.png) no-repeat -380px -6px;
	display: block;
	width: 10px;
	height: 9px;
	float: left;
	margin:10px 0 0 7px;
}
.lstng_dflt .top .photos {
	overflow: hidden;
	position: relative;
}
.lstng_dflt .top .photos > a {
	background: url(../images/arrows.png) no-repeat;
	display: block;
	height: 25px;
	width: 13px;
	position: absolute;
	top: 23px;
}
.lstng_dflt .top .photos .lf-arrow {
	background-position: -6px -6px;
	left: 0;
}
.lstng_dflt .top .photos .lf-arrow:hover{
	background-position: -36px -6px;
}
.lstng_dflt .top .photos .rg-arrow {
	background-position: -70px -6px;
	right: 0;
}
.lstng_dflt .top .photos .rg-arrow:hover{
	background-position: -97px -6px;
}
.lstng_dflt .top .photos .imgs{
	width: 585px;
	margin: 0 auto;
	overflow: hidden;
}
.lstng_dflt .top .photos .imgs a {
	display: block;
	float: left;
	background-color: #000;
	width: 65px;
	height: 65px;
	overflow: hidden;
}
.lstng_dflt .top .photos .single {
	width: 585px;
	height: 65px;
	overflow: hidden;
}
.lstng_dflt .top .photos img {
	background-color: #000;
	opacity: 0.5;
}
.lstng_dflt .top .photos .imgs a.active {
	border: 3px solid #60b5f7;
	width: 59px;
	height: 59px;
}
.lstng_dflt .top .photos .imgs a.active img {
	opacity: 1;
}
.lstng_dflt .top .photos img:hover {
	opacity: 1;
}

.lstng_dflt .container .sidebar {
	width: 295px;
	float: left;
	margin-top: 22px;
}
.lstng_dflt .container .sidebar .map{
	background: url(../images/shadows.png) no-repeat center bottom ;
	height: 162px;
	width: 295px;
	margin-bottom: 3px;
}
.lstng_dflt .container .map .cont {
	width: 290px;
	height: 141px;
	padding: 5px 0 0 5px;
	-webkit-box-shadow: 0px 0px 2px 0px #dbdbdb;
	-moz-box-shadow: 0px 0px 2px 0px #dbdbdb;
	box-shadow: 0px 0px 2px 0px #dbdbdb;  
	behavior: url(/PIE.htc);
	background-color: #FFF;
}
.lstng_dflt .map .map_canvas {
	width: 285px;
	height: 136px;
	overflow: hidden;
	background-color: #e4e4e4;
}
.lstng_dflt .container .location {
	border-bottom: 2px solid #ececec;
	padding-bottom: 9px;
}
.lstng_dflt .container .location .country {
	float: left;
	margin:5px 10px 0 0;
}
.lstng_dflt .container .location p {
	font: normal 12px/20px Helvetica;
	color: #303030;
}
.lstng_dflt .container .location strong {
	display: block;
}
.lstng_dflt .container .social {
	border-bottom: 2px solid #ececec;
	padding: 9px 0 6px;
	margin-bottom: 14px;
}
.lstng_dflt .container .social a{
	display: block;
	background: url(../images/social.png) no-repeat;
	height: 34px;
}
.lstng_dflt .container .social .fb{
	width: 139px;
	background-position: -13px -12px;
	float: left;
}
.lstng_dflt .container .social .fb:hover {
	background-position:-13px -65px;
}
.lstng_dflt .container .social .fb:active {
	background-position:-13px -116px;
}

.lstng_dflt .container .social .tw{
	width: 143px;
	background-position: -165px -12px;
	float: right;
}
.lstng_dflt .container .social .tw:hover {
	background-position:-165px -65px;
}
.lstng_dflt .container .social .tw:active {
	background-position:-165px -116px;
}
.lstng_dflt .container .social li {
	margin-bottom: 5px;
}
.lstng_dflt .container .contact {
	padding-bottom: 20px;
}
.lstng_dflt .container .contact ul {
	margin-bottom: 17px;
	margin-left: 3px;
}
.lstng_dflt .container .contact li {
	margin-bottom: 6px;
}


.lstng_dflt .container .content {
	width: 632px;
	float: right;
}
.lstng_dflt .container .payment_optn {
	font: bold 12px/39px Helvetica;
    height: 44px;
    margin: 3px 0 25px;
}
.lstng_dflt .container .payment_optn h3 {
	padding:3px 0 0 23px;
	width: 120px;
	float: left;
}
.lstng_dflt .container .payment_optn ul {
	float: left;
	overflow: hidden;
	height: 30px;
	margin-top: 9px;
}
.lstng_dflt .container .payment_optn ul li {
	float: left;
	margin-right: 7px;
	height: 30px;
}
.lstng_dflt .container .descrip {
	font: bold 12px/18px Helvetica;
	color: #303030;
	border-left: 1px solid #ececec;
	padding-left: 36px;
	padding-bottom: 27px;
}
.lstng_dflt .container .amenities {
	color: #303030;
	border-left: 1px solid #ececec;
	padding:0 0 30px 36px;
	width: 409px;
	float: left;
}
.lstng_dflt .amenities .type {
	border-top: 1px solid #ececec;
	padding: 14px 0 0px;
}
.lstng_dflt .amenities .type.first {
	padding: 20px 0 3px;
}
.lstng_dflt .amenities .type h4 {
	float: left;
	font-size: 12px;
	width: 123px;
}
.lstng_dflt .amenities .type h4 span {
	display: block;
	background: url(../images/icons-llt.png) no-repeat;
	float: left;
}
.lstng_dflt .amenities .type .services {
	background-position: -213px -5px;
	width: 11px;
	height: 13px;
	margin-right: 12px;
}
.lstng_dflt .amenities .type .specialties {
	background-position: -109px -5px;
	width: 10px;
	height: 13px;
	margin-right: 13px;
}
.lstng_dflt .amenities .type .food {
	background-position: -161px -5px;
	width: 15px;
	height: 14px;
	margin-right: 8px;
}
.lstng_dflt .amenities .type .parking {
	background-position: -57px -5px;
	width: 19px;
	height: 14px;
	margin-right: 4px;
}
.lstng_dflt .amenities .type .attire {
	background-position: -5px -3px;
	width: 15px;
	height: 13px;
	margin-right: 8px;
}
.lstng_dflt .amenities .type ul.first {
	float: left;
	width: 163px;
}
.lstng_dflt .amenities .type ul li {
	margin-bottom: 4px;
}
.lstng_dflt .schedule {
	float: right;
	width: 169px;
	background-color: #f5f5f5;
	position: relative;
}
.lstng_dflt .schedule h5 {
	padding-left: 10px;
	height: 44px;
	background: url(../images/lstng_dflt_2.png) repeat-x left bottom;
	font: bold 12px/42px Helvetica;
}
.lstng_dflt .schedule h5 span {
	display: block;
	background: url(../images/icons-llt.png) no-repeat -262px -5px;
	width: 15px;
	height: 15px;
	float: left;
	margin: 13px 7px 0 8px;
}
.lstng_dflt .schedule ul {
	padding:10px 0 0 20px;
}
.lstng_dflt .schedule ul li {
	margin-bottom: 15px;
}
.lstng_dflt .schedule ul li.ttl {
	margin-bottom: 4px;
	font-weight: bold;
}
.lstng_dflt .schedule .open {
	background: url(../images/status.png) no-repeat top left;
	width: 60px;
	height: 28px;
	display: block;
	position: absolute;
	right: 14px;
	    top: 6px;
}
.lstng_dflt .schedule .closed {
	background: url(../images/status.png) no-repeat bottom left;
	width: 63px;
	height: 28px;
	display: block;
	position: absolute;
	right: 14px;
    top: 6px;
}
.slideshow img {
	display: none;
}
.slideshow img.show {
	display: block !important;
	z-index: 100 !important;
}
/*- END LISTINGS DETAILS-------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*- LISTINGS SEARCH RESULT-----------------------------------------*/
#src_map {
	background-color: #FFF;
	border-bottom: 1px solid #e8e8e8;
}
#src_map .cont {
	width: 960px;
	margin: 0 auto;
	padding: 13px 0;
}
#src_map .top {
	background-color: #f5f5f5;
	border: 1px solid #e5e5e5;
	border-bottom: none;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
}
#src_map .top .ttl {
	width: 450px;
	float: left;
}
#src_map .top .ttl > img {
	float: left;
	margin: 11px 10px 0 14px;
}
#src_map .top .ttl h2 {
	color: #303030;
	font: normal 15px Helvetica;
	margin: 10px 0 7px 0;
}
#src_map .top .ttl a {
	margin-right: 10px;
	font-size: 11px;
}
#src_map .top .src_bar {
	float: right;
	width: 480px;
	padding-top: 13px;
}
#src_map .top .src_bar input[type="text"] {
	width: 340px;
	height: 31px;
	padding-left: 37px;
	float: left;
	font: italic 14px/31px Helvetica;
	color: #797777;
	-webkit-box-shadow: 0px 1px 0px 0px #FFF;
	-moz-box-shadow: 0px 1px 0px 0px #FFF;
	box-shadow: 0px 1px 0px 0px #FFF;
	background: url(../images/src_result-icons.png) no-repeat -4px -187px #FFF;
	margin-right: 5px;
}
#src_map .top .src_bar input[type="submit"] {
	width: 83px;
	height: 31px;
	font: bold 14px/31px Helvetica;
}
#src_map .map {
	height: 10px;
	border-radius: 0px 0px 4px 4px;
	background-color: #f5f5f5;
	border: 1px solid #e5e5e5;
	border-top: none;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px; 
}
/*End top*/
/*Search result*/
#src_rslt {
	width: 960px;
	margin: 0 auto;
}
#src_rslt .sidebar{
	width: 188px;
	float: left;
}
#src_rslt .sidebar .cont {
	background-color: #1c1c1c;
	/*Sidebar black don't remove*/
	margin-left: -10000px;
	padding-left: 10000px;
}
#src_rslt .sidebar .cont > ul > li {
	background: url(../images/src_result-sep1.png) repeat-x left bottom;
	position: relative;
}
#src_rslt .sidebar .cont > ul > li > a{
	color: #FFF;
	font: bold 12px/38px Helvetica;
	background: url(../images/src_result-icons.png) no-repeat;
	padding-left: 40px;
	height: 38px;
	display: block;
	width: 130px;
}
#src_rslt .sidebar .cont > ul > li > a.hotels {
	background-position:  -93px 11px;
}
#src_rslt .sidebar .cont > ul > li > a.hotels:hover {
	background-position: -93px -275px;
}

#src_rslt .sidebar .cont > ul > li > a.activities {
	background-position:  -93px -45px;
}
#src_rslt .sidebar .cont > ul > li > a.activities:hover {
	background-position: -93px -331px;
}
#src_rslt .sidebar .cont > ul > li > a.restaurants {
	background-position:  -93px -103px;
}
#src_rslt .sidebar .cont > ul > li > a.restaurants:hover {
	background-position:  -93px -389px;
}
#src_rslt .sidebar .cont > ul > li > a.entertaiment {
	background-position:  -93px -161px;
}
#src_rslt .sidebar .cont > ul > li > a.entertaiment:hover {
	background-position:  -93px -447px;
}
#src_rslt .sidebar .cont > ul > li > a.sights {
	background-position:  -93px 11px;
}
#src_rslt .sidebar .cont > ul > li > a.sights:hover {
	background-position:  -93px -503px;
}
#src_rslt .sidebar .cont ul ul {
	background-color: #202020;
	padding: 0 15px;
}
#src_rslt .sidebar .cont ul ul li {
	background: url(../images/src_result-sep1.png) repeat-x left bottom;
	height: 30px;
}
#src_rslt .sidebar .cont ul ul li:hover {
	background-color: #272727;
}
#src_rslt .sidebar .cont ul ul li a{
	color: #a4a4a4;
	font: normal 11px/30px Helvetica;
}
#src_rslt .sidebar .cont .show_more {
	text-align: center;
	display: block;
}




#src_rslt .sidebar .cont > ul > li > .count {
	position: absolute;
	top: 8px;
	right: 12px;
	color: #898989;
	text-shadow: 0px 1px 0px #000;
	font-size: 11px;
}
#src_rslt .content {
	width: 770px;
	float: left;
}


/*End Search result*/



/*- END LISTINGS SEARCH RESULT-------------------------------------*/














/*- END SECTION 1---------------------------------------------------------------------------------*/