RewriteEngine on
RewriteCond ${LeechProtect:/home/cristia6/public_html:%{REMOTE_USER}:%{REMOTE_ADDR}:3} leech
RewriteRule .* /
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

ExpiresActive on
ExpiresByType text/css "access plus 8 days"
ExpiresByType application/x-shockwave-flash "access plus 8 days"
ExpiresByType image/jpeg "access plus 8 days"
ExpiresByType image/png "access plus 8 days"
ExpiresByType image/gif "access plus 8 days"

# compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE image/gif
AddOutputFilterByType DEFLATE image/jpeg
AddOutputFilterByType DEFLATE image/png
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE application/json


#AuthUserFile /var/www/html/d3E3v8E3l5O6p7E7r3/.htpasswd
#AuthGroupFile /dev/null
#AuthName "Password Protected Area"
#AuthType Basic

