/*NEW HOME-----------------------------------------------------------------*/
#home #searchResultsAutoComplete .ui-autocomplete {
	left: 21px !important;
	position: absolute;
}
#home #main{
	background: url(https://static.tripfab.com/images6/HomePic1.jpg) repeat-x center top;
	height: 500px;
	position: relative;
}
#home #main .wrap {
	width: 960px;
	margin: 0 auto;
	padding-top: 70px;
	height: 430px;
	position: relative;
}
#home #main h2 {
	font: 300 44px Helvetica;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	color: #FFF;
	text-shadow: 0 1px 0 #000;
	margin-bottom: 35px;
}
#home #main .steps {
	margin-bottom: 45px;
}
#home #main .steps h3 {
	color: #a5a2a2;
	font: 100 17px/24px Helvetica;
}
#home #main .steps > div {
	text-align: center;
}
#home #main .steps .first {
	width: 288px;
	float: left;
	background: url(https://static.tripfab.com/images6/HomeAw1.png) no-repeat right 50%;
}
#home #main .steps .mid {
	width: 310px;
	margin-left: 20px;
	float: left;
}
#home #main .steps .last {
	width: 240px;
	padding-left: 60px;
	float: left;
	background: url(https://static.tripfab.com/images6/HomeAw1.png) no-repeat 22px 50%;
}
#home #main #search {
	width: 688px;
	margin: 0 auto;
	position: relative;
}
#home #main #search .box {
	background: url(https://static.tripfab.com/images6/HomeSearch.png) no-repeat 0 0;
	width: 688px;
	height: 51px;
}
#home #main #search input[type="text"]{
	width: 570px;
	height: 51px;
	color: #7b7b7b;
	font: normal 14px/51px Helvetica;
	border: none;
	background: none;
	padding-left: 30px;
}
#home #main #search input[type="text"]:hover,
#home #main #search input[type="text"]:focus {
	box-shadow: none !important;
}
#home #main .btn {
	position: absolute;
	bottom: 0;
	left: 182px;
}
#home #main .btn .label {
	display: block;
	text-indent: -99999px;
	background: url(https://static.tripfab.com/images6/HomeSprite.png) no-repeat 0 0;
	width: 235px;
	height: 30px;
	position: absolute;
	left: 0;
	top: 0;
}
#home #main .btn a {
	display: block;
	background: url(https://static.tripfab.com/images6/HomeBlueBtn.png) repeat-x 0 0;
	-webkit-border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	color: #FFF;
	font: 100 17px/45px Helvetica;
	height: 45px;
	width: 181px;
	text-align: center;
	margin-left: 200px;
}
#home #featured {
	background: url(https://static.tripfab.com/images6/HomeTabsBG.gif) repeat-x 0 0 #f1f1f1;
	height: 425px;
}
#home #featured .tabs {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
#home #featured .tabs ul{
	height: 76px;
	position: absolute;
	left: 226px;
}
#home #featured .tabs ul li {
	float: left;
	width: 156px;
}
#home #featured .tabs ul li a{
	color: #898989;
	font: normal 13px/76px Helvetica;
	width: 156px;
	height: 76px;
	display: block;
}
#home #featured .tabs ul li:hover a {
	color: #303030;
}
#home #featured .tabs ul li.ui-state-active a{
	background: url(https://static.tripfab.com/images6/HomeSprite.png) no-repeat -243px -58px;
	color: #303030;
}
#home #featured .tabs ul li em {
	display: block;
	float: left;
	width: 21px;
	height: 16px;
	background: url(https://static.tripfab.com/images6/HomeSprite.png) no-repeat 0 0;
	margin: 29px 5px 0 16px;
}
#home #featured .tabs ul li .i1 {
	background-position: -4px -179px;
}
#home #featured .tabs ul li:hover .i1,
#home #featured .tabs ul li.ui-state-active .i1 {
	background-position: -4px -147px;
	margin: 29px 5px 0 16px;
}
#home #featured .tabs ul li .i2 {
	background-position: -4px -243px;
	margin: 29px 2px 0 8px;
}
#home #featured .tabs ul li:hover .i2,
#home #featured .tabs ul li.ui-state-active .i2 {
	background-position: -4px -210px;
	margin: 29px 2px 0 8px;
}
#home #featured .tabs ul li .i3 {
	background-position: -4px -307px;
	margin:29px 6px 0 18px;
}
#home #featured .tabs ul li:hover .i3,
#home #featured .tabs ul li.ui-state-active .i3 {
	background-position: -4px -275px;
	margin:29px 6px 0 18px;
}
#home #featured .tabs > div {
	padding-top: 90px;
}
#home #featured .single {
	width: 223px;
	height: 297px;
	background-color: #FFF;
	position: relative;
	margin-right: 23px;
	-moz-box-shadow: 0px 0px 3px 0px rgba(189, 189, 189, 0.7);
	-webkit-box-shadow: 0px 0px 3px 0px rgba(189, 189, 189, 0.7);
	box-shadow: 0px 0px 3px 0px rgba(189, 189, 189, 0.7); 
	margin-right: 22px;
	float: left;
}
#home #featured .single.last {
	margin: 0;
}
#home #featured .single a{
	width: 223px;
	height: 152px;
	display: block;
}
#home #featured .single h5 {
	font: 100 16px/18px Helvetica;
	margin-bottom: 8px;
	color: #303030;
	padding: 27px 5px 0 15px;
}
#home #featured .single h5.two {
	padding-top: 17px;
}
#home #featured .single .meta {
	color: #707070;
	font: bold 11px Helvetica;
	margin: 0 0 0 15px;
	display: block;
}
#home #featured .single .meta em {
	display: block;
	float: left;
	width: 8px;
	height: 11px;
	margin-right: 7px;
	background: url(https://static.tripfab.com/images6/HomeSprite.png) no-repeat -8px -339px;
}
#home #featured .single .meta em.trip {
	background: url(https://static.tripfab.com/images6/HomeSprite.png) no-repeat -8px -363px;
}
#home #featured .single .info {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 223px;
	height: 56px;
	border-top: 1px solid #ebebeb;
}
#home #featured .price {
	float: left;
	width: 165px;
	height: 36px;
	padding:15px 0 0 15px;
}
#home #featured .price sup {
	font: bold 16px Helvetica;
	float: left;
	display: block;
	color: #303030;
	margin:3px 2px 0 0;
}
#home #featured .price span {
	font: bold 27px Helvetica;
	display: block;
	float: left;
	margin-right: 4px;
}
#home #featured .price sub {
	display: block;
	float: left;
	font: normal 12px Helvetica;
	margin: 8px 0 0 0;
} 
#home #featured .info a {
	display: block;
	float: right;
	height: 32px;
	width: 42px;
	text-indent: -999999px;
	background-color:  #78c2fb;
	margin-top: 13px;
}
#home #featured .info a span {
	background: url(https://static.tripfab.com/images6/HomeSprite.png) no-repeat -73px -202px;
	height: 32px;
	width: 42px;
	display: block;
}
#home #featured .info a:hover {
	background: url(https://static.tripfab.com/images6/HomeLstngH.png) repeat-x 0 0;
}
#home #recommend {
	width: 960px;
	margin: 0 auto;
	padding-bottom: 60px;
}
#home #recommend .ttl {
	background: url(https://static.tripfab.com/images6/HomeLine.png) repeat-x 0 12px;
	height: 36px;
	margin-bottom: 20px;
}
#home #recommend .ttl span {
	display: block;
	margin: 0 auto;
	width: 293px;
	text-align: center;
	font: bold 13px/25px Helvetica;
	color: #555555;
	background-color: #f1f1f1;
	height: 36px;
}
#home #recommend .ttl em {
	display: block;
	width: 36px;
	height: 36px;
	background: url(https://static.tripfab.com/images6/HomeSprite.png) no-repeat 0 -61px;
	float: left;
	margin-left:19px;
}
#home #recommend ul {
	float: left;
    list-style: none outside none;
    padding-right: 10px;
    width: 150px;
}
#home #recommend ul.last {
	padding-right: 0;
}
#home #recommend ul li {
	margin-bottom: 9px;
}
#home #recommend ul li a {
	color: #60B5F7;
    font: 13px Helvetica;
}
#home #recommend ul li a:hover {
	color: #9BD2FC;
}

#home .note {
	position: absolute;
	bottom: -58px;
	left: 100px;
	background: url(https://static.tripfab.com/images6/homeWgG.gif) repeat-x 0 0;
	height:42px;
	color: #303030;
	text-align: center;
	text-shadow: 0px 1px 0px #FFF;
	border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	/*-webkit-box-shadow: 0px 0px 2px 1px rgba(60, 60, 60, 0.2);
	box-shadow: 0px 0px 2px 1px rgba(60, 60, 60, 0.2);
	-moz-shadow:0px 0px 2px 1px rgba(60, 60, 60, 0.2);*/
	width: 485px;
}
#home .note em {
	display: block;
	background: url(https://static.tripfab.com/images6/homeWgS.png) no-repeat 0 0;
	width: 25px;
	height: 11px;
	margin: -8px auto 0;
}
#home .note p.flag {
	background: url(https://static.tripfab.com/images6/homeWf.png) no-repeat 10px 50%;
	padding-left: 22px;
	font: normal 14px/42px Helvetica;
}
#home #note2 {
    text-align: left;
    text-indent: 15px;
}
/*END NEW HOME-------------------------------------------------------------*/
































































