/*- General Styles -----------------------------------------------------------*/
body {
	background: url('../images3/bg.jpg') repeat 0 0;
	color: #616161;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
}
.wrapper {
	width: 848px;
	margin: 0 auto;
}
.clear {
	clear: both;
	text-indent: -9999px;
}
html, body {
   margin:0;
   padding:0;
   height:100%;
}
/*- End of General Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Main Styles -----------------------------------------------------------*/

#main {
	background: url("../images3/main.png") repeat-x scroll 0 0 transparent;
	min-height:100%;
	position:relative;
	line-height: normal;
}

#main > .wrapper {
	position: relative;
}
#main > .wrapper > img.bg {
	left: -127px;
	position: absolute;
	top: 6px;
}
#main .wrapper .left {
	float: left;
	text-align: center;
	width: 315px;
}

#main .wrapper .left img.icon {
	margin-top: 120px;
	position: relative;
	z-index: 100;
}

#main .wrapper .right {
	float: right;
	text-align: center;
	text-shadow: 0 1px 0 #ffffff;
	width: 422px;
	padding-top: 65px;
}

#main .wrapper .right p {
	font-size: 35px;
	font-weight: bold;
	color: #0a3b62;
	margin-top: 20px;
}

#main .wrapper .right p span {
	color: #1e74bb;
}

.form-wrapper {

	margin-top: 30px;
	padding-top: 50px;
	position: relative;
}

.form-wrapper .w3 {
	background: url("../images3/form-bottom.png") no-repeat scroll 0 bottom transparent;
	padding-bottom: 50px;
}
.text {
	padding: 0 40px;
	text-align: center;
	text-shadow: none;
	line-height: normal;
}
.text strong {
	display: block;
	color: #41759f;
	margin-bottom: 4px;
	font-size: 12px;
	cursor: pointer;
}

.text em {
	color: #073153;
	display: block;
	font-size: 11px;
	font-style: normal;
}

.form-wrapper input[type="text"] {
	background: url("../images3/gradient-1.jpg") repeat-x scroll 0 0 #ffffff;
	border: 1px solid #84c3eb;
	border-radius: 3px;
	height: 31px;
	padding: 0 5px;
	width: 210px;
	font: 13px helvetica;
	color: #afafaf;
}

.form-wrapper input[type="text"].error {
	border-color: red;
}
.form-wrapper input[type="text"]:focus {
	box-shadow: 0 0 10px #FFFFFF;
}
.form-wrapper input {
	box-shadow: 0 1px 0 #FFFFFF;
}
.form-wrapper input[type="submit"] {
	background: url("../images3/submit.jpg") no-repeat scroll 0 0 transparent;	
	border:none;
	width: 112px;
	height: 33px;
	cursor: pointer;
}

.form-wrapper img.curiousity {
	left: -75px;
	position: absolute;
	top: 20px;
}

.form-wrapper label.error {
	color: red;
	font-size: 12px;
	left: 0;
	line-height: normal;
	position: absolute;
	top: -5px;
	width: 100%;
}
.message {
	font-size: 16px;
	font-weight: bold;	
	color: #4a7eac;
	text-shadow: 0 1px 0 #fff;
}
.message img {
	vertical-align: middle;
	margin-right: 5px;
}
.social {
	overflow: hidden;
	padding-bottom: 200px;	
}
.w2 {
   float:left;
   width:100%;
   overflow:hidden;
   position:relative;
   margin-top: 50px;
}

.w2 > ul {
	list-style: none;
	clear:left;
	float:left;
	margin:0;
	padding:0;
	position:relative;
	left:50%;
	text-align:center;
}

.w2 > ul li {
	line-height: 23px;
	margin: 0 14px;
	float:left;
	padding:0;
	position:relative;
	right:50%;
}

.w2 > ul li a {
	text-decoration: none;
	line-height: 23px;
	color: #4a7eac;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 0 1px 0 #fff;
}

.w2 > ul li a:hover {
	color: #2d5e8a;
}

.w2 > ul li a img {
	vertical-align: middle;
	margin-right: 10px;
}

/*- End of Main Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Facebook App Styles -----------------------------------------------------------*/

.facebook .wrapper {
	width: 760px;
}

.facebook #main .wrapper .left {
	width: auto;
	float: none;
}

.facebook #main .wrapper .left img {
	margin-top: 6px;
}

.facebook #main .wrapper .left img + img {
	margin-top: 0;
}

.facebook #main .wrapper .right {
	float: none;
	padding: 0;
	width: auto;
}

.facebook #main .wrapper .right .form-wrapper {
	margin: 10px auto 0;
	width: 422px;
}

.facebook #main .wrapper .right p {
	margin-bottom: 10px;
}

/*- End of Facebook App Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Footer Styles -----------------------------------------------------------*/
.facebook #footer {
	display: none;
}

#footer {
	background: url("../images3/footer.jpg") repeat-x scroll 0 0 transparent;
	color: #73a8d4;
	font-size: 11px;
	height: 159px;
	text-align: center;
	text-shadow: 0 1px 0 #FFFFFF;
	position:absolute;
	bottom:0;
	width:100%;
	line-height: 20px;
}
#footer img {
	margin-bottom: 5px;
}
#footer .w1 {
	background: url("../images3/transparency-1.png") no-repeat scroll center 0 transparent;
	padding-top: 20px;
}
/*- End of Footer Styles -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/